#parsePostgreSQLMacros()
#setPostgreSQLVariables()
#writePostgreSQLLicense()
#writePostgreSQLAuthor('Jorge Campins')
#writeInsertSSCC()
update aplicacion set url_aplicacion = '/'||codigo_aplicacion where url_aplicacion is null;
select count(*) from aplicacion;
#break

#macro(writeInsertSSCC)
#set($codigo = "$!{project.rootFolderName}-war")
#set($nombre = "$!{project.wrapper.validDefaultShortDescription}")
insert into aplicacion (id_aplicacion, codigo_aplicacion, nombre_aplicacion, descripcion_aplicacion, es_especial)
values (10101, '${codigo}', '${nombre}', '${nombre}, versión ${implementationVersionStamp}', true);

#end##writeInsertSSCC
