#parsePostgreSQLMacros()
#setPostgreSQLVariables()
#writePostgreSQLLicense()
#writePostgreSQLAuthor('Jorge Campins')
select setval('rol_sq___', 1000);
#set($modules = $ColUtils.filter($project.modulesList, $isRoleModule))
#set($modules = $ColUtils.sort($modules, $byProjectName))
#foreach($module in $modules)
    #writeInsertRow()
#end##foreach-module

select setval('rol_sq___', 10000);
select count(*) from rol;
#break

#macro(writeInsertRow)
insert
    into rol
        (
        id_rol,
        codigo_rol,
        nombre_rol,
        numero_tipo_rol
        )
    select
        nextval('rol_sq___'),
        codigo_tipo_rol||'$module.name',
        codigo_tipo_rol||' de $module.wrapper.validDefaultLabel',
        numero_tipo_rol
    from tipo_rol
    order by numero_tipo_rol
;
#end##writeInsertRow
