#parsePostgreSQLMacros()
#setPostgreSQLVariables()
#writePostgreSQLLicense()
#writePostgreSQLAuthor('Jorge Campins')
#set($modules = $ColUtils.filter($project.modulesList, $isRoleModule))
#set($modules = $ColUtils.sort($modules, $byProjectName))
#foreach($module in $modules)
--
--  $module.wrapper.validDefaultLabel
--
    #set($entities = $ColUtils.filter($module.entitiesList, $isPersistentEntity))
    #set($entities = $ColUtils.sort($entities, $byEntityName))
    #foreach($entity in $entities)
--
--  $entity.wrapper.validDefaultLabel
--
        #writeInsertDefaultCrudOperationRows()
        #writeInsertUserDefinedOperationRows()
    #end##foreach-entity
#end##foreach-module
select count(*) from rol_funcion;
#writeInsertRolFuncionPar()
select count(*) from rol_funcion_par;
#break

#macro(writeInsertDefaultCrudOperationRows)
    #set($selectNumber = $project.getOperationNumber($selectOperationKey, $entity))
    #set($insertNumber = $project.getOperationNumber($insertOperationKey, $entity))
    #set($updateNumber = $project.getOperationNumber($updateOperationKey, $entity))
    #set($deleteNumber = $project.getOperationNumber($deleteOperationKey, $entity))
    #if("$!entity.resourceType" == 'CONFIGURATION')
        #writeInsertRow("$selectNumber" '8, 2, 4, 16')
        #writeInsertRow("$insertNumber, $updateNumber, $deleteNumber" '8, 16')
    #else
        #writeInsertRow("$selectNumber" '1, 2, 4, 16')
        #writeInsertRow("$insertNumber, $updateNumber, $deleteNumber" '1, 16')
    #end
#end##writeInsertDefaultCrudOperationRows

#macro(writeInsertUserDefinedOperationRows)
    #set($operations = $entity.businessOperationsList)
    #set($operations = $ColUtils.sort($operations, $byOperationName))
    #set($operationNumbers = '')
    #set($comma = '')
    #foreach($operation in $operations)
        #set($operationNumbers = "$operationNumbers$comma$project.getOperationNumber($operation)")
        #set($comma = ', ')
    #end##foreach-operation
    #writeInsertRow($operationNumbers '2, 16')
#end##writeInsertUserDefinedOperationRows

#macro(writeInsertRow $operationNumbers $roleTypeNumbers)
#if("$!roleTypeNumbers" != '' && "$!operationNumbers" != '')
insert into rol_funcion (id_rol_funcion, id_rol, id_funcion, es_tarea, es_acceso_personalizado)
    select nextval('rol_funcion_sq___'), id_rol, id_funcion,
    case funcion.numero_tipo_funcion when 41 then true else false end,
    case rol.numero_tipo_rol when 16 then false else es_personalizable end
    from rol, tipo_rol, funcion
    where tipo_rol.numero_tipo_rol = rol.numero_tipo_rol
    and codigo_rol = codigo_tipo_rol||'$module.name'
    and rol.numero_tipo_rol in ($roleTypeNumbers)
    and funcion.id_funcion in ($operationNumbers)
    and funcion.es_publica = false
    order by 1
;

#end
#end##writeInsertRow

#macro(writeInsertRolFuncionPar)
insert into rol_funcion_par (id_rol_funcion_par, id_rol_funcion, id_funcion_parametro)
    select nextval('rol_funcion_par_sq___'), id_rol_funcion, id_funcion_parametro
    from rol_funcion, funcion_parametro
    where rol_funcion.id_funcion = funcion_parametro.id_funcion
    and funcion_parametro.acceso_restringido is true
    order by 1
;

#end##writeInsertRolFuncionPar
