#set($componentName = "label${fieldFirstName}")
#parse("$templatePath/blocks/webuijsf/label.vm")
#set($componentName = "campo${fieldFirstName}")
#parse("$templatePath/blocks/webuijsf/text-field.vm")
#set($componentName = "campo${fieldFirstName}Texto1")
#parse("$templatePath/blocks/webuijsf/static-text-1.vm")
#set($componentName = "helpInline${fieldFirstName}")
#parse("$templatePath/blocks/webuijsf/help-inline.vm")
#set($componentName = "campo${fieldFirstName}Boton1")
#parse("$templatePath/blocks/webuijsf/button-1.vm")
#if($fieldForeignNameSqlName == '')
    #set($componentName = "campo${fieldFirstName}Boton3")
    #parse("$templatePath/blocks/webuijsf/button-2.vm")
#end
#if($fieldForeignNameSqlName != '')
    #set($componentName = "label${fieldMiddleName}")
    #parse("$templatePath/blocks/webuijsf/label.vm")
    #set($componentName = "campo${fieldFirstName}Texto2")
    #parse("$templatePath/blocks/webuijsf/static-text-2.vm")
    #set($componentName = "campo${fieldFirstName}Boton2")
    #parse("$templatePath/blocks/webuijsf/button-2.vm")
#end
#parse("$templatePath/blocks/console/column/shared.vm")
#break
