#set($componentName = "label${fieldFirstName}")
#parse("$templatePath/blocks/webuijsf/label.vm")
#set($componentName = "campo${fieldFirstName}")
#parse("$templatePath/blocks/webuijsf/text-field.vm")
#set($componentName = "helpInline${fieldFirstName}")
#parse("$templatePath/blocks/webuijsf/help-inline.vm")
#set($componentName = "converter${fieldFirstName}")
#setNumericConverterClassName()
#parse("$templatePath/blocks/webuijsf/component.vm")
#set($componentName = "validator${fieldFirstName}")
#setNumericValidatorClassName()
#parse("$templatePath/blocks/webuijsf/component.vm")
#writeValidatorExpression()
#parse("$templatePath/blocks/console/column/shared.vm")
#break

#macro(setNumericConverterClassName)
    #if($parameter.isBigDecimalData() || $parameter.isDoubleData() || $parameter.isFloatData())
        #set($componentClassName = 'NumberConverter')
    #elseif($parameter.isEntity())
        #set($componentClassName = "${parameter.primaryKeyProperty.dataType.simpleName}Converter")
    #else
        #set($componentClassName = "${parameter.dataType.simpleName}Converter")
    #end
#end##setNumericConverterClassName

#macro(setNumericValidatorClassName)
    #if($parameter.isBigDecimalData() || $parameter.isDoubleData() || $parameter.isFloatData())
        #set($componentClassName = 'DoubleRangeValidator')
    #else
        #set($componentClassName = 'LongRangeValidator')
    #end
#end##setNumericValidatorClassName

#macro(writeValidatorExpression)
    /**
     * ${campo1}.validatorExpression
     */
    public void ${campo1}_validate(FacesContext context, UIComponent component, Object value) {
        validator${fieldFirstName}.validate(context, component, value);
    #set($fieldDivisorRule = "$!parameter.divisorRule")
    #if($fieldDivisorRule == 'CHECK' && $parameter.divisor > 0)
        if (value != null) {
            if (NumUtils.multiple($!{parameterObjUtilsMethod}(value), $parameter.divisor)) {
            } else {
                String summary = Bitacora.getTextoMensaje(CBM.CHECK_CHANGES_EXCEPTION_7, "$parameter.divisor");
                FacesMessage message = new FacesMessage(FacesMessage.SEVERITY_ERROR, summary, null);
                throw new ValidatorException(message);
            }
        }
    #end
    }

#end##writeValidatorExpression
