#setGlobalVariables()
#set($messageDigestAlgorithm = "$!project.messageDigestAlgorithm")
#set($messageDigestAlgorithm = "$!StringUtils.defaultIfBlank($messageDigestAlgorithm, 'MD5')")
REM variables de ambiente $!System.getProperties().getProperty('os.name')
set EEAS=$targetApplicationServer
set DBMS=$targetDatabaseServer
#if("$!project.internetAccessAllowed" != '')
....REM la variable INTERNET_ACCESS_ALLOWED especifica si se permite, o no, el acceso a Internet
....REM su valor debe ser true o false
....set INTERNET_ACCESS_ALLOWED=$project.internetAccessAllowed
#end
#if("$!project.projectMailingEnabled" != '')
....REM la variable PROJECT_MAILING_ENABLED especifica si se habilita, o no, el correo electrónico
....REM su valor debe ser true o false
....set PROJECT_MAILING_ENABLED=$project.projectMailingEnabled
#end
#if("$!project.projectStage" != '')
....REM la variable PROJECT_STAGE especifica la fase actual del proyecto
....REM su valor debe ser Development, Testing, Acceptance o Production
....set PROJECT_STAGE=$StringUtils.capitalize($project.projectStage.name().toLowerCase())
#end
REM la variable MESSAGE_DIGEST_ALGORITHM especifica el algoritmo para encriptar los password
REM su valor debe ser MD2, MD5, SHA-1, SHA-256, SHA-384 o SHA-512
set MESSAGE_DIGEST_ALGORITHM=$messageDigestAlgorithm
REM la variable DATE_COMMAND_FORMAT especifica el formato de fecha
REM su valor debe corresponder al formato de fecha de la configuración regional de windows
REM el valor debe ser DMY (dia, mes y año), MDY (mes, dia y año) o YMD (año, mes y dia)
set DATE_COMMAND_FORMAT=DMY
