#break

#macro(setOperationVariables)
    #set($OPERATION_TYPE = "$!operation.operationType")
    #set($OPERATION_NAME = "$!operation.wrapper.javaConstantName")
    #set($TIPO_OPERACION = '')
    #if($OPERATION_TYPE == 'CRUD')
    #elseif($OPERATION_TYPE == 'EXPORT')
        #set($TIPO_OPERACION = 'ARCHIVO')
    #elseif($OPERATION_TYPE == 'REPORT')
        #set($TIPO_OPERACION = 'INFORME')
    #elseif($OPERATION_TYPE == 'PROCEDURE')
        #set($TIPO_OPERACION = 'PROCEDIMIENTO')
    #elseif($OPERATION_TYPE == 'PROCESS')
        #set($TIPO_OPERACION = 'PROCESO')
    #end
    #if($TIPO_OPERACION != '')
        #set($operationName  = $operation.properName)
    #else
        #set($operationName  = '')
    #end
#end##setOperationVariables

#macro(writeFilterExpression)
    #set($queryTable = $filterEntity.queryTable)
    #set($parameterizedExpression = $filterExpression.wrapper.javaParameterizedExpression)
    #set($parametersMap = $parameterizedExpression.parametersMap)
    #set($namedValuesMap = $parameterizedExpression.namedValuesMap)
        if (es) {
            String string;
            Object object;
            #writeNamedValues()
            /**/
            #foreach($parameterKey in $parametersMap.keySet())
                #set($artifact = $parametersMap.get($parameterKey))
                #setArtifactVariables($artifact)
                #if($artifact == $filterEntity)
........            string = "$!sqlProgrammer.getSqlAlias($artifact.primaryKeyProperty, $queryTable)";
........            object = getValue(string, rowKey);
                #elseif($artifact.isProperty())
........            string = "$!sqlProgrammer.getSqlAlias($artifact, $queryTable)";
........            object = getValue(string, rowKey);
                #else
........            string = null;
........            object = null;
                #end
....            $artifactJavaType $parameterKey = $artifactObjUtilsMethod(object);
....            /**/
            #end
            #set($maxLineLength = 0)
            #set($newLineString = '<EOL>')
            #set($string2split = "$!parameterizedExpression.expression")
            #set($string2split = "es = $string2split;")
            #set($string2split = $string2split.replace("&&", "${newLineString}${TAB}&&"))
            #set($string2split = $string2split.replace("||", "${newLineString}${TAB}||"))
            #set($string2split = $string2split.replace("), ", "),${newLineString}${TAB}"))
            #set($string2lines = $VelocityAid.split($string2split, $maxLineLength, $newLineString, $FALSE, $TAB))
            #foreach($line in $string2lines)
....            ${line}
            #end
            #if("$!filterErrorMessageBundle" != '' && "$!filterErrorMessageBundleMethod" != '' && "$!filterErrorMessageBundleKey" != '')
                #writeFilterExpressionErrorMessage()
            #end
        }
#end##writeFilterExpression

#macro(writeFilterExpressionErrorMessage)
            if (!es) {
                String arg0 = BundleDominios.getShortLabel(CODIGO_DOMINIO_RECURSO);
                String arg1 = getEtiquetaRecurso(rowKey);
                #if($filterExpression)
                    #set($filterExpressionDefaultErrorMessage = "$!filterExpression.wrapper.bundleDefaultErrorMessageChoice")
                #else
                    #set($filterExpressionDefaultErrorMessage = '')
                #end
                #if($filterExpressionDefaultErrorMessage == '')
....                TLC.getBitacora().error(CBM.RECURSO_NO_PROCESABLE, arg0, arg1, "");
                #else
....//              String arg2 = "$filterExpressionDefaultErrorMessage";
....                String arg2 = StrUtils.enclose(${filterErrorMessageBundle}.${filterErrorMessageBundleMethod}("${filterErrorMessageBundleKey}"));
....                TLC.getBitacora().error(CBM.RECURSO_NO_PROCESABLE, arg0, arg1, arg2);
                #end
            }
#end##writeFilterExpressionErrorMessage

#macro(writeNamedValues)
    #foreach($name in $namedValuesMap.keySet())
//          Object $name = null;
    #end
#end##writeNamedValues

#macro(addParametros $tabCount)
    #setIndentation($tabCount)
    #foreach($property in $dataProviderColumns)
        #if($property.isAuditable())
            #if("$!property.propertyAccess" == 'RESTRICTED_READING')
....$tab        if (TLC.getControlador().esParametroAutorizado(COLUMNA_${property.wrapper.javaConstantName}, ${FUNCION_SELECT})) {
....$tab            rastro.addParametro(PARAMETRO_${property.wrapper.javaConstantName}, get${property.wrapper.javaClassName}(rowKey));
....$tab        }
            #else
....$tab        rastro.addParametro(PARAMETRO_${property.wrapper.javaConstantName}, get${property.wrapper.javaClassName}(rowKey));
            #end
        #end
    #end##foreach-property
    #resetIndentation()
#end##addParametros

#macro(addParametrosUpdate $tabCount)
    #setIndentation($tabCount)
    #foreach($property in $dataProviderColumns)
        #if($property.isAuditable())
            #if("$!property.propertyAccess" == 'RESTRICTED_READING')
....$tab        if (TLC.getControlador().esParametroAutorizado(COLUMNA_${property.wrapper.javaConstantName}, ${FUNCION_SELECT})) {
....$tab            rastro.addParametro(PARAMETRO_${property.wrapper.javaConstantName}, get${property.wrapper.javaClassName}(rowKey), originalRow.getObject(COLUMNA_${property.wrapper.javaConstantName}));
....$tab        }
            #else
....$tab        rastro.addParametro(PARAMETRO_${property.wrapper.javaConstantName}, get${property.wrapper.javaClassName}(rowKey), originalRow.getObject(COLUMNA_${property.wrapper.javaConstantName}));
            #end
        #end
    #end##foreach-property
    #resetIndentation()
#end##addParametrosUpdate
