select distinct
lower(table_name) as table_name,
nombre_clase_recurso as default_label,
nombre_dominio as default_collection_label,
case when(numero_tipo_recurso<20) then('configuration') else('operation') end as resource_type,
case when(numero_tipo_recurso=12) then('Y') else('N') end as is_enumerable,
case when(es_clase_recurso_independiente=0) then('N') else('Y') end as is_independent
from user_tables
left outer join dominio inner join clase_recurso on clase_recurso.id_clase_recurso=dominio.id_clase_recurso on upper(dominio.codigo_dominio)=table_name
where tablespace_name is not null and tablespace_name <> 'SYSTEM'
order by 1
