$tab<webuijsf:tableColumn id="tableColumn1"
$tab    align="center"
$tab    binding="#{${pageBeanName}.tableColumn1}">
$tab    <webuijsf:button id="botonEscogerFila1"
$tab        actionExpression="#{${pageBeanName}.botonEscogerFila1_action}"
$tab        binding="#{${pageBeanName}.botonEscogerFila1}"
$tab        disabled="#{${pageBeanName}.gestor.funcionPickItemInhabilitada}" 
$tab        imageURL="#{${pageBeanName}.gestor.urlImagenEscoger}" 
$tab        onClick="#{${pageBeanName}.gestor.scriptEscoger}"
$tab        text="#{${pageBeanName}.gestor.i18n.textoBotonEscogerFila}"
$tab        toolTip="#{${pageBeanName}.gestor.i18n.toolTipBotonEscogerFila}"/>
$tab    <webuijsf:button id="botonDetallarFila1"
$tab        actionExpression="#{${pageBeanName}.botonDetallarFila1_action}"
$tab        binding="#{${pageBeanName}.botonDetallarFila1}"
$tab        disabled="#{${pageBeanName}.gestor.funcionPickItemInhabilitada}" 
$tab        imageURL="#{${pageBeanName}.gestor.urlImagenDetallar}" 
$tab        onClick="#{${pageBeanName}.scriptAbrirVentanaVerDetalle}"
$tab        rendered="#{${pageBeanName}.gestor.detalleDisponible}" 
$tab        text="#{${pageBeanName}.gestor.i18n.textoBotonDetallarFila}"
$tab        toolTip="#{${pageBeanName}.gestor.i18n.toolTipBotonDetallarFila}"/>
$tab    <webuijsf:button id="botonProcesarFila1"
$tab        actionExpression="#{${pageBeanName}.botonProcesarFila1_action}"
$tab        binding="#{${pageBeanName}.botonProcesarFila1}"
$tab        disabled="#{${pageBeanName}.gestor.funcionPickItemInhabilitada}" 
$tab        imageURL="#{${pageBeanName}.gestor.urlImagenProcesar}" 
$tab        onClick="#{${pageBeanName}.scriptAbrirVentanaProcesarFila1}"
$tab        rendered="#{${pageBeanName}.comandoDisponible}" 
$tab        text="#{${pageBeanName}.gestor.i18n.textoBotonProcesarFila}"
$tab        toolTip="#{${pageBeanName}.gestor.i18n.toolTipBotonProcesarFila}"/>
$tab    <webuijsf:button id="botonRetornarFila1"
$tab        actionExpression="#{${pageBeanName}.botonRetornarFila1_action}"
$tab        binding="#{${pageBeanName}.botonRetornarFila1}" 
$tab        disabled="#{${pageBeanName}.gestor.funcionReturnInhabilitada}"
$tab        imageURL="#{${pageBeanName}.gestor.urlImagenRetornar}"
$tab        onClick="#{${pageBeanName}.gestor.scriptRetornarRecursoActual}"
$tab        rendered="#{${pageBeanName}.gestor.funcionReturnVisible}" 
$tab        text="#{${pageBeanName}.gestor.i18n.textoBotonRetornarFila}"
$tab        toolTip="#{${pageBeanName}.gestor.i18n.toolTipBotonRetornarFila}"/>
$tab</webuijsf:tableColumn>
