#set($fieldRows = 0)
#set($fieldColumns = 0)
#set($fieldMaxLength = 0)
#set($fieldMaxLength = $VelocityAid.coalesce($field.property.maxLength, 0))
#if($fieldMaxLength == 0 || $fieldMaxLength > 200)
    #set($fieldColumns = $fieldColumnsLimit)
#elseif($fieldMaxLength <= 10)
    #set($fieldColumns = 10)
#elseif($fieldMaxLength <= 20)
    #set($fieldColumns = 20)
#elseif($fieldMaxLength <= 50)
    #set($fieldColumns = $fieldColumnsLimit)
#else
    #set($fieldColumns = $fieldColumnsLimit)
#end
$tab<webuijsf:tableColumn id="tableColumn${fieldFirstName}"
$tab    binding="#{${pageBeanName}.tableColumn${fieldFirstName}}"
    #if(!$field.property.headertextlessField)
$tab    headerText="BundleParametros.${page.entity.wrapper.sqlSchemaQualifiedShortName}.${field.property.wrapper.sqlName}"
    #end
##      rendered="true"
$tab    rendered="#{${pageBeanName}.asistente.column${fieldClassName}Rendered}"
$tab    sort="$fieldSqlName">
$tab    <webuijsf:label id="label${fieldFirstName}"
$tab        binding="#{${pageBeanName}.label${fieldFirstName}}"
$tab        for="${campo1}"/>
$tab    <webuijsf:textField id="${campo1}"
$tab        binding="#{${pageBeanName}.$campo1}"
$tab        columns="$fieldColumns"
        #if($fieldMaxLength > 0)
$tab        maxLength="$fieldMaxLength"
        #end
$tab        readOnly="$fieldReadOnly"
$tab        rendered="$fieldRendered"
$tab        required="$fieldRequired"
$tab        text="#{${sourceVar}.value['$fieldSqlName']}"
$tab        toolTip="BundleParametros.${page.entity.wrapper.sqlSchemaQualifiedShortName}.${field.property.wrapper.sqlName}"
$tab        validatorExpression="#{${pageBeanName}.${campo1}_validate}"/>
    #if("$!field.property.urlDisplayType" == 'BUTTON')
$tab    <webuijsf:imageHyperlink id="${campo1}Boton3"
$tab        binding="#{${pageBeanName}.${campo1}Boton3}"
$tab        onClick="#{${pageBeanName}.asistente.script${Campo1}Boton3}"
$tab        url="#{${pageBeanName}.asistente.url${Campo1}Boton3}"
$tab        rendered="#{${pageBeanName}.asistente.${campo1}Boton3Rendered}"
$tab        toolTip="#{${pageBeanName}.asistente.toolTip${Campo1}Boton3}"/>
    #elseif("$!field.property.urlDisplayType" == 'HYPERLINK')
$tab    <webuijsf:imageHyperlink id="${campo1}Hiper3"
$tab        binding="#{${pageBeanName}.${campo1}Hiper3}"
$tab        onClick="#{${pageBeanName}.asistente.script${Campo1}Hiper3}"
$tab        url="#{${pageBeanName}.asistente.url${Campo1}Hiper3}"
$tab        rendered="#{${pageBeanName}.asistente.${campo1}Hiper3Rendered}"
$tab        text="#{${pageBeanName}.asistente.text${Campo1}Hiper3}"
$tab        toolTip="#{${pageBeanName}.asistente.toolTip${Campo1}Hiper3}"/>
    #else
$tab    <webuijsf:staticText id="${campo1}Texto1"
$tab        binding="#{${pageBeanName}.${campo1}Texto1}"/>
    #end
$tab    <webuijsf:message id="message${fieldFirstName}"
$tab        for="${campo1}"/>
$tab</webuijsf:tableColumn>
