*.cli
*.dir
*.ear
*.err
*.jar
*.lnk
*.log
*.out
*.symlink
*.war
*.zip

/source/adalid-alfa/.classpath
/source/adalid-alfa/.project
/source/adalid-alfa/.settings/
/source/adalid-alfa/src/test/
/source/adalid-alfa/target/

/source/adalid-code-templates/build/
/source/adalid-code-templates/nbproject/build-impl.xml
/source/adalid-code-templates/nbproject/genfiles.properties
/source/adalid-code-templates/nbproject/private/

/source/meta-jee2-archetype/src/test/
/source/meta-jee2-archetype/target/
