#set($fieldRows = 0)
#set($fieldColumns = 0)
#set($fieldMaxLength = 0)
#if($field.property.isCharacterData())
    #set($fieldColumns = 1)
    #set($fieldMaxLength = 1)
#elseif($field.property.isStringData())
    #set($fieldMaxLength = $VelocityAid.coalesce($field.property.maxLength, 0))
    #if($fieldMaxLength == 0 || $fieldMaxLength > 200)
        #set($fieldRows = 3)
        #set($fieldColumns = 100)
    #elseif($fieldMaxLength <= 10)
        #set($fieldColumns = 10)
    #elseif($fieldMaxLength <= 20)
        #set($fieldColumns = 20)
    #elseif($fieldMaxLength <= 50)
        #set($fieldColumns = 50)
    #else
        #set($fieldColumns = 100)
    #end
#end
$tab<h:panelGrid id="panelGrid${panelGridSequence.next()}"
    #if($tabString == '')
$tab    rendered="#{${pageBeanName}.asistente.grid${fieldClassName}Rendered}"
    #else
$tab    rendered="#{${pageBeanName}.asistente.grid${fieldClassName}RenderedInsideTabs}"
    #end
$tab    styleClass="pdq-grid-etiqueta-1">
$tab    <webuijsf:label id="label${fieldFirstName}${tabString}"
$tab        binding="#{${pageBeanName}.label${fieldFirstName}${tabString}}"
$tab        for="${campo1}${tabString}"
##          text="$field.property.wrapper.xmlValidDefaultShortLabel"/>
$tab        text="BundleParametros.${page.entity.wrapper.sqlSchemaQualifiedShortName}.${field.property.wrapper.sqlName}"/>
$tab</h:panelGrid>
$tab<h:panelGrid id="panelGrid${panelGridSequence.next()}"
$tab    columns="7"
    #if($tabString == '')
$tab    rendered="#{${pageBeanName}.asistente.grid${fieldClassName}Rendered}"
    #else
$tab    rendered="#{${pageBeanName}.asistente.grid${fieldClassName}RenderedInsideTabs}"
    #end
$tab    styleClass="pdq-grid-elemento-1">
    #if($fieldRows > 0)
$tab    <webuijsf:textArea id="${campo1}${tabString}"
$tab        binding="#{${pageBeanName}.${campo1}${tabString}}"
$tab        columns="$fieldColumns"
$tab        readOnly="$fieldReadOnly"
$tab        required="$fieldRequired"
$tab        rows="$fieldRows"
$tab        text="#{${sourceVar}.${fieldVariableName}}"
##          toolTip="$field.property.wrapper.xmlValidDefaultTooltip"/>
$tab        toolTip="BundleParametros.${page.entity.wrapper.sqlSchemaQualifiedShortName}.${field.property.wrapper.sqlName}"/>
    #else
$tab    <webuijsf:textField id="${campo1}${tabString}"
$tab        binding="#{${pageBeanName}.${campo1}${tabString}}"
$tab        columns="$fieldColumns"
        #if($field.property.isCharacterData())
$tab        converter="#{${pageBeanName}.converter${fieldFirstName}}"
        #end
        #if($fieldMaxLength > 0)
$tab        maxLength="$fieldMaxLength"
        #end
$tab        readOnly="$fieldReadOnly"
$tab        required="$fieldRequired"
$tab        text="#{${sourceVar}.${fieldVariableName}}"
##          toolTip="$field.property.wrapper.xmlValidDefaultTooltip"/>
$tab        toolTip="BundleParametros.${page.entity.wrapper.sqlSchemaQualifiedShortName}.${field.property.wrapper.sqlName}"
$tab        validatorExpression="#{${pageBeanName}.${campo1}_validate}"/>
    #end
$tab    <webuijsf:staticText id="${campo1}${tabString}Texto1"
$tab        binding="#{${pageBeanName}.${campo1}${tabString}Texto1}"/>
$tab    <webuijsf:button id="${campo1}${tabString}Boton3"
$tab        binding="#{${pageBeanName}.${campo1}${tabString}Boton3}"
$tab        onClick="#{${pageBeanName}.asistente.script${Campo1}Boton3}"
$tab        rendered="#{${pageBeanName}.asistente.${campo1}Boton3Rendered}"
$tab        text="#{${pageBeanName}.asistente.text${Campo1}Boton3}"
$tab        toolTip="#{${pageBeanName}.asistente.toolTip${Campo1}Boton3}"/>
$tab    <webuijsf:message id="message${fieldFirstName}${tabString}"
$tab        for="${campo1}${tabString}"/>
$tab    <webuijsf:helpInline id="helpInline${fieldFirstName}${tabString}"
$tab        binding="#{${pageBeanName}.helpInline${fieldFirstName}${tabString}}"
$tab        rendered="#{SessionBean1.contextoSesion.helpInlineRendered}"
$tab        styleClass="pdq-helpInline-field"
##          text="$field.property.wrapper.xmlValidDefaultShortDescription"
$tab        text="BundleParametros.${page.entity.wrapper.sqlSchemaQualifiedShortName}.${field.property.wrapper.sqlName}"
$tab        type="field"/>
$tab</h:panelGrid>
#break
