#if($field.property.isByteData())
    #set($fieldMaxLength = 4)##-256
#elseif($field.property.isShortData())
    #set($fieldMaxLength = 7)##-32,768
#elseif($field.property.isIntegerData())
    #set($fieldMaxLength = 14)##-2.147.483.648
#elseif($field.property.isLongData())
    #set($fieldMaxLength = 26)##-9.223.372.036.854.775.808
#else
    #set($fieldMaxLength = 0)
#end
$tab<h:panelGrid id="panelGrid${panelGridSequence.next()}"
    #if($tabString == '')
$tab    rendered="#{${pageBeanName}.asistente.grid${fieldClassName}Rendered}"
    #else
$tab    rendered="#{${pageBeanName}.asistente.grid${fieldClassName}RenderedInsideTabs}"
    #end
$tab    styleClass="pdq-grid-etiqueta-1">
$tab    <webuijsf:label id="label${fieldFirstName}${tabString}"
$tab        binding="#{${pageBeanName}.label${fieldFirstName}${tabString}}"
$tab        for="${campo1}${tabString}"
##          text="$field.property.wrapper.xmlValidDefaultShortLabel"/>
$tab        text="BundleParametros.${page.entity.wrapper.sqlSchemaQualifiedShortName}.${field.property.wrapper.sqlName}"/>
$tab</h:panelGrid>
$tab<h:panelGrid id="panelGrid${panelGridSequence.next()}"
$tab    columns="7"
    #if($tabString == '')
$tab    rendered="#{${pageBeanName}.asistente.grid${fieldClassName}Rendered}"
    #else
$tab    rendered="#{${pageBeanName}.asistente.grid${fieldClassName}RenderedInsideTabs}"
    #end
$tab    styleClass="pdq-grid-elemento-1">
$tab    <webuijsf:textField id="${campo1}${tabString}"
$tab        binding="#{${pageBeanName}.${campo1}${tabString}}"
$tab        columns="20"
$tab        converter="#{${pageBeanName}.converter${fieldFirstName}}"
        #if($fieldMaxLength > 0)
$tab        maxLength="$fieldMaxLength"
        #end
$tab        readOnly="$fieldReadOnly"
$tab        required="$fieldRequired"
$tab        text="#{${sourceVar}.${fieldVariableName}}"
##          toolTip="$field.property.wrapper.xmlValidDefaultTooltip"
$tab        toolTip="BundleParametros.${page.entity.wrapper.sqlSchemaQualifiedShortName}.${field.property.wrapper.sqlName}"
$tab        validatorExpression="#{${pageBeanName}.${campo1}_validate}"/>
$tab    <webuijsf:staticText id="${campo1}${tabString}Texto1"
$tab        binding="#{${pageBeanName}.${campo1}${tabString}Texto1}"
$tab        converter="#{${pageBeanName}.converter${fieldFirstName}}"/>
        #if($field.property.isDiscriminatorProperty())
            #parse("$templatePath/blocks/detail/column/discriminator.vm")
        #end
$tab    <webuijsf:message id="message${fieldFirstName}${tabString}"
$tab        for="${campo1}${tabString}"/>
$tab    <webuijsf:helpInline id="helpInline${fieldFirstName}${tabString}"
$tab        binding="#{${pageBeanName}.helpInline${fieldFirstName}${tabString}}"
$tab        rendered="#{SessionBean1.contextoSesion.helpInlineRendered}"
$tab        styleClass="pdq-helpInline-field"
##          text="$field.property.wrapper.xmlValidDefaultShortDescription"
$tab        text="BundleParametros.${page.entity.wrapper.sqlSchemaQualifiedShortName}.${field.property.wrapper.sqlName}"
$tab        type="field"/>
$tab</h:panelGrid>
