#break

#macro(addPaginaActualizacionImports)
    #if($entity)
        #set($clazz = "${entityDataProviderPackage}.${entityDataProviderClass}")
        #set($added = $imports.add($clazz))
    #end
    #if($entity)
        #if($isExportOperationInEntity.evaluate($entity))
            #set($added = $imports.add("${project.rootPackageName}.ejb.core.exporter.ExporterBrokerLocal"))
        #end
        #if($isReportOperationInEntity.evaluate($entity))
            #set($added = $imports.add("${project.rootPackageName}.ejb.core.reporter.ReporterBrokerLocal"))
        #end
        #if($isProcedureOperationInEntity.evaluate($entity))
            #set($added = $imports.add("${project.rootPackageName}.ejb.core.sqlagent.SqlAgentBrokerLocal"))
        #end
        #if($entityHasSimpleProcessOperations)
            #set($added = $imports.add("${project.rootPackageName}.ejb.core.jms.BusinessProcessMessengerLocal"))
            #set($added = $imports.add("${project.rootPackageName}.ejb.business.process.${entityBusinessProcessLocal}"))
            #set($added = $imports.add("${project.rootPackageName}.lib.core.jms.message.AbstractMessage"))
            #foreach($operation in $operations)
                #setOperationVariables()
                #if($operationType == 'PROCEDURE' || $operationType == 'PROCESS')
                    #set($added = $imports.add("${project.rootPackageName}.ejb.business.message.${entity.wrapper.javaClassName}${operationClassName}Message"))
                #end
            #end##foreach-operation
            #set($added = $imports.add("javax.jms.ObjectMessage"))
        #end
    #end
    #set($added = $imports.add("${project.rootPackageName}.lib.base.bundle.BundleParametros"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.constant.CBM"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.app.constant.URX"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.entity.enumeration.OperadorComEnumeration"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.entity.constant.${entityClassName}Constants"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.enumeration.EnumOpcionBinaria"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.persistence.entity.*"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.persistence.facade.*"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.util.NumUtils"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.util.StrUtils"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.util.TimeUtils"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.util.ThrowableUtils"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.enumeration.EnumOpcionBinaria"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.enumeration.EnumTipoQuery"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.app.Bitacora"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.app.ExcepcionAplicacion"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.app.ConsultaBusqueda"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.app.EJBL"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.app.FiltroBusqueda"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.app.TLC"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.constant.Global"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.control.Auditor"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.enumeration.EnumColumnaEtiqueta"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.jsf.JSF"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.util.TypeValuePair"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.web.BaseBundle"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.web.app.RowChecker"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.web.app.GestorBusquedaReferencia"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.web.app.RowProcessor"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.web.util.ObjUtils"))
    #set($added = $imports.add("${project.rootPackageName}.lib.data.app.ConsultaBusquedaBuilder"))
    #set($added = $imports.add("${project.rootPackageName}.web.commons.interfaces.${PaginaActualizacion}"))
    #set($added = $imports.add("${project.rootPackageName}.web.util.ClassX"))
    #set($added = $imports.add('com.sun.data.provider.RowKey'))
    #set($added = $imports.add('com.sun.webui.jsf.model.Option'))
    #set($added = $imports.add('java.sql.ResultSet'))
    #set($added = $imports.add('java.util.ArrayList'))
    #set($added = $imports.add('java.util.LinkedHashMap'))
    #set($added = $imports.add('java.util.List'))
    #set($added = $imports.add('java.util.Map'))
    #set($added = $imports.add('javax.faces.application.FacesMessage'))
    #set($added = $imports.add('javax.faces.component.UIComponent'))
    #set($added = $imports.add('javax.faces.context.FacesContext'))
    #set($added = $imports.add('javax.faces.validator.ValidatorException'))
    #set($added = $imports.add('javax.jms.ObjectMessage'))
    #set($added = $imports.add('org.apache.commons.lang.StringUtils'))
    #foreach($property in $entity.dataProviderColumnsList)
        #if(!$property.isHiddenField())
            #if($property.isEntity())
                #set($clazz = $property.root.wrapper.javaClassName)
                #set($added = $imports.add("${project.rootPackageName}.lib.base.entity.constant.${clazz}Constants"))
                #if($property.isEnumerationEntity())
                    #set($added = $imports.add("${project.rootPackageName}.lib.base.entity.enumeration.${clazz}Enumeration"))
                #end
            #end
        #end
    #end##foreach-property
#end##addPaginaActualizacionImports
