#break

#macro(setFieldVariables)
    #set($fieldClassName = "${property.wrapper.javaClassName}")
    #set($fieldConstantName = "${property.wrapper.javaConstantName}")
    #set($fieldVariableName = "${property.wrapper.javaVariableName}")
    #set($fieldFirstName = "${fieldClassName}1")
    #set($fieldMiddleName = "${fieldClassName}2")
    #set($fieldLastName = "${fieldClassName}3")
    #set($fieldSearchType = "$!property.searchType")
    #set($fieldSearchDisplayMode = "$!property.searchDisplayMode")
    #set($fieldSearchListStyle = "$!property.listStyle")
    #set($Campo1 = "Campo$fieldFirstName")
    #set($campo1 = "campo$fieldFirstName")
    #set($field_campo1 = "bean.get${Campo1}()")
    #set($fieldObjUtilsMethod = '')
    #set($fieldValueExpression = 'null')
    #if($property.isEntity())
        #set($fieldObjUtilsMethod = "ObjUtils.to$!{property.primaryKeyProperty.dataType.simpleName}")
        #if($fieldSearchType == 'LIST')
            #set($fieldValueExpression = "${fieldObjUtilsMethod}(${field_campo1})")
        #elseif($fieldSearchType == 'DISPLAY')
            #set($fieldValueExpression = "${fieldObjUtilsMethod}(${parameterVariableName})")
        #else
            #set($fieldValueExpression = "${fieldObjUtilsMethod}(${field_campo1})")
        #end
    #elseif($property.isBinaryPrimitive())
        #set($fieldObjUtilsMethod = "ObjUtils.to$!{property.dataType.simpleName}")
        #set($fieldValueExpression = "${fieldObjUtilsMethod}(${field_campo1})")
    #elseif($property.isBooleanPrimitive())
        #set($fieldObjUtilsMethod = 'ObjUtils.toBoolean')
        #set($fieldValueExpression = "${fieldObjUtilsMethod}(${field_campo1})")
    #elseif($property.isCharacterPrimitive())
        #set($fieldObjUtilsMethod = "ObjUtils.to$!{property.dataType.simpleName}")
        #set($fieldValueExpression = "${fieldObjUtilsMethod}(${field_campo1})")
    #elseif($property.isNumericPrimitive())
        #set($fieldObjUtilsMethod = "ObjUtils.to$!{property.dataType.simpleName}")
        #set($fieldValueExpression = "${fieldObjUtilsMethod}(${field_campo1})")
    #elseif($property.isTemporalPrimitive())
        #set($fieldObjUtilsMethod = "ObjUtils.to$!{property.dataType.simpleName}")
        #set($fieldValueExpression = "${fieldObjUtilsMethod}(${field_campo1})")
    #end
#end##setFieldVariables
