#set($sourceSchema = $merger.oldSchema)
#set($targetSchema = $merger.newSchema)
#set($midwaySchema = 'midway')
#set($sourceQualifier = "${sourceSchema}.")
#set($targetQualifier = "${targetSchema}.")
#set($midwayQualifier = "${midwaySchema}.")
#set($currentKeyOf = "${midwayQualifier}current_key_of_")
#set($currentKeyOfFunctions = $VelocityAid.getNewTreeSet())
#set($specialTableNames = $VelocityAid.getNewTreeSet())
#set($joinClauses = $VelocityAid.getNewLinkedHashMap())
#set($whereClauses = $VelocityAid.getNewLinkedHashMap())
#addSelectClauses()
#break

#macro(addSelectClauses)
#*
    #set($tabla = 'caso_prueba')
    #set($added = $specialTableNames.add($tabla))
    #set($where = "(${tabla}.funcion is null or ${currentKeyOf}funcion(${tabla}.funcion) is not null)")
    #set($added = $whereClauses.put($tabla, $where))
*###
    #set($tabla = 'conjunto_segmento')
    #set($added = $specialTableNames.add($tabla))
    #set($where = "${currentKeyOf}clase_recurso(${tabla}.id_clase_recurso) is not null")
    #set($added = $whereClauses.put($tabla, $where))
##
    #set($tabla = 'elemento_segmento')
    #set($added = $specialTableNames.add($tabla))
    #set($joint = "inner join ${sourceQualifier}conjunto_segmento")
    #set($joint = "$joint on conjunto_segmento.id_conjunto_segmento = ${tabla}.id_conjunto_segmento")
    #set($added = $joinClauses.put($tabla, $joint))
    #set($where = "${currentKeyOf}clase_recurso(conjunto_segmento.id_clase_recurso) is not null")
    #set($added = $whereClauses.put($tabla, $where))
##
    #set($tabla = 'filtro_funcion')
    #set($added = $specialTableNames.add($tabla))
    #set($where = "${currentKeyOf}funcion(${tabla}.id_funcion) is not null")
    #set($added = $whereClauses.put($tabla, $where))
##
    #set($tabla = 'filtro_funcion_par')
    #set($added = $specialTableNames.add($tabla))
    #set($joint = "inner join ${sourceQualifier}filtro_funcion")
    #set($joint = "$joint on filtro_funcion.id_filtro_funcion = ${tabla}.id_filtro_funcion")
    #set($added = $joinClauses.put($tabla, $joint))
    #set($where = "${currentKeyOf}funcion_parametro(${tabla}.id_funcion_parametro) is not null")
    #set($where = "$where and ${currentKeyOf}funcion(filtro_funcion.id_funcion) is not null")
    #set($added = $whereClauses.put($tabla, $where))
##
    #set($tabla = 'pagina_usuario')
    #set($added = $specialTableNames.add($tabla))
    #set($where = "${tabla}.id_usuario>10000")
    #set($where = "$where and ${currentKeyOf}pagina(${tabla}.id_pagina) is not null")
    #set($added = $whereClauses.put($tabla, $where))
##
    #set($tabla = 'rastro_funcion')
    #set($added = $specialTableNames.add($tabla))
    #set($where = "${currentKeyOf}funcion(${tabla}.id_funcion) is not null")
    #set($added = $whereClauses.put($tabla, $where))
##
    #set($tabla = 'rastro_funcion_par')
    #set($added = $specialTableNames.add($tabla))
    #set($joint = "inner join ${sourceQualifier}rastro_funcion")
    #set($joint = "$joint on rastro_funcion.id_rastro_funcion = ${tabla}.id_rastro_funcion")
    #set($added = $joinClauses.put($tabla, $joint))
    #set($where = "${currentKeyOf}parametro(${tabla}.id_parametro) is not null")
    #set($where = "$where and ${currentKeyOf}funcion(rastro_funcion.id_funcion) is not null")
    #set($added = $whereClauses.put($tabla, $where))
##
    #set($tabla = 'rastro_informe')
    #set($added = $specialTableNames.add($tabla))
    #set($where = "${currentKeyOf}funcion(${tabla}.id_funcion) is not null")
    #set($added = $whereClauses.put($tabla, $where))
##
    #set($tabla = 'rastro_proceso')
    #set($added = $specialTableNames.add($tabla))
    #set($where = "${currentKeyOf}funcion(${tabla}.id_funcion) is not null")
    #set($added = $whereClauses.put($tabla, $where))
##
    #set($tabla = 'rol')
    #set($added = $specialTableNames.add($tabla))
    #set($where = "${tabla}.id_rol>10000")
    #set($added = $whereClauses.put($tabla, $where))
##
    #set($tabla = 'rol_filtro_funcion')
    #set($added = $specialTableNames.add($tabla))
    #set($joint = "inner join ${sourceQualifier}filtro_funcion")
    #set($joint = "$joint on filtro_funcion.id_filtro_funcion = ${tabla}.id_filtro_funcion")
    #set($added = $joinClauses.put($tabla, $joint))
    #set($where = "${tabla}.id_rol>10000")
    #set($where = "${currentKeyOf}rol(${tabla}.id_rol) is not null")
    #set($where = "$where and ${currentKeyOf}funcion(filtro_funcion.id_funcion) is not null")
    #set($added = $whereClauses.put($tabla, $where))
##
    #set($tabla = 'rol_funcion')
    #set($added = $specialTableNames.add($tabla))
    #set($where = "${tabla}.id_rol>10000")
    #set($where = "$where and ${currentKeyOf}funcion(${tabla}.id_funcion) is not null")
    #set($added = $whereClauses.put($tabla, $where))
##
    #set($tabla = 'rol_funcion_par')
    #set($added = $specialTableNames.add($tabla))
    #set($joint = "inner join ${sourceQualifier}rol_funcion")
    #set($joint = "$joint on rol_funcion.id_rol_funcion = ${tabla}.id_rol_funcion")
    #set($added = $joinClauses.put($tabla, $joint))
    #set($where = "rol_funcion.id_rol>10000")
    #set($where = "$where and ${currentKeyOf}funcion_parametro(${tabla}.id_funcion_parametro) is not null")
    #set($where = "$where and ${currentKeyOf}funcion(rol_funcion.id_funcion) is not null")
    #set($added = $whereClauses.put($tabla, $where))
##
    #set($tabla = 'rol_pagina')
    #set($added = $specialTableNames.add($tabla))
    #set($where = "${tabla}.id_rol>10000")
    #set($where = "${currentKeyOf}rol(${tabla}.id_rol) is not null")
    #set($where = "$where and ${currentKeyOf}pagina(${tabla}.id_pagina) is not null")
    #set($added = $whereClauses.put($tabla, $where))
##
    #set($tabla = 'rol_usuario')
    #set($added = $specialTableNames.add($tabla))
    #set($where = "${tabla}.id_rol>10000 and ${tabla}.id_usuario>10000")
    #set($where = "${currentKeyOf}rol(${tabla}.id_rol) is not null")
    #set($where = "$where and ${tabla}.id_usuario>10000")
    #set($added = $whereClauses.put($tabla, $where))
##
    #set($tabla = 'tarea_usuario')
    #set($added = $specialTableNames.add($tabla))
    #set($where = "${tabla}.destinatario>10000")
    #set($where = "$where and ${currentKeyOf}funcion(${tabla}.funcion) is not null")
    #set($added = $whereClauses.put($tabla, $where))
##
    #set($tabla = 'usuario')
    #set($added = $specialTableNames.add($tabla))
    #set($where = "${tabla}.id_usuario>10000")
    #set($added = $whereClauses.put($tabla, $where))
##
    #set($tabla = '')
    #set($joint = '')
    #set($where = '')
#end##addSelectClauses
