#parsePostgreSQLMacros()
#setPostgreSQLVariables()
#writePostgreSQLLicense()
#writePostgreSQLAuthor('Jorge Campins')
#set($entities = $ColUtils.filter($project.entitiesList, $isEntitySqlCodeGenEnabled, $isPersistentEntityTable))
#set($entities = $ColUtils.sort($entities, $byEntityName))
#foreach($entity in $entities)
    #writeTemplate('remark-entity')
    #writeCreateTriggers()
#end##foreach-entity
#break

#macro(writeCreateTriggers)
    #resetSQLVariables()
    #set($table = $entity.wrapper.sqlTableName)
    #set($table = $entity.wrapper.sqlSchemaQualifiedShortTableName)
    #writeTemplate('remark-table')
    #set($triggers = $VelocityAid.values($DatabaseTriggerType))
    #foreach($trigger in $triggers)
        #writeCreateTrigger()
    #end##foreach-trigger
#end##writeCreateTriggers

#macro(writeCreateTrigger)
#set($triname = "${entity.wrapper.sqlSchemaUnqualifiedShortTableName}${sql_name_separator}${trigger.adverb}_${trigger.verb}_${trigger.level}")
#set($proname = "${table}${sql_name_separator}${trigger.adverb}_${trigger.verb}_${trigger.level}")
drop trigger if exists ${triname} on ${table} cascade;
create trigger ${triname} ${trigger.adverb} ${trigger.verb} on ${table}
    for each ${trigger.level} execute procedure ${proname}();

#end##writeCreateTrigger
