#parsePostgreSQLMacros()
#setPostgreSQLVariables()
#writePostgreSQLLicense()
#writePostgreSQLAuthor('Jorge Campins')
#set($entities = $ColUtils.filter($project.entitiesList, $isEntitySqlCodeGenEnabled, $isPersistentEntityTable))
#set($entities = $ColUtils.sort($entities, $byEntityName))
#foreach($entity in $entities)
    #writeTemplate('remark-entity')
    #writeCreateSequence()
#end##foreach-entity
#break

#macro(writeCreateSequence)
    #resetSQLVariables()
    #set($table = $entity.wrapper.sqlTableName)
    #if($entity.primaryKeyProperty)
        #set($keyname = $entity.primaryKeyProperty.wrapper.sqlName)
        #set($keytype = $entity.primaryKeyProperty.wrapper.sqlType)
        #setGlobalSequenceName($entity)
        #set($sequence = $globalConstraintName)
        #if($keytype == 'integer')
            #set($maxvalue = '2147483647')
        #else
            #set($maxvalue = '9223372036854775807')
        #end
        #writeCreateSequenceStatement()
    #end
#end##writeCreateSequence

#macro(writeCreateSequenceStatement)
create sequence $sequence
    start with 1 increment 1 minvalue 1 maxvalue $maxvalue
    owned by ${table}.${keyname};

#end##writeCreateSequenceStatement
