#parsePostgreSQLMacros()
#setPostgreSQLVariables()
#writePostgreSQLLicense()
#writePostgreSQLAuthor('Jorge Campins')
#writeDelimiterDirective('??')
#set($entities = $ColUtils.filter($project.entitiesList, $isEntitySqlCodeGenEnabled, $isPersistentEnumerationEntity))
#set($entities = $ColUtils.sort($entities, $byEntityName))
#foreach($entity in $entities)
    #writeTemplate('remark-entity')
    #writeCreateEnumFunctions()
#end##foreach-entity
#writeDelimiterDirective(';')
#break

#macro(writeCreateEnumFunctions)
    #resetSQLVariables()
    #set($entname = $entity.wrapper.sqlName)
    #set($keytype = $entity.primaryKeyProperty.wrapper.sqlType)
    #writeCreateEnumFunctionHeading()
    #set($rows = $entity.insertableRowsList)
    #foreach($row in $rows)
        #set($kname = $row.wrapper.sqlName.toUpperCase())
        #writeCreateEnumFunctionEnumConstant1()
    #end##foreach-row
    out record$filling $keytype,
    out record$filler $keytype
    #writeCreateEnumFunctionBody()
    #foreach($row in $rows)
        #set($kname = $row.wrapper.sqlName.toUpperCase())
        #set($value = $row.instanceKeyValue)
        #writeCreateEnumFunctionEnumConstant2()
    #end##foreach-row
    #writeCreateEnumFunctionFooting()
#end##writeCreateEnumFunctions

#macro(writeCreateEnumFunctionHeading)
#set($function1 = $entity.wrapper.getSuffixedSqlName("${sql_name_separator}enum"))
drop function if exists $function1() cascade;
#writeDelimiter('??')
create or replace function $function1
(
#end##writeCreateEnumFunctionHeading

#macro(writeCreateEnumFunctionEnumConstant1)
    out $kname $keytype,
#end##writeCreateEnumFunctionEnumConstant1

#macro(writeCreateEnumFunctionBody)
)
returns record as $$
begin
#end##writeCreateEnumFunctionBody

#macro(writeCreateEnumFunctionEnumConstant2)
    $kname := $value;
#end##writeCreateEnumFunctionEnumConstant2

#macro(writeCreateEnumFunctionFooting)
end;
$$ language plpgsql immutable;
#writeDelimiter('??')

#end##writeCreateEnumFunctionFooting
