#parsePostgreSQLMacros()
#setPostgreSQLVariables()
#writePostgreSQLLicense()
#writePostgreSQLAuthor('Jorge Campins')
#set($entities = $ColUtils.filter($project.entitiesList, $isEntitySqlCodeGenEnabled, $isPersistentEntityTable))
#set($entities = $ColUtils.sort($entities, $byEntityName))
#foreach($entity in $entities)
    #writeTemplate('remark-entity')
    #writeCreateIndexes()
#end##foreach-entity
#break

#macro(writeCreateIndexes)
    #resetSQLVariables()
    #set($table = $entity.wrapper.sqlTableName)
## -----------------------------------------------------------------------------------------------------------
    #set($properties = $entity.columnsList)
    #foreach($property in $properties)
        #if($property.isUnique() || $property.isSinglePropertyOfUniqueKey() || $property.isPrimaryKeyProperty())
        #elseif($property.isVersionProperty() || $property.isNameProperty() || $property.isForeignKey())
            #set($ix = $property.wrapper.sqlName)
            #writeCreateIndexStatement($property)
        #end
    #end##foreach-property
## -----------------------------------------------------------------------------------------------------------
    #set($keys = $entity.keysList)
    #foreach($key in $keys)
        #if(!$key.isUnique() && $key.isValidKeyFor($entity))
            #set($ix = '')
            #set($fields = $key.keyFieldsList)
            #set($fieldsSize = $fields.size())
            #if($fieldsSize != 0)
                #if($key.isSingleProperty())
                    #set($property = $key.theProperty)
                    #if($property.isUnique() || $property.isSinglePropertyOfUniqueKey() || $property.isPrimaryKeyProperty() || $property.isVersionProperty() || $property.isNameProperty() || $property.isForeignKey())
                        #set($ix = 'x')
                    #end
                #end
                #if($ix == '')
                    #foreach($field in $fields)
                        #if($field.sqlSortOption)
                            #set($ix = "$ix, $field.wrapper.sqlName $field.sqlSortOption")
                        #else
                            #set($ix = "$ix, $field.wrapper.sqlName")
                        #end
                    #end##foreach-field
                    #if($ix != '')
                        #set($ix = $StringUtils.removeStart($ix, ',').trim())
                        #writeCreateIndexStatement($key)
                    #end
                #end
            #end
        #end
    #end##foreach-key
## -----------------------------------------------------------------------------------------------------------
#end##writeCreateIndexes

#macro(writeCreateIndexStatement $artifact)
#setGlobalIndexName($entity)
#set($constraint = $globalConstraintName)
#setStorageParameters($artifact)
#setTablespaceParameter($artifact)
create index $constraint on $table ($ix)$storageParameters$tablespace;
#end##writeCreateIndexStatement

#macro(setStorageParameters $artifact)
    #set($storageParameters = $!artifact.getStringAttribute('WITH'))
    #if($storageParameters == '' && $artifact.isForeignKey())
        #set($storageParameters = $!artifact.root.primaryKeyProperty.getStringAttribute('WITH'))
    #end
    #if($storageParameters != '')
        #set($storageParameters = " WITH $StrUtils.enclose($storageParameters)")
    #end
#end##setStorageParameters

#macro(setTablespaceParameter $artifact)
    #set($tablespace = $!artifact.getStringAttribute('TABLESPACE'))
    #if($tablespace == '')
        #set($tablespace = $!entity.getStringAttribute('TABLESPACE'))
    #end
    #if($tablespace != '')
        #set($tablespace = " TABLESPACE $tablespace")
    #end
#end##setTablespaceParameter
