#parsePostgreSQLMacros()
#setPostgreSQLVariables()
#writePostgreSQLLicense()
#writePostgreSQLAuthor('Jorge Campins')
#set($entities = $ColUtils.filter($project.entitiesList, $isEntitySqlCodeGenEnabled, $isPersistentEntityTable))
#set($entities = $ColUtils.sort($entities, $byEntityName))
#foreach($entity in $entities)
    #writeTemplate('remark-entity')
    #writeCreatePrimaryKey()
#end##foreach-entity
#break

#macro(writeCreatePrimaryKey)
    #resetSQLVariables()
    #set($table = $entity.wrapper.sqlTableName)
    #set($pk = $entity.primaryKeyProperty.wrapper.sqlName)
    #setGlobalPrimaryKeyName($entity)
    #set($constraint = $globalConstraintName)
    #writeCreatePrimaryKeyStatement()
#end##writeCreatePrimaryKey

#macro(writeCreatePrimaryKeyStatement)
#setStorageParameters()
#setTablespaceParameter()
alter table $table add constraint $constraint primary key ($pk)$storageParameters$tablespace;
#end##writeCreatePrimaryKeyStatement

#macro(setStorageParameters)
    #set($storageParameters = $!entity.primaryKeyProperty.getStringAttribute('WITH'))
    #if($storageParameters != '')
        #set($storageParameters = " WITH $StrUtils.enclose($storageParameters)")
    #end
#end##setStorageParameters

#macro(setTablespaceParameter)
    #set($tablespace = $!entity.primaryKeyProperty.getStringAttribute('TABLESPACE'))
    #if($tablespace == '')
        #set($tablespace = $!entity.getStringAttribute('TABLESPACE'))
    #end
    #if($tablespace != '')
        #set($tablespace = " USING INDEX TABLESPACE $tablespace")
    #end
#end##setTablespaceParameter
