#parsePostgreSQLMacros()
#setPostgreSQLVariables()
#writePostgreSQLLicense()
#writePostgreSQLAuthor('Jorge Campins')
#set($entities = $ColUtils.filter($project.entitiesList, $isEntitySqlCodeGenEnabled, $isPersistentEntityTable))
#set($entities = $ColUtils.sort($entities, $byEntityName))
#foreach($entity in $entities)
    #writeTemplate('remark-entity')
    #writeCreateUniqueKeys()
#end##foreach-entity
#break

#macro(writeCreateUniqueKeys)
    #resetSQLVariables()
    #set($table = $entity.wrapper.sqlTableName)
## -----------------------------------------------------------------------------------------------------------
    #set($properties = $entity.columnsList)
    #foreach($property in $properties)
        #if($property.isPrimaryKeyProperty())
        #elseif($property.isUnique())
            #set($uk = "$property.wrapper.sqlName")
            #writeCreateUniqueKeyStatement($property)
        #end
    #end##foreach-property
## -----------------------------------------------------------------------------------------------------------
    #set($keys = $entity.keysList)
    #foreach($key in $keys)
        #if($key.isUnique() && $key.isValidKeyFor($entity))
            #set($uk = '')
            #set($fields = $key.keyFieldsList)
            #set($fieldsSize = $fields.size())
            #if($fieldsSize != 0)
                #if($key.isSingleProperty())
                    #set($property = $key.theProperty)
                    #if($property.isUnique() || $property.isPrimaryKeyProperty())
                        #set($uk = 'x')
                    #end
                #end
                #if($uk == '')
                    #foreach($field in $fields)
                        #set($uk = "$uk, $field.wrapper.sqlName")## $field.sortOption is not supported by PostgreSQL
                    #end##foreach-field
                    #if($uk != '')
                        #set($uk = $StringUtils.removeStart($uk, ',').trim())
                        #writeCreateUniqueKeyStatement($key)
                    #end
                #end
            #end
        #end
    #end##foreach-key
## -----------------------------------------------------------------------------------------------------------
#end##writeCreateUniqueKeys

#macro(writeCreateUniqueKeyStatement $artifact)
#setGlobalUniqueKeyName($entity)
#set($constraint = $globalConstraintName)
#setStorageParameters($artifact)
#setTablespaceParameter($artifact)
alter table $table add constraint $constraint unique ($uk)$storageParameters$tablespace;
#end##writeCreateUniqueKeyStatement

#macro(setStorageParameters $artifact)
    #set($storageParameters = $!artifact.getStringAttribute('WITH'))
    #if($storageParameters != '')
        #set($storageParameters = " WITH $StrUtils.enclose($storageParameters)")
    #end
#end##setStorageParameters

#macro(setTablespaceParameter $artifact)
    #set($tablespace = $!artifact.getStringAttribute('TABLESPACE'))
    #if($tablespace == '')
        #set($tablespace = $!entity.getStringAttribute('TABLESPACE'))
    #end
    #if($tablespace != '')
        #set($tablespace = " USING INDEX TABLESPACE $tablespace")
    #end
#end##setTablespaceParameter
