#parsePostgreSQLMacros()
#setPostgreSQLVariables()
#writePostgreSQLLicense()
#writePostgreSQLAuthor('Jorge Campins')
#set($entities = $ColUtils.filter($project.entitiesList, $isEntitySqlCodeGenEnabled, $isPersistentEntityTable))
#set($entities = $ColUtils.sort($entities, $byEntityName))
#foreach($entity in $entities)
    #writeTemplate('remark-entity')
    #writeDropDefaults()
#end##foreach-entity
#break

#macro(writeDropDefaults)
    #resetSQLVariables()
    #set($table = $entity.wrapper.sqlTableName)
    #set($table = $entity.wrapper.sqlSchemaQualifiedShortTableName)
    #set($properties = $entity.columnsList)
    #foreach($property in $properties)
        #set($colname = $property.wrapper.sqlName)
        #set($defaultValue = $VelocityAid.coalesce($property.wrapper.sqlDefaultValue, $FALSE))
        #if($defaultValue)
            #writeDropDefaultStatement()
        #end
    #end##foreach-property
#end##writeDropDefaults

#macro(writeDropDefaultStatement)
alter table if exists $table alter column $colname drop default;
#end##writeDropDefaultStatement
