#parsePostgreSQLMacros()
#setPostgreSQLVariables()
#writePostgreSQLLicense()
#writePostgreSQLAuthor('Jorge Campins')
#set($entities = $ColUtils.filter($project.entitiesList, $isEntitySqlCodeGenEnabled, $isPersistentEntityWithTable))
#set($entities = $ColUtils.sort($entities, $byEntityName))
#foreach($entity in $entities)
    #writeTemplate('remark-entity')
    #writeDropCheckFunctions()
#end##foreach-entity
#break

#macro(writeDropCheckFunctions)
    #resetSQLVariables()
    #set($entname = $entity.wrapper.sqlName)
    #set($entname = $entity.wrapper.sqlSchemaQualifiedShortName)
    #set($table = $entity.wrapper.sqlTableName)
    #set($table = $entity.wrapper.sqlSchemaQualifiedShortTableName)
    #set($keyname = $entity.primaryKeyProperty.wrapper.sqlName)
    #set($keytype = $entity.primaryKeyProperty.wrapper.sqlType)
    #writeDropCheckFunction("${entname}${sql_name_separator}check(${keytype})")
##  #writeDropCheckFunction("${entname}${sql_name_separator}check(${table})")
#end##writeDropCheckFunctions

#macro(writeDropCheckFunction $function)
drop function if exists $function cascade;
#end##writeDropCheckFunction
