#parsePostgreSQLMacros()
#setPostgreSQLVariables()
#writePostgreSQLLicense()
#writePostgreSQLAuthor('Jorge Campins')
#set($entities = $ColUtils.filter($project.entitiesList, $isEntitySqlCodeGenEnabled, $isPersistentEntityWithTable))
#set($entities = $ColUtils.sort($entities, $byEntityName))
#foreach($entity in $entities)
    #writeTemplate('remark-entity')
    #writeDropConvertFunctions()
#end##foreach-entity
#break

#macro(writeDropConvertFunctions)
    #resetSQLVariables()
    #set($entname = $entity.wrapper.sqlName)
    #set($table = $entity.wrapper.sqlTableName)
    #set($keytype = $entity.primaryKeyProperty.wrapper.sqlType)
    #set($function0 = $entity.wrapper.getSuffixedSqlName("${sql_name_separator}convert"))
##  #writeDropConvertFunction("${function0}(${keytype})")
    #writeDropConvertFunction("${function0}(${table})")
#end##writeDropConvertFunctions

#macro(writeDropConvertFunction $function)
drop function if exists $function cascade;
#end##writeDropConvertFunction
