#parsePostgreSQLMacros()
#setPostgreSQLVariables()
#writePostgreSQLLicense()
#writePostgreSQLAuthor('Jorge Campins')
#set($entities = $ColUtils.filter($project.entitiesList, $isEntitySqlCodeGenEnabled, $isPersistentEnumerationEntity))
#set($entities = $ColUtils.sort($entities, $byEntityName))
#foreach($entity in $entities)
    #writeTemplate('remark-entity')
    #writeDropEnumFunctions()
#end##foreach-entity
#break

#macro(writeDropEnumFunctions)
    #resetSQLVariables()
    #set($entname = $entity.wrapper.sqlName)
    #set($table = $entity.wrapper.sqlTableName)
    #set($keytype = $entity.primaryKeyProperty.wrapper.sqlType)
    #set($function0 = $entity.wrapper.getSuffixedSqlName("${sql_name_separator}enum"))
    #writeDropEnumFunction("${function0}()")
#end##writeDropEnumFunctions

#macro(writeDropEnumFunction $function)
drop function if exists $function cascade;
#end##writeDropEnumFunction
