#parsePostgreSQLMacros()
#setPostgreSQLVariables()
#writePostgreSQLLicense()
#writePostgreSQLAuthor('Jorge Campins')
#set($entities = $ColUtils.filter($project.entitiesList, $isEntitySqlCodeGenEnabled, $isPersistentEntityWithTable))
#set($entities = $ColUtils.sort($entities, $byEntityName))
#foreach($entity in $entities)
    #writeTemplate('remark-entity')
    #writeDropInitialFunctions()
#end##foreach-entity
#break

#macro(writeDropInitialFunctions)
    #resetSQLVariables()
    #set($entname = $entity.wrapper.sqlName)
    #set($entname = $entity.wrapper.sqlSchemaQualifiedShortName)
    #set($table = $entity.wrapper.sqlTableName)
    #set($table = $entity.wrapper.sqlSchemaQualifiedShortTableName)
    #set($keytype = $entity.primaryKeyProperty.wrapper.sqlType)
    #set($foo = "$initial_value")
##  #writeDropInitialFunction("${entname}${foo}(${keytype})")
##  #writeDropInitialFunction("${entname}${foo}(${table})")
#end##writeDropInitialFunctions

#macro(writeDropInitialFunction $function)
drop function if exists $function cascade;
#end##writeDropInitialFunction
