#parsePostgreSQLMacros()
#setPostgreSQLVariables()
#writePostgreSQLLicense()
#writePostgreSQLAuthor('Jorge Campins')
#set($entities = $ColUtils.filter($project.entitiesList, $isEntitySqlCodeGenEnabled, $isPersistentEntityWithTable))
#set($entities = $ColUtils.sort($entities, $byEntityName))
#foreach($entity in $entities)
    #writeTemplate('remark-entity')
    #writeDropDefaultFunctions()
#end##foreach-entity
#break

#macro(writeDropDefaultFunctions)
    #resetSQLVariables()
    #set($entname = $entity.wrapper.sqlName)
    #set($table = $entity.wrapper.sqlTableName)
    #set($keytype = $entity.primaryKeyProperty.wrapper.sqlType)
    #set($function0 = $entity.wrapper.getSuffixedSqlName("${sql_name_separator}default_value"))
##  #writeDropDefaultFunction("${function0}(${keytype})")
    #writeDropDefaultFunction("${function0}(${table})")
    #writeDropDefaultFunction("${function0}(${table}, ${table})")
#end##writeDropDefaultFunctions

#macro(writeDropDefaultFunction $function)
drop function if exists $function cascade;
#end##writeDropDefaultFunction
