#parsePostgreSQLMacros()
#setPostgreSQLVariables()
#writePostgreSQLLicense()
#writePostgreSQLAuthor('Jorge Campins')
#set($entities = $ColUtils.filter($project.entitiesList, $isEntitySqlCodeGenEnabled, $isPersistentEntityTable))
#set($entities = $ColUtils.sort($entities, $byEntityName))
#set($messageDigestAlgorithm = "$!project.messageDigestAlgorithm")
#set($messageDigestAlgorithm = "$!StringUtils.defaultIfBlank($messageDigestAlgorithm, 'MD5')")
#foreach($entity in $entities)
    #writeTemplate('remark-entity')
    #writeInsertRows()
#end##foreach-entity
#break

#macro(writeInsertRows)
    #resetSQLVariables()
    #set($table = $entity.wrapper.sqlTableName)
    #writeTemplate('remark-table')
    #set($rows = $entity.insertableRowsList)
    #foreach($row in $rows)
        #writeInsertRow()
    #end##foreach-row
#end##writeInsertRows

#macro(writeInsertRow)
    #set($fields = $row.instanceFieldsList)
    #set($fieldsSize = $fields.size())
    #if($fieldsSize != 0)
........insert
........into ${table}
........    (
        #set($comma = ',')
        #foreach($field in $fields)
            #if($foreach.last)
                #set($comma = '')
            #end
........    $field.property.wrapper.sqlName$comma
        #end
........    )
........values
........    (
        #foreach($field in $fields)
            #if($foreach.last)
                #set($comma = '')
            #else
                #set($comma = ',')
            #end
            #if($field.property.isPassword())
                #set($value = "$StrUtils.digest($field.value, $messageDigestAlgorithm)")
                #set($comma = "$comma -- $messageDigestAlgorithm")
            #else
                #set($value = $field.value)
            #end
........    $sqlProgrammer.getSqlExpression($value)$comma
        #end
........    );
    #end
#end##writeInsertRow
