$tab<!-- detail heading opening -->
$tab<h:panelGrid id="panelGrid${panelGridSequence.next()}" styleClass="pdq-grid-detalle-cab">
$tab    <h:panelGrid id="panelGrid${panelGridSequence.next()}" columns="2">
            #increaseIndentationBy(2)
            #parse("$templatePath/blocks/detail/cursor-buttons-grid.vm")
            #decreaseIndentationBy(2)
$tab        <h:panelGrid id="panelGrid${panelGridSequence.next()}" styleClass="pdq-grid-detalle-mensajes">
$tab            <h:panelGrid id="panelGrid${panelGridSequence.next()}" styleClass="pdq-grid-detalle-mensajes-2">
$tab                <webuijsf:staticText id="textoTituloConsulta1"
$tab                    styleClass="pdq-text-titulo-1"
$tab                    text="#{${pageBeanName}.gestor.tituloConsulta}"/>
$tab            </h:panelGrid>
$tab        </h:panelGrid>
$tab    </h:panelGrid>
$tab</h:panelGrid>
$tab<!-- detail heading closing -->
