#foreach($field in $page.rootFields)
    #if($field.property.equals($page.reference))
    #elseif($field.property.isDetailField())
        #setFieldVariables()
        #if($field.property.isEntity())
            #if($fieldSearchType == 'LIST')
                #parse("$templatePath/blocks/detail/column/entity-list.vm")
            #elseif($fieldSearchType == 'DISPLAY')
                #parse("$templatePath/blocks/detail/column/entity.vm")
            #else
                #parse("$templatePath/blocks/detail/column/numeric.vm")
            #end
        #elseif($field.property.isBinaryPrimitive())
            #parse("$templatePath/blocks/detail/column/binary.vm")
        #elseif($field.property.isBooleanPrimitive())
            #parse("$templatePath/blocks/detail/column/boolean.vm")
        #elseif($field.property.isCharacterPrimitive())
            #if($field.property.isFileReferenceField())
                #parse("$templatePath/blocks/detail/column/file-name.vm")
            #elseif($field.property.isUrlProperty())
                #parse("$templatePath/blocks/detail/column/url.vm")
            #else
                #parse("$templatePath/blocks/detail/column/character.vm")
            #end
        #elseif($field.property.isNumericPrimitive())
            #parse("$templatePath/blocks/detail/column/numeric.vm")
        #elseif($field.property.isTemporalPrimitive())
            #parse("$templatePath/blocks/detail/column/temporal.vm")
        #end
    #end
#end
