#setGlobalVariables()
#set($fs = $separator)
#set($environmentalWorkspaceFolderPath = $FilUtils.getCurrentEnvironmentalWorkspaceFolderPath())
#set($environmentalWorkspaceFolderPath = $FilUtils.getDefaultEnvironmentalWorkspaceFolderPath())
set JAVA_HOME=%ProgramFiles%${fs}Java${fs}jdk${targetJavaVersion}
set JBOSS_HOME=%SystemDrive%${fs}${targetJBossDir}
set POSTGRESQL_HOME=%ProgramFiles%${fs}PostgreSQL${fs}${targetPostgreSQLVersion}
set THIRD_PARTY_HOME=${environmentalWorkspaceFolderPath}${fs}third-party
#if($environmentalWorkspaceFolderPath != "%USERPROFILE%${fs}workspace")
if not exist "%THIRD_PARTY_HOME%" (
    set THIRD_PARTY_HOME=%USERPROFILE%${fs}workspace${fs}third-party
)
#end
#if($environmentalWorkspaceFolderPath != "%SystemDrive%${fs}workspace")
if not exist "%THIRD_PARTY_HOME%" (
    set THIRD_PARTY_HOME=%SystemDrive%${fs}workspace${fs}third-party
)
#end
set JAVA_MAJOR=${targetJavaMajorVersion}
set JAVA_VERSION=${targetJavaVersion}
set JBOSS_MAJOR=${targetJBossMajorVersion}
set JBOSS_VERSION=${targetJBossVersion}
set POSTGRESQL_MAJOR=${targetPostgreSQLMajorVersion}
set POSTGRESQL_VERSION=${targetPostgreSQLVersion}
