#setGlobalVariables()
build.classes.excludes=**/*.java,**/*.form,**/.nbattrs
build.dir=build
build.generated.dir=${dollar}{build.dir}/generated
client.module.uri=${project.webProjectName}
client.urlPart=
debug.classpath=${dollar}{javac.classpath}::${dollar}{jar.content.additional}:${dollar}{run.classpath}
display.browser=true
dist.dir=dist
dist.jar=${dollar}{dist.dir}/${dollar}{jar.name}
#*
endorsed.classpath=${backslash}
    ${dollar}{libs.javaee-endorsed-api-6.0.classpath}
*###
j2ee.compile.on.save=false
j2ee.deploy.on.save=false
j2ee.platform=1.6
#if($targetJBossMajorVersion == '7')
j2ee.server.type=JBoss4
#else
j2ee.server.type=WildFly
#end
jar.compress=false
jar.content.additional=${backslash}
    ${dollar}{reference.${project.libProjectName}.jar}:${backslash}
    ${dollar}{reference.${project.resourcesProjectName}.jar}:${backslash}
    ${dollar}{reference.${project.ejbProjectName}.dist-ear}:${backslash}
    ${dollar}{reference.${project.webProjectName}.dist-ear}
jar.name=${project.alias}.ear
javac.debug=true
javac.deprecation=false
javac.source=$targetJavaShortVersion
javac.target=$targetJavaShortVersion
meta.inf=src/conf
no.dependencies=false
platform.active=default_platform
project.${project.ejbProjectName}=${project.ejbProjectName}
project.${project.libProjectName}=${project.libProjectName}
project.${project.resourcesProjectName}=${project.resourcesProjectName}
project.${project.webProjectName}=${project.webProjectName}
reference.${project.ejbProjectName}.dist-ear=${dollar}{project.${project.ejbProjectName}}/dist/${project.ejbProjectName}.jar
reference.${project.libProjectName}.jar=${dollar}{project.${project.libProjectName}}/dist/${project.libProjectName}.jar
reference.${project.webProjectName}.dist-ear=${dollar}{project.${project.webProjectName}}/dist/${project.webProjectName}.war
reference.${project.resourcesProjectName}.jar=${dollar}{project.${project.resourcesProjectName}}/dist/${project.resourcesProjectName}.jar
resource.dir=setup
run.classpath=
source.root=.
