#set($componentName = "label${fieldFirstName}${divString}")
#parse("$templatePath/blocks/webuijsf/label.vm")
#set($componentName = "campo${fieldFirstName}${divString}")
#parse("$templatePath/blocks/webuijsf/text-field.vm")
#set($componentName = "campo${fieldFirstName}${divString}Texto1")
#parse("$templatePath/blocks/webuijsf/static-text-1.vm")
##------------------------------------------------------------------------------
#set($componentName = "campo${fieldFirstName}${divString}")
#set($componentValueAttr = 'text')
#set($componentClassName = "${field.property.wrapper.javaPrimitiveType}")
#if($field.property.isEntity())
    #set($componentClassSimpleName = "${field.property.primaryKeyProperty.dataType.simpleName}")
#else
    #set($componentClassSimpleName = "${field.property.dataType.simpleName}")
#end
#parse("$templatePath/blocks/table/search-field/any.vm")
#break
