#set($componentName = "tableColumn${fieldFirstName}")
#parse("$templatePath/blocks/webuijsf/table-column.vm")
#set($componentName = "label${fieldFirstName}")
#parse("$templatePath/blocks/webuijsf/label.vm")
#set($componentName = "campo${fieldFirstName}")
#parse("$templatePath/blocks/webuijsf/text-field.vm")
#set($componentName = "campo${fieldFirstName}Texto1")
#parse("$templatePath/blocks/webuijsf/static-text-1.vm")
#set($componentName = "converter${fieldFirstName}")
#setNumericConverterClassName()
#parse("$templatePath/blocks/webuijsf/component.vm")
#set($componentName = "validator${fieldFirstName}")
#setNumericValidatorClassName()
#parse("$templatePath/blocks/webuijsf/component.vm")
#writeValidatorExpression()
#break

#macro(setNumericConverterClassName)
    #if($field.property.isNumericPrimitive())
        #set($componentClassName = 'NumberConverter')
    #elseif($field.property.isEntity())
        #set($componentClassName = "${field.property.primaryKeyProperty.dataType.simpleName}Converter")
    #else
        #set($componentClassName = "${field.property.dataType.simpleName}Converter")
    #end
#end##setNumericConverterClassName

#macro(setNumericValidatorClassName)
    #if($field.property.isNumericPrimitive())
        #set($componentClassName = 'BigDecimalValidator')
    #elseif($field.property.isEntity())
        #set($componentClassName = 'LongRangeValidator')
    #else
        #set($componentClassName = "${field.property.dataType.simpleName}Validator")
    #end
#end##setNumericValidatorClassName

#macro(writeValidatorExpression)
    /**
     * ${campo1}.validatorExpression
     */
    public void ${campo1}_validate(FacesContext context, UIComponent component, Object value) {
        validator${fieldFirstName}.validate(context, component, value);
        asistente.${campo1}_validate(context, component, value);
    }

#end##writeValidatorExpression
