#set($componentName = "tableColumn${fieldFirstName}")
#parse("$templatePath/blocks/webuijsf/table-column.vm")
#set($componentName = "label${fieldFirstName}")
#parse("$templatePath/blocks/webuijsf/label.vm")
#set($componentName = "campo${fieldFirstName}")
#parse("$templatePath/blocks/webuijsf/text-field.vm")
#set($componentName = "campo${fieldFirstName}Texto1")
#parse("$templatePath/blocks/webuijsf/static-text-1.vm")
#set($componentName = "converter${fieldFirstName}")
#set($componentClassName = 'SqlTimestampConverter')
#set($componentClassName = "DateTimeConverter")
#set($componentClassName = "DateTimeConverter${EOL}com.sun.rave.faces.converter.SqlTimestampConverter")
#set($componentClassName = "DateTimeConverter${EOL}ConvertidorFechaHora")
#parse("$templatePath/blocks/webuijsf/component.vm")
#writeValidatorExpression()
#break

#macro(writeValidatorExpression)
    /**
     * ${campo1}.validatorExpression
     */
    public void ${campo1}_validate(FacesContext context, UIComponent component, Object value) {
        asistente.${campo1}_validate(context, component, value);
    }

#end##writeValidatorExpression
