#parseJavaMacros()
#setJavaVariables()
#parse("$templatePath/macros/macros-2.vm")
#parse("$templatePath/blocks/console/set-variables.vm")
#parse('templates/jee1/macros/macros-2.vm')
#parse('templates/jee1/lib/data/java/XDP0.java.vm')
#setVariablesRecurso($page.entity)
#setLocalVariables()
#writeJavaLicense()
#writeJavaPackage()
#addImports()
#writeJavaImports($imports)
#addInterfaces()
#writeJavaAuthor('Jorge Campins')
public class ${javaClassSimpleName} extends AbstractPageBean1#writeJavaImplements()

    public ${javaClassSimpleName}() {
        super();
    }

    #parse("$templatePath/blocks/PaginaAbstracta.vm")
    #parse("$templatePath/blocks/PaginaBasica.vm")
    #parse("$templatePath/blocks/console/PaginaBasicaConAccionMultiple.vm")
    #parse("$templatePath/blocks/console/PaginaBasicaConGestor.vm")
    #parse("$templatePath/blocks/console/jsf-components-0.vm")
    #parse("$templatePath/blocks/console/processing-buttons-grid.vm")
    #parse("$templatePath/blocks/console/jsf-components-1.vm")
    #parse("$templatePath/blocks/console/jsf-components-2.vm")
    #parse("$templatePath/blocks/jsf-context-beans.vm")
    #parse("$templatePath/blocks/console/jsf-events.vm")
    #parse("$templatePath/blocks/console/ejb-components-0.vm")
    #parse("$templatePath/blocks/console/processing-buttons-action.vm")
    #parse("$templatePath/blocks/console/so-on-and-so-forth.vm")
}
#break

#macro(setLocalVariables)
    #set($pageBeanName = "$!{webPageNamePrefix}${page.name}")
    #set($pagePagePath = "crop/${module.wrapper.dottedAlias.replace('.', '/')}/$!{pageBeanName}")
    #set($bookmarkSequence = $Sequence.startWith(1))
    #set($processingButtonsSequence = $Sequence.startWith(1))
    #set($operations = $ColUtils.filter($page.entity.businessOperationsList, $isAccesibleOperation))
##  #set($operations = $ColUtils.sort($operations, $byOperationName))
    #set($sourceVar = '')
    #set($PaginaActualizacion = '')
    #set($encabezadoMaestro = '')
    #set($fragmentoFiltro = '')
    #set($divString = '')
    #set($tabString = '')
    #set($viewWithMasterHeading = $FALSE)
    #set($masterHeadingViewWidth = 0)
    #setEntityVariables()
#end##setLocalVariables

#macro(addImports)
    #addPageBeanImports()
    #addReferencedEntityImports()
    #set($added = $imports.add("${project.rootPackageName}.lib.base.bundle.BundleDominios"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.bundle.BundleParametros"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.constant.CBM"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.entity.enumeration.OperadorComEnumeration"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.enumeration.EnumOpcionBinaria"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.enumeration.EnumTipoInforme"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.enumeration.EnumTipoQuery"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.util.*"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.app.Bitacora"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.app.ExcepcionAplicacion"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.app.ConsultaBusqueda"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.app.FiltroBusqueda"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.app.TLC"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.control.Auditor"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.enumeration.EnumColumnaEtiqueta"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.enumeration.EnumOpcionUpload"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.jms.message.AbstractMessage"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.jsf.JSF"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.jsf.component.BigDecimalValidator"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.jsf.component.CampoArchivoMultiPart"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.util.Utils"))
    #set($added = $imports.add("${project.rootPackageName}.lib.data.app.ConsultaBusquedaBuilder"))
    #set($added = $imports.add('java.sql.ResultSet'))
    #set($added = $imports.add('java.util.ArrayList'))
    #set($added = $imports.add('java.util.LinkedHashMap'))
    #set($added = $imports.add('java.util.List'))
    #set($added = $imports.add('java.util.Map'))
    #set($added = $imports.add('javax.faces.application.FacesMessage'))
    #set($added = $imports.add('javax.jms.ObjectMessage'))
    #set($added = $imports.add('javax.servlet.http.Part'))
    #set($added = $imports.add('org.apache.commons.lang.StringUtils'))
#end##addImports

#macro(addInterfaces)
    #set($added = $interfaces.add("PaginaBasicaConAccionMultiple"))
#end##addInterfaces

#macro(addReferencedEntityImports)
    #set($pageReferencedEntitiesMap = $VelocityAid.getNewLinkedHashMap())
    #set($clazz = $page.entity.root.wrapper.javaClassName)
    #set($added = $imports.add("${project.rootPackageName}.ejb.persistence.entity.${clazz}"))
    #set($added = $imports.add("${project.rootPackageName}.ejb.persistence.facade.${clazz}FacadeLocal"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.entity.constant.${clazz}Constants"))
    #set($added = $pageReferencedEntitiesMap.put($clazz, $page.entity.root))
    #if($page.entity.isEnumerationEntity())
        #set($added = $imports.add("${project.rootPackageName}.lib.base.entity.enumeration.${clazz}Enumeration"))
    #end
    #set($added = $imports.add("${project.rootPackageName}.ejb.persistence.entity.${entityClassName}"))
    #set($added = $imports.add("${project.rootPackageName}.ejb.persistence.facade.${entityClassName}FacadeLocal"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.entity.constant.${entityClassName}Constants"))
    #if($isProcessOperationInEntity.evaluate($page.entity))
        #set($added = $imports.add("${project.rootPackageName}.ejb.business.process.${entityClassName}BusinessProcessLocal"))
        #set($added = $imports.add("${project.rootPackageName}.ejb.core.jms.BusinessProcessMessengerLocal"))
    #end
    #set($isUtilityOperationInEntity = $FALSE)
    #if($isExportOperationInEntity.evaluate($page.entity))
        #set($isUtilityOperationInEntity = $TRUE)
        #set($added = $imports.add("${project.rootPackageName}.ejb.core.exporter.ExporterBrokerLocal"))
    #end
    #if($isReportOperationInEntity.evaluate($page.entity))
        #set($isUtilityOperationInEntity = $TRUE)
        #set($added = $imports.add("${project.rootPackageName}.ejb.core.reporter.ReporterBrokerLocal"))
    #end
    #if($isProcedureOperationInEntity.evaluate($page.entity))
        #set($isUtilityOperationInEntity = $TRUE)
        #set($added = $imports.add("${project.rootPackageName}.ejb.core.sqlagent.SqlAgentBrokerLocal"))
    #end
    #if($isUtilityOperationInEntity)
        #set($added = $imports.add('javax.jms.JMSException'))
        #set($added = $imports.add('javax.jms.ObjectMessage'))
        #set($added = $imports.add("${project.rootPackageName}.ejb.core.jms.UtilityProcessMessengerLocal"))
        #set($added = $imports.add("${project.rootPackageName}.lib.core.jms.message.AbstractMessage"))
    #end
    #set($isInstanceReferenceFieldPresent = $FALSE)
    #foreach($operation in $operations)
        #setOperationVariables()
        #if($operationNumberConstant != '' && $operationStringConstant != '')
            #set($message = "${entityClassName}${operationClassName}Message")
            #if($operationType == 'PROCEDURE' || $operationType == 'PROCESS')
                #set($added = $imports.add("${project.rootPackageName}.ejb.business.message.${message}"))
            #end
            #foreach($parameter in $parameters)
                #if($parameter.isEntity())
                    #set($clazz = $parameter.root.wrapper.javaClassName)
                    #set($added = $imports.add("${project.rootPackageName}.ejb.persistence.entity.${clazz}"))
                    #set($added = $imports.add("${project.rootPackageName}.ejb.persistence.facade.${clazz}FacadeLocal"))
                    #set($added = $imports.add("${project.rootPackageName}.lib.base.entity.constant.${clazz}Constants"))
                    #set($added = $pageReferencedEntitiesMap.put($clazz, $parameter.root))
                    #if($parameter.isInstanceReferenceField())
                        #set($isInstanceReferenceFieldPresent = $TRUE)
                    #end
                    #if($parameter.isEnumerationEntity())
                        #set($added = $imports.add("${project.rootPackageName}.lib.base.entity.enumeration.${clazz}Enumeration"))
                    #end
                #end
            #end##foreach-parameter
        #end
    #end##foreach-operation
#end##addReferencedEntityImports
