#if($entity.abstractEntity)
@AbstractClass
#end
#if(!$entity.getInheritanceMappingString().isEmpty())
@InheritanceMapping($entity.getInheritanceMappingString())
#end
#if(!$entity.getDiscriminatorValue().isEmpty())
@DiscriminatorValue("$entity.getDiscriminatorValue()")
#end
#if(!$entity.getEntityClassString().isEmpty())
@EntityClass(${entity.getEntityClassString()})
#end
#if(!$entity.getEntitySelectOperationString().isEmpty())
@EntitySelectOperation(${entity.getEntitySelectOperationString()})
#end
#if(!$entity.getEntityReportOperationString().isEmpty())
@EntityReportOperation(${entity.getEntityReportOperationString()})
#end
#if(!$entity.getEntityInsertOperationString().isEmpty())
@EntityInsertOperation(${entity.getEntityInsertOperationString()})
#end
#if(!$entity.getEntityUpdateOperationString().isEmpty())
@EntityUpdateOperation(${entity.getEntityUpdateOperationString()})
#end
#if(!$entity.getEntityDeleteOperationString().isEmpty())
@EntityDeleteOperation(${entity.getEntityDeleteOperationString()})
#end
#if(!$entity.getEntityExportOperationString().isEmpty())
@EntityExportOperation(${entity.getEntityExportOperationString()})
#end
#if(!$entity.getEntityTableViewString().isEmpty())
@EntityTableView(${entity.getEntityTableViewString()})
#end
#if(!$entity.getEntityDetailViewString().isEmpty())
@EntityDetailView(${entity.getEntityDetailViewString()})
#end
#if(!$entity.getEntityTreeViewString().isEmpty())
@EntityTreeView(${entity.getEntityTreeViewString()})
#end
#if(!$entity.getEntityConsoleViewString().isEmpty())
@EntityConsoleView(${entity.getEntityConsoleViewString()})
#end
#if($entity.entityTriggers)
@EntityTriggers(${entity.getEntityTriggersString()})
#end