#if($entity.alias&&!$entity.alias.isEmpty())
${tab}setAlias("${entity.alias}");
#end
#if($entity.defaultLabel&&!$entity.defaultLabel.isEmpty())
${tab}setDefaultLabel("${entity.defaultLabel}");
#end
#if($entity.defaultShortLabel&&!$entity.defaultShortLabel.isEmpty())
${tab}setDefaultShortLabel("${entity.defaultShortLabel}");
#end
#if($entity.defaultDescription&&!$entity.defaultDescription.isEmpty())
${tab}setDefaultDescription("${entity.defaultDescription}");
#end
#if($entity.defaultShortDescription&&!$entity.defaultShortDescription.isEmpty())
${tab}setDefaultShortDescription("${entity.defaultShortDescription}");
#end
#if($entity.defaultCollectionLabel&&!$entity.defaultCollectionLabel.isEmpty())
${tab}setDefaultCollectionLabel("${entity.defaultCollectionLabel}");
#end
#if($entity.defaultShortDescription&&!$entity.defaultTooltip.isEmpty())
${tab}setDefaultTooltip("${entity.defaultTooltip}");
#end