#foreach($property in $propertiesList)
#if($property.alias&&!$property.alias.isEmpty())
${tab}${property.name}.setAlias("${property.alias}");
#end
#if($property.defaultDescription&&!$property.defaultDescription.isEmpty())
${tab}${property.name}.setDefaultDescription("${property.defaultDescription}");
#end
#if($property.defaultShortDescription&&!$property.defaultShortDescription.isEmpty())
${tab}${property.name}.setDefaultShortDescription("${property.defaultShortDescription}");
#end
#if($property.defaultLabel&&!$property.defaultLabel.isEmpty())
${tab}${property.name}.setDefaultLabel("${property.defaultLabel}");
#end
#if($property.defaultShortLabel&&!$property.defaultShortLabel.isEmpty())
${tab}${property.name}.setDefaultShortLabel("${property.defaultShortLabel}");
#end
#if($property.defaultCollectionLabel&&!$property.defaultCollectionLabel.isEmpty())
${tab}${property.name}.setDefaultCollectionLabel("${property.defaultCollectionLabel}");
#end
#if($property.defaultTooltip&&!$property.defaultTooltip.isEmpty())
${tab}${property.name}.setDefaultTooltip("${property.defaultTooltip}");
#end
#if($property.initialValueString&&!$property.initialValueString.isEmpty())
${tab}${property.name}.setInitialValue(${property.initialValueString});
#end
#if($property.defaultValueString&&!$property.defaultValueString.isEmpty())
${tab}${property.name}.setDefaultValue(${property.defaultValueString});
#end
#end