    <mail-resource
        debug="true"
        enabled="true"
        from="${emailAccount}"
        host="smtp.gmail.com"
        jndi-name="mail/${project.alias}MailerBeanSession"
        object-type="user"
        store-protocol="imaps"
        store-protocol-class="com.sun.mail.imap.IMAPSSLStore"
        transport-protocol="smtps"
        transport-protocol-class="com.sun.mail.smtp.SMTPSSLTransport"
        user="${emailAccount}">
        <description>MailerBean Session</description>
        <property name="mail.debug.auth" value="true"></property>
        <property name="mail.imaps.auth" value="true"></property>
        <property name="mail.imaps.connectiontimeout" value="60000"></property>
        <property name="mail.imaps.host" value="imap.gmail.com"></property>
        <property name="mail.imaps.password" value="${emailAccountPassword}"></property>
        <property name="mail.imaps.port" value="993"></property>
        <property name="mail.imaps.socketFactory.class" value="javax.net.ssl.SSLSocketFactory"></property>
        <property name="mail.imaps.socketFactory.fallback" value="false"></property>
        <property name="mail.imaps.socketFactory.port" value="993"></property>
        <property name="mail.imaps.timeout" value="180000"></property>
        <property name="mail.imaps.user" value="${emailAccount}"></property>
        <property name="mail.smtps.auth" value="true"></property>
        <property name="mail.smtps.connectiontimeout" value="60000"></property>
        <property name="mail.smtps.host" value="smtp.gmail.com"></property>
        <property name="mail.smtps.password" value="${emailAccountPassword}"></property>
        <property name="mail.smtps.port" value="465"></property>
        <property name="mail.smtps.socketFactory.class" value="javax.net.ssl.SSLSocketFactory"></property>
        <property name="mail.smtps.socketFactory.fallback" value="false"></property>
        <property name="mail.smtps.socketFactory.port" value="465"></property>
        <property name="mail.smtps.timeout" value="180000"></property>
        <property name="mail.smtps.user" value="${emailAccount}"></property>
    </mail-resource>
