    <admin-object-resource
        enabled="true"
        jndi-name="jms/${project.alias}${resourceNamePrefix}RequestMessageQueue"
        object-type="user"
        res-adapter="jmsra"
        res-type="javax.jms.Queue">
        <property name="Name" value="${project.alias}${resourceNamePrefix}RequestMessageQueue"/>
    </admin-object-resource>
    <admin-object-resource
        enabled="true"
        jndi-name="jms/${project.alias}${resourceNamePrefix}ReplyMessageQueue"
        object-type="user"
        res-adapter="jmsra"
        res-type="javax.jms.Queue">
        <property name="Name" value="${project.alias}${resourceNamePrefix}ReplyMessageQueue"/>
    </admin-object-resource>
    <admin-object-resource
        enabled="true"
        jndi-name="jms/${project.alias}${resourceNamePrefix}ReturnMessageQueue"
        object-type="user"
        res-adapter="jmsra"
        res-type="javax.jms.Queue">
        <property name="Name" value="${project.alias}${resourceNamePrefix}ReturnMessageQueue"/>
    </admin-object-resource>
    <connector-resource
        enabled="true"
        jndi-name="jms/${project.alias}${resourceNamePrefix}MessageFactory"
        object-type="user"
        pool-name="jms/${project.alias}${resourceNamePrefix}MessageFactoryPool">
    </connector-resource>
    <connector-connection-pool
        associate-with-thread="false"
        connection-creation-retry-attempts="0"
        connection-creation-retry-interval-in-seconds="10"
        connection-definition-name="javax.jms.QueueConnectionFactory"
        connection-leak-reclaim="false"
        connection-leak-timeout-in-seconds="0"
        fail-all-connections="false"
        idle-timeout-in-seconds="300"
        is-connection-validation-required="false"
        lazy-connection-association="false"
        lazy-connection-enlistment="false"
        match-connections="true"
        max-connection-usage-count="0"
        max-pool-size="32"
        max-wait-time-in-millis="60000"
        name="jms/${project.alias}${resourceNamePrefix}MessageFactoryPool"
        pool-resize-quantity="2"
        resource-adapter-name="jmsra"
        steady-pool-size="8"
        validate-atmost-once-period-in-seconds="0"/>
