#parseJSPMacros()
#setJSPVariables()
#writeXMLDeclaration()
#writeJSPLicense()
#writeJSPAuthor('Jorge Campins')
#setLocalVariables()
#parse("$templatePath/blocks/root.vm")
#break

#macro(setLocalVariables)
    #set($dollar = '$')
    #set($pageName = "$!{webPageNamePrefix}${page.name}")
    #set($pageBeanPath = "crop$dollar$module.wrapper.dottedAlias.replace('.', $dollar)$dollar")
    #set($pageBeanName = "${pageBeanPath}$!{webPageNamePrefix}${page.name}")
    #set($anchorSequence = $Sequence.startWith(1))
    #set($crudButtonsSequence = $Sequence.startWith(1))
    #set($cursorButtonsSequence = $Sequence.startWith(1))
    #set($panelGridSequence = $Sequence.startWith(101))
    #set($entityDataProvider = "${page.entity.wrapper.javaVariableName}DataProvider")
    #set($sourceData = "${pageBeanName}.${entityDataProvider}")
    #set($sourceVar = "currentRow")
    #if($page.master)
        #set($masterDataProvider = "${page.master.wrapper.javaVariableName}DataProvider")
        #set($masterData = "${pageBeanName}.${masterDataProvider}")
        #set($masterVar = "$masterData")
    #end
    #set($divString = '')
    #set($tabString = '')
    #if($page.entity.isTableViewWithMasterHeading())
        #if($page.rootMasterHeadingFields.isEmpty())
            #set($viewWithMasterHeading  = $FALSE)
            #set($masterHeadingViewWidth = 0)
        #else
            #set($viewWithMasterHeading = $TRUE)
            #set($masterHeadingViewWidth = $VelocityAid.nvl($page.entity.getIntegerAttribute('table_view_width', $project_min_view_width, $project_max_view_width), $project_max_view_width))
        #end
    #else
        #set($viewWithMasterHeading = $FALSE)
        #set($masterHeadingViewWidth = 0)
    #end
    #set($fieldColumnsLimit = 30)
    #setVirtualForms()
#end##setLocalVariables

#macro(setVirtualForms)
    #set($virtualInput = "checkbox1 textoFilasPorPagina1 listaFuncionEdicion1 listaFuncionAccion1 #writeVirtualFormFieldList()")
    #set($virtualForm1 = "virtualForm1 | $virtualInput | ")
    #set($virtualInput = "textoFilasPorPagina1")
    #set($virtualSubmt = "botonRepaginar1")
    #set($virtualForm2 = "virtualForm2 | $virtualInput | $virtualSubmt ")
    #set($virtualInput = "checkbox1 listaFuncionEdicion1 listaFuncionAccion1")
    #set($virtualSubmt = "listaFuncionEdicion1 listaFuncionAccion1 botonEditar1 botonDeshacer1 botonEliminar1")
    #set($virtualForm3 = "virtualForm3 | $virtualInput | $virtualSubmt ")
    #set($virtualSubmt = "botonAgregar1 botonDescartar1 botonRefrescar1 botonReconsultar1 botonRetornar1")
    #set($virtualSubmt = "$virtualSubmt botonEscogerFila1 botonDetallarFila1 botonProcesarFila1 botonRetornarFila1")
    #set($virtualForm4 = "virtualForm4 | | $virtualSubmt ")
    #set($virtualFormsConfig = "$virtualForm1, $virtualForm2, $virtualForm3, $virtualForm4")
    #setFilterVirtualForms()
    #set($virtualFormsConfig = "$virtualFormsConfig, $virtualForm5, $virtualForm6")
    #setViewerVirtualForms()
    #set($virtualFormsConfig = "$virtualFormsConfig, $virtualForm7, $virtualForm8")
#end##setVirtualForms

#macro(setFilterVirtualForms)
    #set($virtualInput = '')
    #set($virtualSubmt = '')
    #set($divString = 'DivFiltro1')
    #foreach($field in $page.rootFields)
        #if($field.property.equals($page.reference))
        #elseif($field.property.isSearchField())
            #set($validSearchField = 'false')
            #if($field.property.isEntity())
                #set($validSearchField = 'true')
            #elseif($field.property.isBooleanPrimitive())
                #set($validSearchField = 'true')
            #elseif($field.property.isCharacterPrimitive())
                #set($validSearchField = 'true')
            #elseif($field.property.isNumericPrimitive())
                #set($validSearchField = 'true')
            #elseif($field.property.isTemporalPrimitive())
                #set($validSearchField = 'true')
            #end
            #if($validSearchField == 'true')
                #set($campo1 = "campo${field.property.wrapper.javaClassName}1")
                #set($virtualInput = "$virtualInput ${campo1}${divString}")
                #set($virtualSubmt = "$virtualSubmt ${campo1}${divString}BotonBorrar1")
            #end
        #end
    #end
    #set($divString = '')
    #set($virtualInput = "$virtualInput listaFiltro1 campoAplicarFiltro1")
    #set($virtualSubmt = "$virtualSubmt botonBorrarFiltro1 botonComprobarFiltro1 botonAplicarFiltro1")
    #set($virtualForm5 = "virtualForm5 | $virtualInput.trim() | $virtualSubmt.trim() ")
    #set($virtualForm6 = "virtualForm6 | | botonBuscarFiltro1 botonBuscarFiltro2 botonQuitarFiltro1 botonRestaurarFiltro1 botonOcultarFiltro1 ")
#end##setFilterVirtualForms

#macro(setViewerVirtualForms)
    #set($virtualInput = "listaFormatoGuardar1 listaFormatoInforme1 listaVista1 campoAplicarVisor1")
    #set($virtualSubmt = "botonGuardarResultadoConsulta1 botonAplicarVisor1")
    #set($virtualForm7 = "virtualForm7 | $virtualInput | $virtualSubmt ")
    #set($virtualForm8 = "virtualForm8 | | botonBuscarVista1 botonBuscarVista2 botonOcultarVisor1 ")
#end##setViewerVirtualForms

#macro(writeVirtualFormFieldList)
    #set($foo = '')
    #foreach($field in $page.rootFields)
        #if($field.property.isTableField())
            #set($foo = "$foo campo${field.property.wrapper.javaClassName}1")
        #end
    #end
    #if($foo != '')$foo.trim()#end
#end##writeVirtualFormFieldList
