#parseJSPMacros()
#setJSPVariables()
#writeXMLDeclaration()
#writeJSPLicense()
#writeJSPAuthor('Jorge Campins')
#setLocalVariables()
#parse("$templatePath/blocks/root.vm")
#break

#macro(setLocalVariables)
    #set($dollar = '$')
    #set($pageName = "$!{webPageNamePrefix}${page.name}")
    #set($pageBeanPath = "crop$dollar$module.wrapper.dottedAlias.replace('.', $dollar)$dollar")
    #set($pageBeanName = "${pageBeanPath}$!{webPageNamePrefix}${page.name}")
    #set($anchorSequence = $Sequence.startWith(1))
    #set($crudButtonsSequence = $Sequence.startWith(1))
    #set($cursorButtonsSequence = $Sequence.startWith(1))
    #set($panelGridSequence = $Sequence.startWith(101))
    #set($entityDataProvider = "${page.entity.wrapper.javaVariableName}DataProvider")
    #set($sourceData = "${pageBeanName}.${entityDataProvider}")
    #set($sourceVar = "$sourceData")
    #set($divString = '')
    #set($tabString = '')
    #set($viewWithMasterHeading = $FALSE)
    #set($masterHeadingViewWidth = 0)
    #setVirtualForms()
#end##setLocalVariables

#macro(setVirtualForms)
    #set($virtualInput = "")
    #set($virtualForm1 = "virtualForm1 | | ")
    #set($virtualInput = "listaOpcionZum1")
    #set($virtualSubmt = "botonAplicarZum1 botonQuitarZum1")
    #set($virtualForm2 = "virtualForm2 | $virtualInput | $virtualSubmt ")
    #set($virtualInput = "")
    #set($virtualSubmt = "botonEditar1 botonDeshacer1 botonEliminar1")
    #set($virtualForm3 = "virtualForm3 | | $virtualSubmt ")
    #set($virtualInput = "")
    #set($virtualSubmt = "botonAgregar1 botonDescartar1 botonRefrescar1 botonReconsultar1 botonRetornar1")
    #set($virtualForm4 = "virtualForm4 | | $virtualSubmt ")
    #set($virtualFormsConfig = "$virtualForm1, $virtualForm2, $virtualForm3, $virtualForm4")
#end##setVirtualForms
