#parsePropertiesMacros()
#setPropertiesVariables()
#writePropertiesLicense()
#writePropertiesAuthor('Jorge Campins')
#set($roleBasedAccessControllerName = "$!{project.roleBasedAccessControllerName}")
#if($roleBasedAccessControllerName.equalsIgnoreCase('LDAP'))
....RBAC=LDAP
#else
....RBAC=${dollar}LOWER_CASE_CODE
#end
CONTENT_ROOT_DIR=${dollar}CONTENT_ROOT_DIR
HOME_DIR=${dollar}HOME_DIR
JDBC_DRIVER=${dollar}JDBC_DRIVER
JDBC_URL=${dollar}JDBC_URL
JDBC_USER=${dollar}JDBC_USER
JDBC_PASSWORD=${dollar}JDBC_PASSWORD
JDBC_DATASOURCE=java:comp/env/jdbc/${dollar}LOWER_CASE_CODE
JNDI_EJB_FACADE_LOCATOR=java:comp/env/ejb/FacadeBeanLocator
JNDI_EJB_LOOKUP_PATTERN=${dollar}JNDI_EJB_LOOKUP_PATTERN
VELOCITY_PROPERTIES_FILE=${dollar}VELOCITY_PROPERTIES_FILE
VELOCITY_FILE_RESOURCE_LOADER_PATH=${dollar}VELOCITY_FILE_RESOURCE_LOADER_PATH
EXPORT_RUNNER_CMD=Exporter.sh
EXPORT_RUNNER_DIR=${dollar}HOME_DIR/resources/scripts/linux/
EXPORT_SOURCE_DIR=${dollar}HOME_DIR/resources/reporting/jasper/reports/
REPORT_RUNNER_CMD=Reporter.sh
REPORT_RUNNER_DIR=${dollar}HOME_DIR/resources/scripts/linux/
REPORT_SOURCE_DIR=${dollar}HOME_DIR/resources/reporting/jasper/reports/
SQLPRC_RUNNER_CMD=SqlAgent.sh
SQLPRC_RUNNER_DIR=${dollar}HOME_DIR/resources/scripts/linux/
SQLPRC_SOURCE_DIR=${dollar}HOME_DIR/resources/database/${dollar}JDBC_DATABASE/
