#parseXMLMacros()
#setXMLVariables()
#writeXMLDeclaration()
#writeXMLLicense()
#writeXMLAuthor('Jorge Campins')
<jboss-web>
    <context-root>/${project.webProjectName}</context-root>
    <resource-ref>
        <res-ref-name>jdbc/${project.databaseName}</res-ref-name> <!-- Logical name only. -->
        <jndi-name>java:/jdbc/${project.databaseName}</jndi-name> <!-- Real JNDI name. -->
    </resource-ref>
    <security-domain>java:/jaas/${project.alias}-policy</security-domain>
    <!--<valve>
        <class-name>org.apache.catalina.authenticator.SingleSignOn</class-name>
            <param>
                <param-name>maxEmptyLife</param-name>
                <param-value>900</param-value>
            </param>
    </valve>-->
</jboss-web>
