#parseJavaMacros()
#setJavaVariables()
#setLocalVariables()
#writeJavaLicense()
#writeJavaPackage()
#writeJavaImports($imports)
#writeJavaAuthor('Jorge Campins')
public class ${javaClassSimpleName} extends AbstractSessionBean#writeJavaImplements()

    /**
     * ${managedBeanName} session bean
     */
    public ${javaClassSimpleName}() {
        super();
    }

    #writeDataProviderGetter()

    #foreach($entity in $moduleEntitiesMap)
        #writeRowSet('CachedRowSet')
    #end##foreach-entity
##  #foreach($entity in $moduleReferencedEntitiesMap)
##      #writeRowSet('ReferenceCachedRowSet')
##  #end##foreach-entity
}
#break

#macro(setLocalVariables)
    #set($managedBeanName = "${javaProgrammer.getJavaClassName($module.alias)}${javaClassSimpleName}")
    #set($moduleEntitiesMap = $VelocityAid.getNewLinkedHashMap())
##  #set($moduleReferencedEntitiesMap = $VelocityAid.getNewLinkedHashMap())
    #set($displaysList = $ColUtils.noneFilter($module.displaysList, $isConsoleViewDisplay, $isProcessingDisplay))
    #foreach($page in $displaysList)
        #if($page.entity)
            #set($added = $moduleEntitiesMap.put($page.entity.wrapper.javaClassName, $page.entity))
        #end
        #if($page.master)
            #set($added = $moduleEntitiesMap.put($page.master.wrapper.javaClassName, $page.master))
        #end
##      #foreach($field in $page.rootFields)
##          #if($field.property.isEntity())
##              #set($added = $moduleReferencedEntitiesMap.put($field.property.root.wrapper.javaClassName, $field.property.root))
##          #end
##      #end
    #end
    #set($added = $imports.add("${project.rootPackageName}.lib.base.app.constant.EAB"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.db.xdp.RecursoCachedRowSet"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.db.xdp.RecursoCachedRowSetDataProvider"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.web.app.ContextoDatosEstandar"))
    #set($added = $interfaces.add('ContextoDatosEstandar'))
    #set($added = $imports.add("com.sun.rave.web.ui.appbase.AbstractSessionBean"))
    #set($added = $imports.add("com.sun.sql.rowset.CachedRowSetXImpl"))
    #set($added = $imports.add("javax.faces.FacesException"))
    #foreach($entity in $moduleEntitiesMap)
        #set($xdpno = "${entity.wrapper.dataProviderSuffix}")
        #set($entityDataProviderPackage = "${project.rootPackageName}.lib.data.provider.xdp${xdpno}")
        #set($entityDataProviderClass = "${entity.wrapper.javaClassName}CachedRowSetDataProvider${xdpno}")
        #set($clazz = "${entityDataProviderPackage}.${entityDataProviderClass}")
        #set($added = $imports.add($clazz))
    #end##foreach-entity
#end##setLocalVariables

#macro(writeDataProviderGetter)
    @Override
    public RecursoCachedRowSetDataProvider getDataProvider(String nombreClaseRecurso) {
    #if($moduleEntitiesMap.size() > 0)
        if (nombreClaseRecurso == null) {
            return null;
        }
        switch (nombreClaseRecurso) {
        #foreach($entity in $moduleEntitiesMap)
            #set($nombre = "$entity.wrapper.javaClassName")
            #set($sufijo = "CachedRowSetDataProvider${entity.wrapper.dataProviderSuffix}")
            case "$nombre":
                return ${nombre}${sufijo}.newInstance(get${nombre}CachedRowSet());
        #end##foreach-entity
        }
    #end
        return null;
    }
#end##writeDataProviderGetter

#macro(writeRowSet $foo)
#set($fee = "$entity.wrapper.javaClassName")
#set($faa = "$entity.wrapper.javaVariableName")
#set($tabla = "$entity.wrapper.sqlTableName")
#set($tabla = "$entity.wrapper.sqlSchemaQualifiedShortTableName")
#set($vista = "consulta_${entity.wrapper.sqlName}")
#set($vista = "${entity.wrapper.sqlSchemaQualifier}consulta_${entity.wrapper.sqlSchemaUnqualifiedShortName}")
    private CachedRowSetXImpl ${faa}${foo};

    public CachedRowSetXImpl get${fee}${foo}() {
        if (${faa}${foo} == null) {
            ${faa}${foo} = new RecursoCachedRowSet("$fee");
            try {
                ${faa}${foo}.setDataSourceName(EAB.DATABASE_RESOURCE_MAPPED_NAME);
                ${faa}${foo}.setCommand("select * from $vista");
                ${faa}${foo}.setTableName("$tabla");
            } catch (Exception e) {
                log(${project.rootPackageName}.lib.base.bundle.BundleWebui.getString("bean.initialization.error"), e);
                throw e instanceof FacesException ? (FacesException) e : new FacesException(e);
            }
        }
        return ${faa}${foo};
    }

    public void set${fee}${foo}(CachedRowSetXImpl crsxi) {
        ${faa}${foo} = crsxi;
    }

#end##writeRowSet
