#parseJavaMacros()
#setJavaVariables()
#writeJavaLicense()
#writeJavaPackage()
#set($added = $imports.add('java.util.LinkedHashMap'))
#set($added = $imports.add('java.util.Map'))
#writeJavaImports($imports)
#writeJavaAuthor('Jorge Campins')
public class ${javaClassSimpleName} { // URI/URL de las paginas de la aplicacion

    public static final String WAR = "${project.webProjectName}";

#set($pages = $project.displaysList)
#set($pages = $ColUtils.sort($pages, $byDisplayName))
#set($pdq = '')
#foreach($page in $pages)
    #setSpecialMasterDetailPage()
    #if($page.master && !$specialMasterDetailPageFlag)
    #elseif("$!page.displayMode" == 'UNSPECIFIED' || "$!page.displayFormat" == 'UNSPECIFIED')
    #else
        #writeURX()
    #end
#end##foreach-page
#if($pdq != '')
// </editor-fold>

#end
#writeURXOOBB()
#writeURXTWN()
#writeURXSFN()
}
#break

#macro(writeURX)
    #if($pdq != '')

    #else
    // <editor-fold defaultstate="collapsed" desc="Paginas propias de la Aplicacion">
    #end
    #set($pdq = 'true')
    #set($fee = "${page.entity.wrapper.javaConstantName}")
    #set($faa = "${page.module.wrapper.hyphenatedAlias}")
    #set($foo = "${page.module.wrapper.dottedAlias.replace('.', '/')}/$!{webPageNamePrefix}${page.name}.${webPagesFileExtension}")
    public static final String ${fee}${specialInfix}_${page.displayMode}_${page.displayFormat} = "/${project.webProjectName}/${webPagesSourcesFaces}/${foo}";
#end##

#macro(writeURXOOBB)
    #set($por = "$!{Bundle.getString('java.web.page_name_connective')}")
    // <editor-fold defaultstate="collapsed" desc="Operaciones Basicas">
    public static final String REDIRECT = "/${project.webProjectName}/redirect.html";

    public static final String AYUDA = "/${project.webProjectName}/ayuda.html";

    public static final String REJECT = "/${project.webProjectName}/${webPagesCopyFaces}/reject.${webPagesFileExtension}";

    public static final String INICIO = "/${project.webProjectName}/${webPagesCopyFaces}/Menu.${webPagesFileExtension}";

    public static final String FAVORITOS = "/${project.webProjectName}/${webPagesCopyFaces}/Favoritos.${webPagesFileExtension}";

    public static final String CAMBIO_PASSWORD = "/${project.webProjectName}/${webPagesCopyFaces}/Password.${webPagesFileExtension}";

    public static final String FILTRO_FUNCION = FILTRO_FUNCION_SPECIAL_WRITING_TABLE;

    public static final String FILTRO_FUNCION_DETALLE = FILTRO_FUNCION_SPECIAL_WRITING_DETAIL;

    public static final String FILTRO_FUNCION_PAR = FILTRO_FUNCION_PAR_SPECIAL_WRITING_TABLE;

    public static final String FILTRO_FUNCION_PAR_DETALLE = FILTRO_FUNCION_PAR_SPECIAL_WRITING_DETAIL;

    public static final String FILTRO_FUNCION_PAR_RECURSO = "/${project.webProjectName}/${webPagesCopyFaces}/recurso_filtro/RecursoFiltro1.${webPagesFileExtension}";

    public static final String FILTRO_FUNCION_PAR_RECURSO_ARBOL = "/${project.webProjectName}/${webPagesCopyFaces}/recurso_filtro/RecursoFiltro3.${webPagesFileExtension}";

    public static final String VISTA_FUNCION = VISTA_FUNCION_SPECIAL_WRITING_TABLE;

    public static final String VISTA_FUNCION_DETALLE = VISTA_FUNCION_SPECIAL_WRITING_DETAIL;

    public static final String VISTA_FUNCION_COL = VISTA_FUNCION_COL_SPECIAL_WRITING_TABLE;

    public static final String VISTA_FUNCION_COL_DETALLE = VISTA_FUNCION_COL_SPECIAL_WRITING_DETAIL;

    public static final String LISTA_RECURSOS = "/${project.webProjectName}/${webPagesCopyFaces}/recurso/Recurso1.${webPagesFileExtension}";

    public static final String ARBOL_RECURSOS = "/${project.webProjectName}/${webPagesCopyFaces}/recurso/Recurso3.${webPagesFileExtension}";

    public static final String RASTRO_FUNCION = RASTRO_FUNCION_READING_TABLE;

    public static final String RASTRO_INFORME = RASTRO_INFORME_READING_TABLE;

    public static final String RASTRO_PROCESO = RASTRO_PROCESO_READING_TABLE;
    // </editor-fold>

#end##writeURXOOBB

#macro(writeURXTWN)
    /**
     * URX (URI/URL) to TWN (Target Window Name) map
     */
    private static final Map<String, String> twn = new LinkedHashMap<>();

    static {
        twn.put(INICIO, "${project.webProjectName}");
        twn.put(FAVORITOS, "${project.webProjectName}");
        twn.put(CAMBIO_PASSWORD, "${project.webProjectName}");
#***
        twn.put(FILTRO_FUNCION, "${project.webProjectName}-registro-filtro");
        twn.put(FILTRO_FUNCION_DETALLE, "${project.webProjectName}-registro-filtro");
        twn.put(FILTRO_FUNCION_PAR, "${project.webProjectName}-registro-filtro");
        twn.put(FILTRO_FUNCION_PAR_DETALLE, "${project.webProjectName}-registro-filtro");
*###
        twn.put(FILTRO_FUNCION_PAR_RECURSO, "${project.webProjectName}-recurso-filtro");
        twn.put(FILTRO_FUNCION_PAR_RECURSO_ARBOL, "${project.webProjectName}-recurso-filtro");
        twn.put(LISTA_RECURSOS, "${project.webProjectName}-recurso");
        twn.put(ARBOL_RECURSOS, "${project.webProjectName}-recurso");
#***
        twn.put(RASTRO_FUNCION, "${project.webProjectName}-consulta");
        twn.put(RASTRO_INFORME, "${project.webProjectName}-consulta");
        twn.put(RASTRO_PROCESO, "${project.webProjectName}-consulta");
*###
#foreach($page in $pages)
    #setSpecialMasterDetailPage()
    #if($page.master && !$specialMasterDetailPageFlag)
    #elseif("$!page.displayMode" == 'UNSPECIFIED' || "$!page.displayFormat" == 'UNSPECIFIED')
    #else
        #set($fee = $page.entity.wrapper.javaConstantName)
        #set($faa = $page.module.wrapper.hyphenatedAlias)
        twn.put(${fee}${specialInfix}_${page.displayMode}_${page.displayFormat}, "${project.webProjectName}-${faa}");
    #end
#end##foreach-page
    }

    public static String getTargetWindowName(String urx) {
        return twn.containsKey(urx) ? twn.get(urx) : null;
    }

#end##writeURXTWN

#macro(writeURXSFN)
    /**
     * URX (URI/URL) to SFN (Select Function Number) map
     */
    private static final Map<String, Long[]> sfn = new LinkedHashMap<>();

    static {
#foreach($page in $pages)
    #if($page.master)
    #elseif("$!page.displayMode" == 'UNSPECIFIED' || "$!page.displayFormat" == 'UNSPECIFIED')
    #elseif("$!page.displayMode" == 'PROCESSING' && "$!page.displayFormat" == 'CONSOLE')
        #set($fee = $page.entity.wrapper.javaConstantName)
        #set($faa = $page.module.wrapper.hyphenatedAlias)
        #set($sfn = '')
        #set($operations = $ColUtils.filter($page.entity.businessOperationsList, $isAccesibleOperation))
        #foreach($operation in $operations)
            #set($sfn = "${sfn}, ${project.getOperationNumber($operation)}L")
        #end
        #if($sfn != '')
....        sfn.put(${fee}_${page.displayMode}_${page.displayFormat}, new Long[]{$sfn.substring(2)});
        #end
    #else
        #set($fee = $page.entity.wrapper.javaConstantName)
        #set($faa = $page.module.wrapper.hyphenatedAlias)
        sfn.put(${fee}_${page.displayMode}_${page.displayFormat}, new Long[]{${project.getOperationNumber($selectOperationKey, $page.entity)}L});
    #end
#end##foreach-page
    }

    public static Long[] getSelectFunctionNumber(String urx) {
        return sfn.containsKey(urx) ? sfn.get(urx) : null;
    }

#end##writeURXSFN

#macro(setSpecialMasterDetailPage)
    #if($page.master)
        #if($page.displayMode != 'WRITING')
            #set($specialMasterDetailPageFlag = $FALSE)
        #elseif($page.entity.name == 'FiltroFuncion')
            #set($specialMasterDetailPageFlag = $TRUE)
        #elseif($page.entity.name == 'FiltroFuncionPar')
            #set($specialMasterDetailPageFlag = $TRUE)
        #elseif($page.entity.name == 'VistaFuncion')
            #set($specialMasterDetailPageFlag = $TRUE)
        #elseif($page.entity.name == 'VistaFuncionCol')
            #set($specialMasterDetailPageFlag = $TRUE)
        #else
            #set($specialMasterDetailPageFlag = $FALSE)
        #end
    #else
        #set($specialMasterDetailPageFlag = $FALSE)
    #end
    #if($specialMasterDetailPageFlag)
        #set($specialInfix = '_SPECIAL')
    #else
        #set($specialInfix = '')
    #end
#end##setSpecialMasterDetailPage
