#setGlobalVariables()
${pound}!/bin/bash
EEAS=$targetApplicationServer
DBMS=$targetDatabaseServer
#if("$!project.internetAccessAllowed" != '')
....# la variable INTERNET_ACCESS_ALLOWED especifica si se permite, o no, el acceso a Internet
....# su valor debe ser true o false
....INTERNET_ACCESS_ALLOWED=$project.internetAccessAllowed
#end
#if("$!project.projectMailingEnabled" != '')
....# la variable PROJECT_MAILING_ENABLED especifica si se habilita, o no, el correo electronico
....# su valor debe ser true o false
....PROJECT_MAILING_ENABLED=$project.projectMailingEnabled
#end
#if("$!project.projectStage" != '')
....# la variable PROJECT_STAGE especifica la fase actual del proyecto
....# su valor debe ser Development, Testing, Acceptance o Production
....PROJECT_STAGE=$StringUtils.capitalize($project.projectStage.name().toLowerCase())
#end
