#setGlobalVariables()
${pound}!/bin/bash
clear
cd ${absolute}
pwd
ls -l
rm -i Java
rm -i ${targetJBossDir}
rm -i PostgreSQL
ls -l
ln -s /cygdrive/c/"Program Files"/Java Java
ln -s /cygdrive/c/${targetJBossDir} ${targetJBossDir}
ln -s /cygdrive/c/"Program Files"/PostgreSQL PostgreSQL
ls -l
