#setGlobalVariables()
${pound}!/bin/bash
export JAVA_HOME=${absolute}/Java/jdk${targetJavaVersion}
export JBOSS_HOME=${targetJBossHomeDir}
export POSTGRESQL_HOME=${absolute}/PostgreSQL/${targetPostgreSQLVersion}
export THIRD_PARTY_HOME=${absolute}/third-party
export JAVA_MAJOR=${targetJavaMajorVersion}
export JAVA_VERSION=${targetJavaVersion}
export JBOSS_MAJOR=${targetJBossMajorVersion}
export JBOSS_VERSION=${targetJBossVersion}
export POSTGRESQL_MAJOR=${targetPostgreSQLMajorVersion}
export POSTGRESQL_VERSION=${targetPostgreSQLVersion}
