#setGlobalVariables()
#parse('templates/jee1/macros/macros-3.vm')
#setTargetEnvironmentVariables()
${pound}!/bin/bash
export JAVA_HOME=/opt/Java/jdk${targetJavaVersion}
export JBOSS_HOME=/opt/jboss-as-${targetJBossVersion}
export POSTGRESQL_HOME=/opt/PostgreSQL/${targetPostgreSQLVersion}
export THIRD_PARTY_HOME=/opt/third-party
export JAVA_VERSION=${targetJavaVersion}
export JBOSS_VERSION=${targetJBossVersion}
export POSTGRESQL_VERSION=${targetPostgreSQLVersion}
