select distinct
table_name,
null as default_label,
null as default_collection_label,
null as resource_type,
'N' as is_enumerable,
'Y' as is_independent
from user_tables
where tablespace_name is not null and tablespace_name <> 'SYSTEM'
order by table_name
