#setGlobalVariables()
${pound}!/bin/bash
clear
cd ${absolute}
pwd
ls -l
rm -i Java
rm -i glassfish-${targetGlassFishVersion}
rm -i PostgreSQL
ls -l
ln -s /cygdrive/c/"Program Files"/Java Java
ln -s /cygdrive/c/"Program Files"/glassfish-${targetGlassFishVersion} glassfish-${targetGlassFishVersion}
ln -s /cygdrive/c/"Program Files"/PostgreSQL PostgreSQL
ls -l
