#setGlobalVariables()
${pound}!/bin/bash
export JAVA_HOME=${absolute}/Java/jdk${targetJavaVersion}
export GLASSFISH_HOME=${absolute}/glassfish-${targetGlassFishVersion}/glassfish
export POSTGRESQL_HOME=${absolute}/PostgreSQL/${targetPostgreSQLVersion}
export THIRD_PARTY_HOME=${absolute}/third-party
export JAVA_MAJOR=${targetJavaMajorVersion}
export JAVA_VERSION=${targetJavaVersion}
export GLASSFISH_MAJOR=${targetGlassFishMajorVersion}
export GLASSFISH_VERSION=${targetGlassFishVersion}
export POSTGRESQL_MAJOR=${targetPostgreSQLMajorVersion}
export POSTGRESQL_VERSION=${targetPostgreSQLVersion}
