#setGlobalVariables()
#parse('templates/jee1/macros/macros-3.vm')
#setTargetEnvironmentVariables()
set JAVA_HOME=%ProgramFiles%${backslash}Java${backslash}jdk${targetJavaVersion}
set GLASSFISH_HOME=%ProgramFiles%${backslash}glassfish-${targetGlassFishVersion}${backslash}glassfish
set POSTGRESQL_HOME=%ProgramFiles%${backslash}PostgreSQL${backslash}${targetPostgreSQLVersion}
set THIRD_PARTY_HOME=%SystemDrive%${backslash}workspace${backslash}third-party
set JAVA_VERSION=${targetJavaVersion}
set GLASSFISH_VERSION=${targetGlassFishVersion}
set POSTGRESQL_VERSION=${targetPostgreSQLVersion}
