#set($capitalizedComponentName = $StringUtils.capitalize($componentName))
$tab    private Checkbox ${componentName} = new CasillaVerificacion();

#if("$!PaginaActualizacion" != '' && "$!divString" == '' && "$!tabString" == '')
$tab    @Override
#end
$tab    public Checkbox get${capitalizedComponentName}() {
$tab        return ${componentName};
$tab    }

$tab    public void set${capitalizedComponentName}(Checkbox checkbox) {
$tab        ${componentName} = checkbox;
$tab    }

#break
