#set($capitalizedComponentName = $StringUtils.capitalize($componentName))
$tab    private Part ${componentName};

#if("$!PaginaActualizacion" != '' && "$!divString" == '' && "$!tabString" == '')
$tab    @Override
#end
$tab    public Part get${capitalizedComponentName}() {
$tab        return ${componentName};
$tab    }

$tab    public void set${capitalizedComponentName}(Part part) {
$tab        ${componentName} = part;
$tab    }

#break
