#set($capitalizedComponentName = $StringUtils.capitalize($componentName))
$tab    private PasswordField ${componentName} = new CampoPassword();

#if("$!PaginaActualizacion" != '' && "$!divString" == '' && "$!tabString" == '')
$tab    @Override
#end
$tab    public PasswordField get${capitalizedComponentName}() {
$tab        return ${componentName};
$tab    }

$tab    public void set${capitalizedComponentName}(PasswordField passwordField) {
$tab        ${componentName} = passwordField;
$tab    }

#break
