#set($capitalizedComponentName = $StringUtils.capitalize($componentName))
$tab    private TextArea ${componentName} = new AreaTexto();

#if("$!PaginaActualizacion" != '' && "$!divString" == '' && "$!tabString" == '')
$tab    @Override
#end
$tab    public TextArea get${capitalizedComponentName}() {
$tab        return ${componentName};
$tab    }

$tab    public void set${capitalizedComponentName}(TextArea textArea) {
$tab        ${componentName} = textArea;
$tab    }

$tab    public void set${capitalizedComponentName}(TextField textField) {
$tab        if (${componentName} instanceof TextArea) {
$tab            ${componentName} = (TextArea) textField;
$tab        }
$tab    }

#break
