#break

#macro(writeRecursoLocalizableImport)
#if($esRecursoLocalizable)
    #set($added = $imports.add("${project.rootPackageName}.lib.core.db.xdp.RecursoLocalizableDataProvider"))
    #set($added = $interfaces.add('RecursoLocalizableDataProvider'))
#end
#end##writeRecursoLocalizableImport

#macro(writeRecursoLocalizableImplementation)
#if($esRecursoLocalizable)
    #set($property = $entity.urlProperty)
    @Override
    public ${property.wrapper.javaPrimitiveType} getUrl() {
        return get${property.wrapper.javaClassName}();
    }

    @Override
    public ${property.wrapper.javaPrimitiveType} getUrl(RowKey rowKey) {
        return get${property.wrapper.javaClassName}(rowKey);
    }

#end
#end##writeRecursoLocalizableImplementation
