#break

#macro(setTargetEnvironmentVariables)
#set($targetProgrammingLanguageVersionTemplateName = 'templates/jee1/macros/version/java.vm')
#parse($targetProgrammingLanguageVersionTemplateName)
#set($targetApplicationServerVersionTemplateName = "templates/jee1/macros/version/${targetApplicationServerCode}.vm")
#parse($targetApplicationServerVersionTemplateName)
#set($targetDatabaseServerVersionTemplateName = "templates/jee1/macros/version/${targetDatabaseServerCode}.vm")
#parse($targetDatabaseServerVersionTemplateName)
#end##setTargetEnvironmentVariables
