#break

#macro(addPageBeanImports)
    #set($added = $imports.add("${project.rootPackageName}.web.*"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.app.constant.EAB"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.app.constant.URX"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.app.EJBL"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.web.BaseBundle"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.web.app.*"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.web.bundle.BundleWebui"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.jsf.component.*"))
    #set($added = $imports.add("com.sun.webui.jsf.component.*"))
    #set($added = $imports.add("com.sun.webui.jsf.model.Option"))
    #set($added = $imports.add("javax.ejb.EJB"))
    #set($added = $imports.add("javax.faces.FacesException"))
    #set($added = $imports.add("javax.faces.component.UIComponent"))
    #set($added = $imports.add("javax.faces.context.FacesContext"))
    #set($added = $imports.add("javax.faces.convert.*"))
    #set($added = $imports.add("javax.faces.validator.*"))
    #set($added = $imports.add("javax.annotation.PostConstruct"))
    #set($added = $imports.add("javax.annotation.PreDestroy"))
#end##addPageBeanImports
