#break

#macro(writeRecursoDescriptibleImport)
#if($esRecursoDescriptible)
    #set($added = $imports.add("${project.rootPackageName}.lib.base.interfaces.RecursoDescriptible"))
    #set($added = $interfaces.add('RecursoDescriptible'))
#end
#end##writeRecursoDescriptibleImport

#macro(writeRecursoDescriptibleImplementation)
#if($esRecursoDescriptible)
    #set($property = $entity.descriptionProperty)
    @Override
    public String getColumnaDescripcionRecurso() {
        return ${javaClassSimpleName}Constants.COLUMNA_DESCRIPCION_RECURSO;
    }

    @Override
    public String getEtiquetaDescripcionRecurso() {
        return ${javaClassSimpleName}Constants.ETIQUETA_DESCRIPCION_RECURSO;
    }

    @Override
    public ${property.wrapper.javaPrimitiveType} getDescripcionRecurso() {
        return get${property.wrapper.javaClassName}();
    }

    @Override
    public void setDescripcionRecurso(${property.wrapper.javaPrimitiveType} descripcionRecurso) {
        set${property.wrapper.javaClassName}(descripcionRecurso);
    }

#end
#end##writeRecursoDescriptibleImplementation
