#break

#macro(writeRecursoVersionableImport)
#if($esRecursoVersionable)
    #set($added = $imports.add("${project.rootPackageName}.lib.base.interfaces.RecursoVersionable"))
    #set($added = $interfaces.add('RecursoVersionable'))
#end
#end##writeRecursoVersionableImport

#macro(writeRecursoVersionableImplementation)
#if($esRecursoVersionable)
    #set($property = $entity.versionProperty)
    @Override
    public String getColumnaVersionRecurso() {
        return ${javaClassSimpleName}Constants.COLUMNA_VERSION_RECURSO;
    }

    @Override
    public String getEtiquetaVersionRecurso() {
        return ${javaClassSimpleName}Constants.ETIQUETA_VERSION_RECURSO;
    }

    @Override
    public ${property.wrapper.javaPrimitiveType} getVersionRecurso() {
        return get${property.wrapper.javaClassName}();
    }

    @Override
    public void setVersionRecurso(${property.wrapper.javaPrimitiveType} versionRecurso) {
        set${property.wrapper.javaClassName}(versionRecurso);
    }

#end
#end##writeRecursoVersionableImplementation
