#break

#macro(writeRecursoCodificableImport)
#if($esRecursoCodificable)
    #set($added = $imports.add("${project.rootPackageName}.lib.base.interfaces.RecursoCodificable"))
    #set($added = $interfaces.add('RecursoCodificable'))
#end
#end##writeRecursoCodificableImport

#macro(writeRecursoCodificableImplementation)
#if($esRecursoCodificable)
    #set($property = $entity.characterKeyProperty)
    @Override
    public String getColumnaCodigoRecurso() {
        return ${javaClassSimpleName}Constants.COLUMNA_CODIGO_RECURSO;
    }

    @Override
    public String getEtiquetaCodigoRecurso() {
        return ${javaClassSimpleName}Constants.ETIQUETA_CODIGO_RECURSO;
    }

    @Override
    public ${property.wrapper.javaPrimitiveType} getCodigoRecurso() {
        return get${property.wrapper.javaClassName}();
    }

    @Override
    public void setCodigoRecurso(${property.wrapper.javaPrimitiveType} codigoRecurso) {
        set${property.wrapper.javaClassName}(codigoRecurso);
    }

#end
#end##writeRecursoCodificableImplementation
