#break

#macro(writeRecursoEnumerableImport)
#if($esRecursoEnumerable)
    #set($added = $imports.add("${project.rootPackageName}.lib.base.interfaces.RecursoEnumerable"))
    #set($added = $interfaces.add('RecursoEnumerable'))
#end
#end##writeRecursoEnumerableImport

#macro(writeRecursoEnumerableImplementation)
#if($esRecursoEnumerable)
    #set($property = $entity.numericKeyProperty)
    @Override
    public String getColumnaNumeroRecurso() {
        return ${javaClassSimpleName}Constants.COLUMNA_NUMERO_RECURSO;
    }

    @Override
    public String getEtiquetaNumeroRecurso() {
        return ${javaClassSimpleName}Constants.ETIQUETA_NUMERO_RECURSO;
    }

    @Override
    public ${property.wrapper.javaPrimitiveType} getNumeroRecurso() {
        return get${property.wrapper.javaClassName}();
    }

    @Override
    public void setNumeroRecurso(${property.wrapper.javaPrimitiveType} numeroRecurso) {
        set${property.wrapper.javaClassName}(numeroRecurso);
    }

#end
#end##writeRecursoEnumerableImplementation
