#break

#macro(writeRecursoNombrableImport)
#if($esRecursoNombrable)
    #set($added = $imports.add("${project.rootPackageName}.lib.base.interfaces.RecursoNombrable"))
    #set($added = $interfaces.add('RecursoNombrable'))
#end
#end##writeRecursoNombrableImport

#macro(writeRecursoNombrableImplementation)
#if($esRecursoNombrable)
    #set($property = $entity.nameProperty)
    @Override
    public String getColumnaNombreRecurso() {
        return ${javaClassSimpleName}Constants.COLUMNA_NOMBRE_RECURSO;
    }

    @Override
    public String getEtiquetaNombreRecurso() {
        return ${javaClassSimpleName}Constants.ETIQUETA_NOMBRE_RECURSO;
    }

    @Override
    public ${property.wrapper.javaPrimitiveType} getNombreRecurso() {
        return get${property.wrapper.javaClassName}();
    }

    @Override
    public void setNombreRecurso(${property.wrapper.javaPrimitiveType} nombreRecurso) {
        set${property.wrapper.javaClassName}(nombreRecurso);
    }

#end
#end##writeRecursoNombrableImplementation
