#break

#macro(writeRecursoJerarquizableImport)
#if($esRecursoJerarquizable)
    #set($added = $imports.add("${project.rootPackageName}.lib.base.interfaces.RecursoJerarquizable"))
    #set($added = $interfaces.add('RecursoJerarquizable'))
#end
#end##writeRecursoJerarquizableImport

#macro(writeRecursoJerarquizableImplementation)
#if($esRecursoJerarquizable)
    #set($property = $entity.parentProperty)
    @Override
    public String getColumnaRecursoSuperior() {
        return ${javaClassSimpleName}Constants.COLUMNA_RECURSO_SUPERIOR;
    }

    @Override
    public String getEtiquetaRecursoSuperior() {
        return ${javaClassSimpleName}Constants.ETIQUETA_RECURSO_SUPERIOR;
    }

    @Override
    public ${property.wrapper.javaPrimitiveType} getRecursoSuperior() {
        return get${property.wrapper.javaClassName}() == null ? null
            : get${property.wrapper.javaClassName}().getIdentificacionRecurso();
    }

##  @Override
##  public void setRecursoSuperior(${property.wrapper.javaPrimitiveType} recursoSuperior) {
##      set${property.wrapper.javaClassName}(recursoSuperior);
##  }
##
#end
#end##writeRecursoJerarquizableImplementation
