#parseJavaMacros()
#setJavaVariables()
#writeJavaLicense()
#writeJavaPackage()
#setLocalVariables()
#writeJavaImports($imports)
#writeJavaAuthor('Jorge Campins')
public class Maestro extends ProyectoBase {

    public static void main(String[] args) {
//      setBootstrappingFileName("bootstrapping.properties");
//      setLocale(Locale.ENGLISH);
        setLocale(Locale.forLanguageTag("es"));
        setAlertLoggingLevel(LoggingLevel.OFF);
//      setDetailLoggingLevel(LoggingLevel.INFO);
//      setTrackingLoggingLevel(LoggingLevel.INFO);
        Maestro maestro = new Maestro();
        if (maestro.build()) {
            maestro.putEnvironmentVariable(VERSION_JAVA, "1.8.0_77");
            maestro.putEnvironmentVariable(VERSION_GLASSFISH, "4.1.1");
            maestro.putEnvironmentVariable(VERSION_WILDFLY, "10.0.0.Final");
            maestro.putEnvironmentVariable(VERSION_POSTGRESQL, "9.5");
            maestro.setInternetAccessAllowed(true);
            maestro.setProjectMailingEnabled(true);
//          maestro.setProjectStage(ProjectStage.PRODUCTION);
//          maestro.setSecurityRealmType(SecurityRealmType.LDAP);
//          maestro.attachAddAttributesMethods(meta.postgresql.PostgreSQLAttributes.class);
//          maestro.attachAddAttributesMethods(meta.entidad.comun.operacion.basica.PostgreSQLAttributes.class);
            maestro.setAlias("$reader.projectAlias");
            maestro.generate(PLATAFORMA_NETBEANS_POSTGRESQL_GLASSFISH);
//          maestro.clearAddAttributesMethods();
        }
    }

    @Override
    protected void settleAttributes() {
        super.settleAttributes();
        setDefaultLabel("Gestión de Recursos Empresariales");
        setDefaultDescription("Gestión de Recursos Empresariales");
    }

    @ProjectModule(menu = Kleenean.TRUE, role = Kleenean.TRUE)
    Modulo1 mod1;

    @ProjectModule(menu = Kleenean.TRUE, role = Kleenean.TRUE)
    Auditoria modx1;

    @ProjectModule(menu = Kleenean.TRUE, role = Kleenean.TRUE)
    ControlAcceso modx2;

    @ProjectModule(menu = Kleenean.TRUE, role = Kleenean.TRUE)
    ControlProcesos modx3;

    @ProjectModule(menu = Kleenean.TRUE, role = Kleenean.TRUE)
    ControlPruebas modx4;

    @ProjectModule(menu = Kleenean.FALSE, role = Kleenean.TRUE)
    ControlTareas modx5;

}
#break

#macro(setLocalVariables)
    #set($added = $imports.add("adalid.commons.enums.LoggingLevel"))
    #set($added = $imports.add("adalid.core.annotations.ProjectModule"))
    #set($added = $imports.add("adalid.core.enums.Kleenean"))
    #set($added = $imports.add("java.util.Locale"))
    #set($added = $imports.add("meta.proyecto.base.ProyectoBase"))
    #set($added = $imports.add("meta.proyecto.comun.Auditoria"))
    #set($added = $imports.add("meta.proyecto.comun.ControlAcceso"))
    #set($added = $imports.add("meta.proyecto.comun.ControlProcesos"))
    #set($added = $imports.add("meta.proyecto.comun.ControlPruebas"))
    #set($added = $imports.add("meta.proyecto.comun.ControlTareas"))
#end
