    // <editor-fold defaultstate="collapsed" desc="metodos estandar para el manejo de los beans de contexto">
    private RequestBean1 getRequestBean1() {
        return (RequestBean1) getBean("RequestBean1");
    }

    private SessionBean1 getSessionBean1() {
        return (SessionBean1) getBean("SessionBean1");
    }

    private ApplicationBean1 getApplicationBean1() {
        return (ApplicationBean1) getBean("ApplicationBean1");
    }
    // </editor-fold>

