<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>${project.wrapper.htmlValidDefaultLabel}</title>
    </head>
    <body>
        <script src="/${project.rootFolderName}-war/resources/javascript1.js"></script>
        <script type="text/javascript">
        //  var DEFAULT_PROTOCOL  = 'http:';
        //  var DEFAULT_HOST      = 'localhost:8080';
        //  var DEFAULT_HOST_NAME = 'localhost';
        //  var DEFAULT_PORT      = '8080';
            var DEFAULT_ROOT      = 'http://localhost:8080/';
            var REDIRECT_MODE     = 'RedirectMode';
            var REDIRECT_OPEN     = '0';
            var REDIRECT_SELF     = '1';
            var SESSION_FRAME     = 'SessionFrame';
            var SESSION_STAMP     = 'SessionStamp';
            var SESSION_STATE     = 'SessionState';
            var SESSION_RESTART   = '0';
            var SESSION_REDIRECT  = '1';
        //
            function openVentana(urx, twn) {
                resizeWindow();
            //  alert('name=' + window.name + ', open(' + urx + ', ' + twn + ')');
                var wcx = twn.replace(/${backslash}-/gi, '_');
                var wfx = getEspecificacionesVentana('popup');
                var rpl = '?' + REDIRECT_MODE + '=' + REDIRECT_OPEN
                        + '&' + SESSION_FRAME + '=' + wcx
                        + '&' + SESSION_STAMP + '=' + getCurrentTimeMillis()
                        + '&' + SESSION_STATE + '=' + SESSION_RESTART;
                var wrx = openWindow(urx + rpl, wcx, wfx);
                wrx.opener = window.opener;
                wrx.focus();
                return wrx;
            }
        //
            function selfClose() {
            //  alert('name=' + window.name);
                var urx = location.protocol + '//' + location.host;
                location.replace(urx); // despues de este replace las funciones de este documento ya no estan disponibles
                window.close();
            }
        //
            function selfReplace(urx) {
                var state = getParametro(unescape(location.search), '?', SESSION_STATE + '=', '&');
                if (state === '') state = SESSION_RESTART;
                var rpl = '?' + REDIRECT_MODE + '=' + REDIRECT_SELF
                        + '&' + SESSION_FRAME + '=' + window.name
                        + '&' + SESSION_STAMP + '=' + getCurrentTimeMillis()
                        + '&' + SESSION_STATE + '=' + state;
                location.replace(urx + rpl); // despues de este replace las funciones de este documento ya no estan disponibles
            }
        //
            function tieneSufijo(str, kw0) {
                var ix0 = kw0 === '' ?  0  : str.indexOf(kw0);
                return (ix0 >= 0 && ix0 + kw0.length === str.length);
            }
        //
        //  alert(window.name + ', ' + location.href);
        //
        //  document.title = window.name;
        //  window.status  = window.name;
        //
            var ur0 = location.protocol + '//' + location.host + '/';
            var hp0 = location.host;
            var ur1 = location.protocol + '//' + location.host + location.pathname;
            var pr1 = getParametro(ur1, '://', '/', '/'); // project (context)
            var dw1 = getDefaultWindowName();
            if (window.name === '' || pr1 === '' || dw1 === '' || window.name.indexOf(dw1) !== 0) {
                selfClose();
            } else {
                var ur2 = getParametro(unescape(location.search), '?', 'url=', '&');
                var jsp = getParametro(unescape(location.search), '?', 'jsp=', '&');
                var twn = getParametro(unescape(location.search), '?', 'twn=', '&');
                if (ur2 === '' && jsp !== '') {
                    ur2 = ur0 + pr1 + '/faces/' + jsp + '.jsp';
                }
                if (ur2 === '') {
                    selfClose();
                } else {
                    var pr2 = getParametro(ur2, '://', '/', '/'); // project (context)
                    if (pr2 === '') {
                        selfClose();
                    } else {
                        if (ur2.indexOf(DEFAULT_ROOT) === 0) {
                            var rex = new RegExp(DEFAULT_ROOT, 'gi');
                            ur2 = ur2.replace(rex, ur0);
                        }
                        if (twn === '') {
                            twn = pr2;
                        }
                        var wc2 = twn.replace(/${backslash}-/gi, '_');
                        if (wc2 === window.name) {
                            selfReplace(ur2);
                        } else {
                            closeVentana(ur0, twn);
                            openVentana(ur2, twn);
                            selfClose();
                        }
                    }
                }
            }
        </script>
    </body>
</html>
