#break

#macro(setJSFVariables)
#set($checkBoxesAreAllowed = $TRUE)
#set($checkBoxesAreNotAllowed = $FALSE)
#set($project_min_window_width  = 640)
#set($project_min_window_height = 480)
#set($project_max_window_width  = 3840)
#set($project_max_window_height = 2160)
#set($project_default_window_width  = 1240)
#set($project_default_window_height = 930)
#set($project_view_width_margin = 40)
#set($project_window_width   = $VelocityAid.nvl($project.getIntegerAttribute('default_window_width',  $project_min_window_width,  $project_max_window_width),  $project_default_window_width))
#set($project_window_height  = $VelocityAid.nvl($project.getIntegerAttribute('default_window_height', $project_min_window_height, $project_max_window_height), $project_default_window_height))
#set($project_min_view_width = $project_min_window_width - $project_view_width_margin)
#set($project_max_view_width = $project_window_width - $project_view_width_margin)
#end##setJSFVariables
