#set($foo = $crudButtonsSequence.next())
$tab<!-- crud buttons opening -->
$tab<h:panelGrid id="panelGrid${panelGridSequence.next()}" columns="14">
$tab    <webuijsf:button id="botonAgregar$foo"
$tab        actionExpression="#{${pageBeanName}.botonAgregar1_action}"
$tab        binding="#{${pageBeanName}.botonAgregar$foo}"
$tab        disabled="#{${pageBeanName}.gestor.funcionInsertInhabilitada}"
$tab        onClick="#{${pageBeanName}.gestor.scriptAgregar}"
$tab        rendered="#{${pageBeanName}.gestor.funcionInsertHabilitada}"
$tab        styleClass="pdq-button-1"
$tab        text="#{${pageBeanName}.gestor.i18n.textoBotonAgregar}"
$tab        toolTip="#{${pageBeanName}.gestor.i18n.toolTipBotonAgregar}"/>
    #if("$!page.displayFormat" != 'TREE')
$tab    <webuijsf:dropDown id="listaFuncionEdicion$foo"
$tab        binding="#{${pageBeanName}.listaFuncionEdicion$foo}"
$tab        converter="#{${pageBeanName}.converterListaFuncionEdicion$foo}"
$tab        disabled="#{${pageBeanName}.gestor.loteConCambios}"
$tab        items="#{${pageBeanName}.opcionesListaFuncionEdicion}"
$tab        onChange="webui.suntheme.common.timeoutSubmitForm(this.form, 'listaFuncionEdicion$foo');"
$tab        rendered="#{${pageBeanName}.gestor.edicionMultiFuncionHabilitada}"
$tab        selected="#{${pageBeanName}.gestor.funcionEdicionSeleccionada}"
$tab        toolTip="#{${pageBeanName}.gestor.i18n.toolTipListaFuncionEdicion}"/>
    #end
$tab    <webuijsf:button id="botonEditar$foo"
$tab        actionExpression="#{${pageBeanName}.botonEditar1_action}"
$tab        binding="#{${pageBeanName}.botonEditar$foo}"
$tab        disabled="#{${pageBeanName}.gestor.funcionUpdateInhabilitada}"
$tab        onClick="#{${pageBeanName}.gestor.scriptEditar}"
$tab        rendered="#{${pageBeanName}.gestor.funcionUpdateHabilitada}"
$tab        styleClass="pdq-button-1"
    #if("$!page.displayFormat" != 'TREE')
$tab        text="#{${pageBeanName}.gestor.etiquetaOpcionSeleccionadaListaFuncionEdicion}"
$tab        toolTip="#{${pageBeanName}.gestor.etiquetaOpcionSeleccionadaListaFuncionEdicion}"/>
    #else
$tab        text="#{${pageBeanName}.gestor.i18n.textoBotonEditar}"
$tab        toolTip="#{${pageBeanName}.gestor.i18n.toolTipBotonEditar}"/>
    #end
$tab    <webuijsf:button id="botonEliminar$foo"
$tab        actionExpression="#{${pageBeanName}.botonEliminar1_action}"
$tab        binding="#{${pageBeanName}.botonEliminar$foo}"
$tab        disabled="#{${pageBeanName}.gestor.funcionDeleteInhabilitada}"
$tab        onClick="#{${pageBeanName}.gestor.scriptEliminar}"
$tab        rendered="#{${pageBeanName}.gestor.funcionDeleteHabilitada}"
$tab        styleClass="pdq-button-1"
$tab        text="#{${pageBeanName}.gestor.i18n.textoBotonEliminar}"
$tab        toolTip="#{${pageBeanName}.gestor.i18n.toolTipBotonEliminar}"/>
$tab    <webuijsf:button id="botonAplicar$foo"
$tab        actionExpression="#{${pageBeanName}.botonAplicar1_action}"
$tab        binding="#{${pageBeanName}.botonAplicar$foo}"
$tab        onClick="#{${pageBeanName}.gestor.scriptAplicar}"
$tab        rendered="#{${pageBeanName}.gestor.funcionCheckChangesHabilitada}"
$tab        styleClass="pdq-button-1"
$tab        text="#{${pageBeanName}.gestor.i18n.textoBotonAplicar}"
$tab        toolTip="#{${pageBeanName}.gestor.i18n.toolTipBotonAplicar}"/>
$tab    <webuijsf:button id="botonDeshacer$foo"
$tab        actionExpression="#{${pageBeanName}.botonDeshacer1_action}"
$tab        binding="#{${pageBeanName}.botonDeshacer$foo}"
$tab        onClick="#{${pageBeanName}.gestor.scriptDeshacer}"
$tab        rendered="#{${pageBeanName}.gestor.funcionCancelUpdateHabilitada}"
$tab        styleClass="pdq-button-1"
$tab        text="#{${pageBeanName}.gestor.i18n.textoBotonDeshacer}"
$tab        toolTip="#{${pageBeanName}.gestor.i18n.toolTipBotonDeshacer}"/>
$tab    <webuijsf:button id="botonConfirmar$foo"
$tab        actionExpression="#{${pageBeanName}.botonConfirmar1_action}"
$tab        binding="#{${pageBeanName}.botonConfirmar$foo}"
$tab        onClick="#{${pageBeanName}.gestor.scriptConfirmar}"
$tab        rendered="#{${pageBeanName}.gestor.funcionCommitHabilitada}"
$tab        styleClass="pdq-button-1"
$tab        text="#{${pageBeanName}.gestor.i18n.textoBotonConfirmar}"
$tab        toolTip="#{${pageBeanName}.gestor.i18n.toolTipBotonConfirmar}"/>
$tab    <webuijsf:button id="botonDescartar$foo"
$tab        actionExpression="#{${pageBeanName}.botonDescartar1_action}"
$tab        binding="#{${pageBeanName}.botonDescartar$foo}"
$tab        onClick="#{${pageBeanName}.gestor.scriptDescartar}"
$tab        rendered="#{${pageBeanName}.gestor.funcionRevertHabilitada}"
$tab        styleClass="pdq-button-1"
$tab        text="#{${pageBeanName}.gestor.i18n.textoBotonDescartar}"
$tab        toolTip="#{${pageBeanName}.gestor.i18n.toolTipBotonDescartar}"/>
    #if("$!page.displayFormat" != 'TREE')
$tab    <webuijsf:dropDown id="listaFuncionAccion$foo"
$tab        binding="#{${pageBeanName}.listaFuncionAccion$foo}"
$tab        converter="#{${pageBeanName}.converterListaFuncionAccion$foo}"
$tab        items="#{${pageBeanName}.opcionesListaFuncionAccion}"
$tab        onChange="webui.suntheme.common.timeoutSubmitForm(this.form, 'listaFuncionAccion$foo');"
$tab        rendered="#{${pageBeanName}.gestor.accionMultiFuncionHabilitada}"
$tab        selected="#{${pageBeanName}.gestor.funcionAccionSeleccionada}"
$tab        toolTip="#{${pageBeanName}.gestor.i18n.toolTipListaFuncionAccion}"/>
$tab    <webuijsf:button id="botonProcesar$foo"
$tab        actionExpression="#{${pageBeanName}.botonProcesar1_action}"
$tab        binding="#{${pageBeanName}.botonProcesar$foo}"
$tab        onClick="#{${pageBeanName}.gestor.scriptProcesar}"
$tab        rendered="#{${pageBeanName}.gestor.funcionExecuteHabilitada}"
$tab        styleClass="pdq-button-1"
$tab        text="#{${pageBeanName}.gestor.i18n.textoBotonProcesar}"
$tab        toolTip="#{${pageBeanName}.gestor.i18n.toolTipBotonProcesar}"/>
    #end
    #if("$!page.displayFormat" == 'TABLE')
$tab    <webuijsf:button id="botonMostrarFiltro$foo"
$tab        actionExpression="#{${filter}.botonMostrarFiltro1_action}"
$tab        rendered="#{${pageBeanName}.funcionShowFilterHabilitada}"
$tab        styleClass="pdq-button-1"
$tab        text="#{${pageBeanName}.gestor.i18n.textoBotonMostrarFiltro}"
$tab        toolTip="#{${pageBeanName}.gestor.i18n.toolTipBotonMostrarFiltro}"/>
$tab    <webuijsf:button id="botonMostrarVisor$foo"
$tab        actionExpression="#{${viewer}.botonMostrarVisor1_action}"
$tab        rendered="#{${pageBeanName}.funcionShowViewerHabilitada}"
$tab        styleClass="pdq-button-1"
$tab        text="#{${pageBeanName}.gestor.i18n.textoBotonMostrarVisor}"
$tab        toolTip="#{${pageBeanName}.gestor.i18n.toolTipBotonMostrarVisor}"/>
    #end
$tab    <webuijsf:button id="botonRefrescar$foo"
$tab        actionExpression="#{${pageBeanName}.botonRefrescar1_action}"
$tab        binding="#{${pageBeanName}.botonRefrescar$foo}"
$tab        disabled="#{${pageBeanName}.gestor.funcionSelectInhabilitada}"
$tab        onClick="#{${pageBeanName}.gestor.scriptRefrescar}"
$tab        rendered="#{${pageBeanName}.gestor.funcionRefreshHabilitada}"
$tab        styleClass="pdq-button-1"
$tab        text="#{${pageBeanName}.gestor.i18n.textoBotonRefrescar}"
$tab        toolTip="#{${pageBeanName}.gestor.i18n.toolTipBotonRefrescar}"/>
$tab    <webuijsf:button id="botonReconsultar$foo"
$tab        actionExpression="#{${pageBeanName}.botonReconsultar1_action}"
$tab        binding="#{${pageBeanName}.botonReconsultar$foo}"
$tab        disabled="#{${pageBeanName}.gestor.funcionSelectInhabilitada}"
$tab        onClick="#{${pageBeanName}.gestor.scriptReconsultar}"
$tab        rendered="#{${pageBeanName}.gestor.funcionRequeryHabilitada}"
$tab        styleClass="pdq-button-1"
$tab        text="#{${pageBeanName}.gestor.i18n.textoBotonReconsultar}"
$tab        toolTip="#{${pageBeanName}.gestor.i18n.toolTipBotonReconsultar}"/>
$tab    <webuijsf:button id="botonRetornar$foo"
$tab        actionExpression="#{${pageBeanName}.botonRetornar1_action}"
$tab        binding="#{${pageBeanName}.botonRetornar$foo}"
$tab        disabled="#{${pageBeanName}.gestor.funcionReturnFilaEscogidaInhabilitada}"
$tab        onClick="#{${pageBeanName}.gestor.scriptRetornarRecursoEscogido}"
$tab        rendered="#{${pageBeanName}.gestor.funcionReturnVisible}"
$tab        styleClass="pdq-button-1"
$tab        text="#{${pageBeanName}.gestor.i18n.textoBotonRetornar}"
$tab        toolTip="#{${pageBeanName}.gestor.i18n.toolTipBotonRetornar}"/>
$tab</h:panelGrid>
$tab<!-- crud buttons closing -->
