#setGlobalVariables()
#if($targetJBossMajorVersion == '7')
    #set($jbossRuntime = "JBoss $targetJBossShortVersion Runtime")
#else
    #set($jbossRuntime = "WildFly $targetJBossShortVersion Runtime")
#end
<?xml version="1.0" encoding="UTF-8"?>
<faceted-project>
    <runtime name="${jbossRuntime}"/>
    <fixed facet="java"/>
    <fixed facet="jst.utility"/>
    <installed facet="jst.utility" version="1.0"/>
    <installed facet="java" version="$targetJavaShortVersion"/>
</faceted-project>
