#parseXMLMacros()
#setXMLVariables()
#writeXMLDeclaration()
#writeXMLLicense()
#writeXMLAuthor('Jorge Campins')
#setGlobalVariables()
#setLocalVariables()
#writeReport()
#break

#macro(setLocalVariables)
    #set($report = $operation.operationViewReport)
    #set($vista = "$!{operation.viewName}")
    #if($vista == '')
        #set($vista = "consulta_${report.entity.wrapper.sqlName}")
        #set($vista = "${report.entity.wrapper.sqlSchemaQualifier}consulta_${report.entity.wrapper.sqlSchemaUnqualifiedShortName}")
    #end
    #set($opcion = $VelocityAid.valueOf($SelectOption, 'DETAIL'))
    #set($queryString = "$!report.view.getSelectStatement($vista, $opcion)")
    #if($queryString == '')
        #set($queryString = "select * from ${vista}")
    #end
    #set($repAggCount = $report.aggregations.size())
    ## -----------------------------------------------------------------------------
    #set($bigPageHead = 'false')
    ## -----------------------------------------------------------------------------
    #set($imagewdthH1 = 0)##max=160
    #set($imagehghtH1 = 0)##max=32
    #set($imagepathH1 = '')
    #set($imagewdthH2 = 0)##max=160
    #set($imagehghtH2 = 0)##max=32
    #set($imagepathH2 = '')
    #set($textcdataH1 = '')
    #set($textcdataH2 = '')
    #set($textcdataH3 = '')
    #set($textcdataH4 = '')
    #set($textcdataH5 = '')
    #set($textcdataH6 = '')
    #set($textcdataH7 = '')
    #set($textcdataH8 = '')
    #set($textcdataF1 = '')
    #set($textcdataF2 = '')
    ## -----------------------------------------------------------------------------
    #set($imagewdthH1 = 70)
    #set($imagehghtH1 = 30)
    #set($imagepathH1 = '$P{PAGE_HEADER_IMAGE_1}')
    #set($imagewdthH2 = 70)
    #set($imagehghtH2 = 30)
    #set($imagepathH2 = '$P{PAGE_HEADER_IMAGE_2}')
    #set($imagepathH2 = '')
    ## -----------------------------------------------------------------------------
    #set($pagenumberv = '$V{PAGE_NUMBER}')
    #set($pagenumber1 = '$R{PAGE_NUMBER_STRING_1}')
    #set($pagenumber2 = '$R{PAGE_NUMBER_STRING_2}')
    #set($pagenumber1 = '')
    #set($pagenumber2 = '')
    ## -----------------------------------------------------------------------------
    #set($locale = '$P{REPORT_LOCALE}')
    #set($bundleKey = """${report.entity.wrapper.sqlSchemaQualifiedShortName}.${report.view.wrapper.sqlName}""")
    #if($bigPageHead == 'true')
        #set($pageHeaderHeight = 64)
        #set($textcdataH2 = '')
        #set($textcdataH5 = """${report.title}""")
        #set($textcdataH5 = "JRBundleDominios.getLabel($locale, $bundleKey).toUpperCase()")
    #else
        #set($pageHeaderHeight = 32)
        #set($textcdataH2 = """${report.title}""")
        #set($textcdataH2 = "JRBundleDominios.getLabel($locale, $bundleKey).toUpperCase()")
        #set($textcdataH5 = '')
    #end
    #set($pageFooterHeight = 20)
    ## -----------------------------------------------------------------------------
    #set($detailHeaderLineHeight = 20)
    #set($detailFooterLineHeight = 0)
    #set($detailLineHeight = 16)
    #set($controlHeaderLineHeightArray = $VelocityAid.getNewArrayList())
    #set($added = $controlHeaderLineHeightArray.add(24))
    #set($added = $controlHeaderLineHeightArray.add(24))
    #set($added = $controlHeaderLineHeightArray.add(20))
    #set($added = $controlHeaderLineHeightArray.add(20))
    #set($added = $controlHeaderLineHeightArray.add(18))
    #set($added = $controlHeaderLineHeightArray.add(18))
    #set($controlFooterLineHeightArray = $VelocityAid.getNewArrayList())
    #set($added = $controlFooterLineHeightArray.add(24))
    #set($added = $controlFooterLineHeightArray.add(24))
    #set($added = $controlFooterLineHeightArray.add(20))
    #set($added = $controlFooterLineHeightArray.add(20))
    #set($added = $controlFooterLineHeightArray.add(18))
    #set($added = $controlFooterLineHeightArray.add(18))
    ## -----------------------------------------------------------------------------
    #set($textcdataF1 = '$P{END_USER_NAME}')
    ## -----------------------------------------------------------------------------
    #set($BOF = '$F{')
    #set($EOF = '}')
    #set($BOP = '$P{')
    #set($EOP = '}')
    #set($BOR = '$R{')
    #set($EOR = '}')
    #set($BOV = '$V{')
    #set($EOV = '}')
    ## -----------------------------------------------------------------------------
    #set($pageWidth       = 1008)
    #set($pageHeight      = 612)
    #set($leftMargin      = 24)
    #set($rightMargin     = 24)
    #set($topMargin       = 24)
    #set($bottomMargin    = 24)
    ## -----------------------------------------------------------------------------
    #set($availableHeight = $pageHeight - $topMargin - $bottomMargin - $pageHeaderHeight - $pageFooterHeight)
    #set($columnWidth0101 = $pageWidth - $leftMargin - $rightMargin)
    #set($columnWidth0102 = $columnWidth0101 / 2)
    #set($columnWidth0103 = $columnWidth0101 / 3)
    #set($columnWidth0104 = $columnWidth0101 / 4)
    #set($columnWidth0105 = $columnWidth0101 / 5)
    #set($columnWidth0106 = $columnWidth0101 / 6)
    #set($columnWidth0108 = $columnWidth0101 / 8)
    #set($columnWidth0110 = $columnWidth0101 / 10)
    #set($columnWidth0112 = $columnWidth0101 / 12)
    #set($columnWidth0116 = $columnWidth0101 / 16)
    #set($columnWidth0203 = $columnWidth0101 - $columnWidth0103)
    #set($columnWidth0304 = $columnWidth0101 - $columnWidth0104)
    #set($columnWidth0405 = $columnWidth0101 - $columnWidth0105)
    #set($columnWidth0506 = $columnWidth0101 - $columnWidth0106)
    #set($columnWidth0708 = $columnWidth0101 - $columnWidth0108)
    #set($columnWidth0910 = $columnWidth0101 - $columnWidth0110)
    #set($columnWidth1112 = $columnWidth0101 - $columnWidth0112)
    #set($columnWidth1516 = $columnWidth0101 - $columnWidth0116)
    ## -----------------------------------------------------------------------------
    #set($columnWidth0512 = $columnWidth0112 * 5)
    #set($columnWidth0712 = $columnWidth0101 - $columnWidth0512)
    ## -----------------------------------------------------------------------------
    #set($columnWidth0716 = $columnWidth0116 * 7)
    #set($columnWidth0916 = $columnWidth0101 - $columnWidth0716)
    ## -----------------------------------------------------------------------------
    #set($textAlignment = 'Left')
    #set($verticalAlignment = 'Middle')
    ## -----------------------------------------------------------------------------
#end##setLocalVariables

#macro(writeReport)
    #writeJasperReport()
    #writeIReportProperties()
    #writeImports()
    #writeTemplates()
    #writeParameters()
    #writeQuery()
    #writeFields()
    #writeVariables()
    #writeGroups()
##  #writeTitle()
    #writePageHeader()
    #if($es_informe_resumido == '0')
        #writeDetail()
    #end
    #writePageFooter()
    #if($repAggCount > 0)
        #writeSummary()
    #end
</jasperReport>
#end##writeReport

#macro(writeJasperReport)
<jasperReport
    xmlns="http://jasperreports.sourceforge.net/jasperreports"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://jasperreports.sourceforge.net/jasperreports http://jasperreports.sourceforge.net/xsd/jasperreport.xsd"
    name="$StringUtils.removeEndIgnoreCase($file, '.jrxml')"
    columnCount="1"
    printOrder="Vertical"
    orientation="Landscape"
    pageWidth="$pageWidth"
    pageHeight="$pageHeight"
    columnWidth="$columnWidth0101"
    columnSpacing="0"
    leftMargin="$leftMargin"
    rightMargin="$rightMargin"
    topMargin="$topMargin"
    bottomMargin="$bottomMargin"
    whenNoDataType="NoPages"
    isTitleNewPage="false"
    isSummaryNewPage="false">
#end##writeJasperReport

#macro(writeIReportProperties)
    <property name="ireport.scriptlethandling" value="0"/>
    <property name="ireport.encoding" value="UTF-8"/>
    <property name="ireport.zoom" value="1.0"/>
    <property name="ireport.x" value="0"/>
    <property name="ireport.y" value="0"/>
#end##writeIReportProperties

#macro(writeImports)
    <import value="java.math.BigDecimal"/>
    <import value="java.util.*"/>
    <import value="org.apache.commons.lang.StringUtils"/>
    <import value="org.apache.commons.lang.StringEscapeUtils"/>
    <import value="${project.rootPackageName}.lib.base.bundle.*"/>
    <import value="${project.rootPackageName}.lib.base.enumeration.*"/>
    <import value="${project.rootPackageName}.lib.base.entity.enumeration.*"/>
    <import value="${project.rootPackageName}.lib.base.util.*"/>
#end##writeImports

#macro(writeTemplates)
    <template><![CDATA[${BOP}CUSTOM_STYLE_TEMPLATE${EOP}]]></template>
#end##writeTemplates

#macro(writeParameters)
    <parameter name="ENTERPRISE_APPLICATION_CODE" class="java.lang.String" isForPrompting="false">
        <defaultValueExpression><![CDATA["${project.rootPackageName}"]]></defaultValueExpression>
    </parameter>
    <parameter name="ENTERPRISE_APPLICATION_NAME" class="java.lang.String" isForPrompting="false">
        <defaultValueExpression><![CDATA[JRBundleWebui.getString($locale, ${BOP}ENTERPRISE_APPLICATION_CODE${EOP})]]></defaultValueExpression>
    </parameter>
    <parameter name="RESOURCES_DIR" class="java.lang.String" isForPrompting="false">
        <defaultValueExpression><![CDATA["./resources/"]]></defaultValueExpression>
    </parameter>
    <parameter name="CUSTOM_STYLE_TEMPLATE" class="java.lang.String" isForPrompting="false">
        <defaultValueExpression><![CDATA[${BOP}RESOURCES_DIR${EOP} + ${BOP}ENTERPRISE_APPLICATION_CODE${EOP} + "0.jrtx"]]></defaultValueExpression>
    </parameter>
    <parameter name="PAGE_HEADER_IMAGE_1" class="java.lang.String" isForPrompting="false">
        <defaultValueExpression><![CDATA[${BOP}RESOURCES_DIR${EOP} + ${BOP}ENTERPRISE_APPLICATION_CODE${EOP} + "1.png"]]></defaultValueExpression>
    </parameter>
    <parameter name="PAGE_HEADER_IMAGE_2" class="java.lang.String" isForPrompting="false">
        <defaultValueExpression><![CDATA[${BOP}RESOURCES_DIR${EOP} + ${BOP}ENTERPRISE_APPLICATION_CODE${EOP} + "2.png"]]></defaultValueExpression>
    </parameter>
    <parameter name="SUBREPORTS_DIR" class="java.lang.String" isForPrompting="false">
        <defaultValueExpression><![CDATA["./subreports/"]]></defaultValueExpression>
    </parameter>
    <parameter name="SUPER_REPORT" class="java.lang.String" isForPrompting="false">
        <defaultValueExpression><![CDATA[""]]></defaultValueExpression>
    </parameter>
    <parameter name="END_USER_CODE" class="java.lang.String" isForPrompting="false">
        <defaultValueExpression><![CDATA[""]]></defaultValueExpression>
    </parameter>
    <parameter name="END_USER_NAME" class="java.lang.String" isForPrompting="false">
        <defaultValueExpression><![CDATA[""]]></defaultValueExpression>
    </parameter>
    <parameter name="es_informe_resumido" class="java.lang.Integer" isForPrompting="false">
        <defaultValueExpression><![CDATA[$es_informe_resumido]]></defaultValueExpression>
    </parameter>
    <parameter name="SQL_SELECT_STATEMENT" class="java.lang.String" isForPrompting="false">
        <defaultValueExpression><![CDATA[""]]></defaultValueExpression>
    </parameter>
    <parameter name="SQL_WHERE_CLAUSE" class="java.lang.String" isForPrompting="false">
        <defaultValueExpression><![CDATA[""]]></defaultValueExpression>
    </parameter>
    <parameter name="SQL_LIMIT_CLAUSE" class="java.lang.String" isForPrompting="false">
        <defaultValueExpression><![CDATA[""]]></defaultValueExpression>
    </parameter>
    <parameter name="CHART_DATASET_WHERE_CLAUSE" class="java.lang.String" isForPrompting="false">
        <defaultValueExpression><![CDATA[""]]></defaultValueExpression>
    </parameter>
#end##writeParameters

#macro(writeQuery)
    <queryString><![CDATA[$queryString]]></queryString>
#end##writeQuery

#macro(writeFields)
    #foreach($group in $report.groups)
        #foreach($field in $group.fields)
            #writeField()
        #end##foreach-field
    #end##foreach-group
#end##writeFields

#macro(writeField)
    <field name="$field.name" class="$field.javaClassName"/>
#end##writeField

#macro(writeVariables)
    #foreach($group in $report.groups)
        #foreach($field in $report.detailGroup.fields)
            #if($field.isCountAtHand())
                #writeVariable('COUNT' 'Count')
            #end
            #if($field.isMinAtHand())
                #writeVariable('MINIMUM' 'Lowest')
            #end
            #if($field.isMaxAtHand())
                #writeVariable('MAXIMUM' 'Highest')
            #end
            #if($field.isSumAtHand())
                #writeVariable('SUM' 'Sum')
            #end
            #if($field.isAverageAtHand())
                #writeVariable('AVERAGE' 'Average')
            #end
            #if($field.isDeviationAtHand())
                #writeVariable('DEVIATION' 'StandardDeviation')
            #end
        #end##foreach-field
    #end##foreach-group
#end##writeVariables

#macro(writeVariable $aggregation $calculation)
    #if("$calculation" == 'Count')
        #set($class = 'java.lang.Long')
    #else
        #set($class = $field.javaClassName)
    #end
    #if($group.isDetail())
        #set($name = "${aggregation.toLowerCase()}__${field.name}")
        #writeSummaryVariable()
    #else
        #set($name = "${aggregation.toLowerCase()}__${field.name}__${group.name}")
        #writeGroupVariable()
    #end
#end##writeVariable

#macro(writeSummaryVariable)
    <variable name="$name" class="$class" calculation="$calculation">
        <variableExpression><![CDATA[${BOF}${field.name}${EOF}]]></variableExpression>
    </variable>
#end##writeSummaryVariable

#macro(writeGroupVariable)
    <variable name="$name" class="$class" calculation="$calculation" resetType="Group" resetGroup="$group.name">
        <variableExpression><![CDATA[${BOF}${field.name}${EOF}]]></variableExpression>
    </variable>
#end##writeGroupVariable

#macro(writeGroups)
    #set($detailIncrement = 0)
    #set($lastControlGroupFooterHeight = 0)
    #foreach($group in $report.groups)
        #set($minHeightToStartNewPage = $group.resetMinHeightToStartNewPage())
    #end
    #foreach($group1 in $report.groups)
        #if($group1.isDetail())
            #set($increment = $detailHeaderLineHeight + $detailLineHeight)
            #set($detailIncrement = $increment)
        #else
            #if($group1.sequence < 5)
                #set($groupSequence = $group1.sequence)
            #else
                #set($groupSequence = 5)
            #end
            #set($headerLineHeight = $controlHeaderLineHeightArray.get($groupSequence))
            #set($footerLineHeight = $controlFooterLineHeightArray.get($groupSequence))
            #set($increment = $headerLineHeight * $group1.visibleFieldsCount)
##          #set($lastControlGroupFooterHeight = $footerLineHeight * $repAggCount * 3)
            #set($lastControlGroupFooterHeight = $footerLineHeight * $repAggCount + $detailLineHeight * $repAggCount * 2)
        #end
        #foreach($group2 in $report.groups)
            #if($group2.sequence <= $group1.sequence)
                #set($minHeightToStartNewPage = $group2.increaseMinHeightToStartNewPage($increment))
            #end
        #end
    #end
    #foreach($group in $report.groups)
        #if($group.isDetail())
        #else
            #set($minHeightToStartNewPage = $group.increaseMinHeightToStartNewPage($lastControlGroupFooterHeight))
        #end
    #end
    #foreach($group in $report.groups)
        #if($group.isDetail())
            #set($headerLineHeight = $detailHeaderLineHeight)
            #set($footerLineHeight = $detailFooterLineHeight)
            #set($headerHeight = $headerLineHeight)
            #set($footerHeight = $footerLineHeight)
            #set($isReprintHeaderOnEachPage = 'true')
            #set($isStartNewPage = 'false')
            #set($styleNumber = '-')
        #else
            #if($group.sequence < 5)
                #set($groupSequence = $group.sequence)
            #else
                #set($groupSequence = 5)
            #end
            #set($headerLineHeight = $controlHeaderLineHeightArray.get($groupSequence))
            #set($footerLineHeight = $controlFooterLineHeightArray.get($groupSequence))
            #set($headerHeight = $headerLineHeight * $group.visibleFieldsCount)
##          #set($footerHeight = $footerLineHeight * $repAggCount * 3)
            #set($footerHeight = $footerLineHeight * $repAggCount + $detailLineHeight * $repAggCount * 2)
            #set($isReprintHeaderOnEachPage = 'false')
            #set($isStartNewPage = 'false')
            #set($styleNumber = "$groupSequence")
        #end
        #if($es_informe_resumido == '0')
            #set($minHeightToStartNewPage = $group.minHeightToStartNewPage)
        #else
            #set($minHeightToStartNewPage = $group.minHeightToStartNewPage - $detailIncrement)
        #end
        #if($minHeightToStartNewPage >= $availableHeight)
            #set($minHeightToStartNewPage = $headerHeight)
        #end
        #if($group.isDetail())
            #if($es_informe_resumido == '0')
                #writeDetailGroup()
            #end
        #else
            #writeControlGroup()
        #end
    #end##foreach-group
#end##writeGroups

#macro(writeTitle)
    <title>
        <band height="80" splitType="Stretch">
            <frame>
                <reportElement
                    positionType="Float"
                    style="rh-band1"
                    stretchType="RelativeToBandHeight"
                    x="0"
                    y="0"
                    width="$columnWidth0101"
                    height="80"
                    key="frame"/>
                <textField
                    isBlankWhenNull="true"
                    isStretchWithOverflow="true"
                    evaluationTime="Report">
                    <reportElement
                        positionType="Float"
                        style="dx-text1"
                        stretchType="RelativeToBandHeight"
                        x="0"
                        y="0"
                        width="$columnWidth0101"
                        height="80"
                        key="textField"/>
                    #increaseIndentationBy(5)
                    #writeBox('' '' '')
                    #writeTextElement('Left' '')
                    #decreaseIndentationBy(5)
                    <textFieldExpression><![CDATA[${BOP}SQL_SELECT_STATEMENT${EOP}]]></textFieldExpression>
                </textField>
            </frame>
        </band>
    </title>
#end##writeTitle

#macro(writePageHeader)
    <pageHeader>
        <band height="$pageHeaderHeight" splitType="Stretch">
            <frame>
                <reportElement
                    style="ph-band1"
                    x="0"
                    y="0"
                    width="$columnWidth0101"
                    height="$pageHeaderHeight"
                    key="frame"/>
            #if($imagepathH1 == '')
                <staticText>
                    <reportElement
                        style="ph-text1"
                        x="0"
                        y="0"
                        width="$columnWidth0106"
                        height="32"
                        key="staticText"/>
                    #increaseIndentationBy(5)
                    #writeBox('' '' '')
                    #writeTextElement('Left' '')
                    #decreaseIndentationBy(5)
                    <text><![CDATA[$textcdataH1]]></text>
                </staticText>
            #else
                <image onErrorType="Icon" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self">
                    <reportElement
                        style="ph-text1"
                        x="0"
                        y="0"
                        width="$imagewdthH1"
                        height="$imagehghtH1"
                        key="image-1"/>
                    <imageExpression class="java.lang.String"><![CDATA[$imagepathH1]]></imageExpression>
                </image>
            #end
            #if($pageHeaderHeight == 64)
                <staticText>
                    <reportElement
                        style="ph-text1"
                        x="$columnWidth0106"
                        y="0"
                        width="$columnWidth0103"
                        height="32"
                        key="staticText"/>
                    #increaseIndentationBy(5)
                    #writeBox('' '' '')
                    #writeTextElement('Center' '')
                    #decreaseIndentationBy(5)
                    <text><![CDATA[$textcdataH2]]></text>
                </staticText>
                <staticText>
                    <reportElement
                        style="ph-text1"
                        x="$columnWidth0102"
                        y="0"
                        width="$columnWidth0103"
                        height="32"
                        key="staticText"/>
                    #increaseIndentationBy(5)
                    #writeBox('' '' '')
                    #writeTextElement('Center' '')
                    #decreaseIndentationBy(5)
                    <text><![CDATA[$textcdataH3]]></text>
                </staticText>
            #else
                <textField
                    isBlankWhenNull="true"
                    isStretchWithOverflow="true"
                    evaluationTime="Report">
                    <reportElement
                        style="ph-text1"
                        stretchType="RelativeToBandHeight"
                        x="$columnWidth0106"
                        y="0"
                        width="$columnWidth0203"
                        height="32"
                        key="textField"/>
                    #increaseIndentationBy(5)
                    #writeBox('' '' '')
                    #writeTextElement('Center' '')
                    #decreaseIndentationBy(5)
                    <textFieldExpression><![CDATA[$textcdataH2]]></textFieldExpression>
                </textField>
            #end
            #if($imagepathH2 == '')
                <staticText>
                    <reportElement
                        style="ph-text1"
                        x="$columnWidth0506"
                        y="0"
                        width="$columnWidth0106"
                        height="32"
                        key="staticText"/>
                    #increaseIndentationBy(5)
                    #writeBox('' '' '')
                    #writeTextElement('Right' '')
                    #decreaseIndentationBy(5)
                    <text><![CDATA[$textcdataH4]]></text>
                </staticText>
            #else
                #set($nextx = $columnWidth0101 - $imagewdthH2)
                <image onErrorType="Icon" evaluationTime="Now" hyperlinkType="None"  hyperlinkTarget="Self">
                    <reportElement
                        x="$nextx"
                        y="0"
                        width="$imagewdthH2"
                        height="$imagehghtH2"
                        key="image-2"/>
                    <imageExpression class="java.lang.String"><![CDATA[$imagepathH2]]></imageExpression>
                </image>
            #end
            #if($pageHeaderHeight == 64)
                <textField
                    isBlankWhenNull="true"
                    isStretchWithOverflow="true"
                    evaluationTime="Report">
                    <reportElement
                        style="ph-text2"
                        stretchType="RelativeToBandHeight"
                        x="0"
                        y="32"
                        width="$columnWidth0102"
                        height="32"
                        key="textField"/>
                    #increaseIndentationBy(5)
                    #writeBox('' '' '')
                    #writeTextElement('Left' '')
                    #decreaseIndentationBy(5)
                    <textFieldExpression><![CDATA[$textcdataH5]]></textFieldExpression>
                </textField>
                <staticText>
                    <reportElement
                        style="ph-text2"
                        x="$columnWidth0102"
                        y="32"
                        width="$columnWidth0103"
                        height="32"
                        key="staticText"/>
                    #increaseIndentationBy(5)
                    #writeBox('' '' '')
                    #writeTextElement('Left' '')
                    #decreaseIndentationBy(5)
                    <text><![CDATA[$textcdataH6]]></text>
                </staticText>
                <staticText>
                    <reportElement
                        style="ph-text2"
                        x="$columnWidth0506"
                        y="32"
                        width="$columnWidth0106"
                        height="32"
                        key="staticText"/>
                    #increaseIndentationBy(5)
                    #writeBox('' '' '')
                    #writeTextElement('Left' '')
                    #decreaseIndentationBy(5)
                    <text><![CDATA[$textcdataH7]]></text>
                </staticText>
            #end
            </frame>
        </band>
    </pageHeader>
#end##writePageHeader

#macro(writeControlGroup)
    <group name="$group.name"
        isReprintHeaderOnEachPage="$isReprintHeaderOnEachPage"
        isStartNewPage="$isStartNewPage"
        minHeightToStartNewPage="$minHeightToStartNewPage">
        <groupExpression><![CDATA[${BOF}${group.name}${EOF}]]></groupExpression>
    #if($headerHeight > 0)
        <groupHeader>
            <band height="$headerHeight" splitType="Prevent">
                <printWhenExpression><![CDATA[Boolean.TRUE]]></printWhenExpression>
                <frame>
                    <reportElement
                        style="gh${styleNumber}band1"
                        x="0"
                        y="0"
                        width="$columnWidth0101"
                        height="$headerHeight"
                        key="frame"/>
                    #set($topPosition = 0)
                    #set($controlFooterAggregationField = $FALSE)
                    #foreach($field in $group.fields)
                        #setReportFieldVariables()
                        #if($w > 0)
                            #if($controlFooterAggregationField)
                            #elseif($field.property.isBusinessKeyProperty() || $field.property.isNameProperty())
                                #set($controlFooterAggregationField = $field)
                            #end
                            #if($field.pixels < $columnWidth0304)
                                #set($reportElementWidth1 = $columnWidth0104)
                                #set($reportElementWidth2 = $columnWidth0304)
                            #elseif($field.pixels > $columnWidth0708)
                                #set($reportElementWidth1 = $columnWidth0108)
                                #set($reportElementWidth2 = $columnWidth0708)
                            #else
                                #set($reportElementWidth1 = $columnWidth0101 - $field.pixels)
                                #set($reportElementWidth2 = $field.pixels)
                            #end
                            #writeControlHeaderFields()
                            #set($topPosition = $topPosition + $headerLineHeight)
                        #end
                    #end##foreach-field
                </frame>
            </band>
        </groupHeader>
    #end
    #if($footerHeight > 0)
        <groupFooter>
            <band height="$footerHeight" splitType="Prevent">
                <printWhenExpression><![CDATA[Boolean.TRUE]]></printWhenExpression>
                <frame>
                    <reportElement
                        style="gf${styleNumber}band1"
                        x="0"
                        y="0"
                        width="$columnWidth0101"
                        height="$footerHeight"
                        key="frame"/>
                    #set($topPosition = 0)
                    #foreach($aggregation in $report.aggregations)
                        #set($calculation = "$aggregation.name().toLowerCase()")
                        #if($controlFooterAggregationField)
                            #set($field = $controlFooterAggregationField)
                        #else
                            #set($field = $group.field)
                        #end
                        #setReportFieldVariables()
                        #if($field.pixels < $columnWidth0304)
                            #set($reportElementWidth1 = $columnWidth0104)
                            #set($reportElementWidth2 = $columnWidth0304)
                        #elseif($field.pixels > $columnWidth0708)
                            #set($reportElementWidth1 = $columnWidth0108)
                            #set($reportElementWidth2 = $columnWidth0708)
                        #else
                            #set($reportElementWidth1 = $columnWidth0101 - $field.pixels)
                            #set($reportElementWidth2 = $field.pixels)
                        #end
                        #writeControlFooterAggregationLabel()
                        #set($topPosition = $topPosition + $footerLineHeight)
##                      #set($lineHeight  = $footerLineHeight)
                        #set($lineHeight  = $detailLineHeight)
                        #set($x = 0)
                        #set($y = 0)
                        #set($z = $report.interFieldGapWidth)
                        #foreach($field in $report.detailGroup.fields)
                            #setReportFieldVariables()
                            #set($y = $x + $w)
                            #if($w > 0 && $y <= $columnWidth0101)
                                #if($field.aggregationAtHand($aggregation))
                                    #setFieldLabelTextData()
                                    #writeDetailHeaderField()
                                #end
                                #set($x = $y + $z)
                            #end
                        #end##foreach-field
                        #set($topPosition = $topPosition + $lineHeight)
##                      #set($lineHeight  = $footerLineHeight)
                        #set($lineHeight  = $detailLineHeight)
                        #set($x = 0)
                        #set($y = 0)
                        #set($z = $report.interFieldGapWidth)
                        #foreach($field in $report.detailGroup.fields)
                            #setReportFieldVariables()
                            #if("$calculation" == 'count')
                                #set($pattern = '#,##0;-#,##0')
                            #end
                            #set($y = $x + $w)
                            #if($w > 0 && $y <= $columnWidth0101)
                                #if($field.aggregationAtHand($aggregation))
                                    #writeControlFooterField()
                                #end
                                #set($x = $y + $z)
                            #end
                        #end##foreach-field
                        #set($topPosition = $topPosition + $lineHeight)
                    #end##foreach-aggregation
                </frame>
            </band>
        </groupFooter>
    #end
    </group>
#end##writeControlGroup

#macro(writeControlHeaderFields)
    <textField
        isBlankWhenNull="true"
        isStretchWithOverflow="false"
        evaluationTime="Report">
        <reportElement
            style="gh${styleNumber}text1"
            stretchType="RelativeToBandHeight"
            x="0"
            y="$topPosition"
            width="$reportElementWidth1"
            height="$headerLineHeight"
            key="textField"/>
        #increaseIndentationBy(6)
        #writeBox('' '' '')
        #writeTextElement('Left' '')
        #decreaseIndentationBy(6)
        #setFieldLabelTextData()
        <textFieldExpression><![CDATA[$textcdata]]></textFieldExpression>
    </textField>
    <textField
        pattern="$pattern"
        isBlankWhenNull="true"
        isStretchWithOverflow="false"
        evaluationTime="Now"
        hyperlinkType="None"
        hyperlinkTarget="Self">
        <reportElement
            style="gh${styleNumber}text2"
            stretchType="RelativeToBandHeight"
            x="$reportElementWidth1"
            y="$topPosition"
            width="$reportElementWidth2"
            height="$headerLineHeight"
            key="textField"/>
        #increaseIndentationBy(6)
        #writeBox('' '' '')
        #writeTextElement('Left' '')
        #decreaseIndentationBy(6)
        <textFieldExpression class="$javaClassName"><![CDATA[$fieldExpression]]></textFieldExpression>
    </textField>
#end##writeControlHeaderFields

#macro(writeControlFooterAggregationLabel)
    <textField
        isBlankWhenNull="true"
        isStretchWithOverflow="false"
        evaluationTime="Report">
        <reportElement
            style="gf${styleNumber}text1"
            stretchType="RelativeToBandHeight"
            x="0"
            y="$topPosition"
            width="$reportElementWidth1"
            height="$footerLineHeight"
            key="textField"/>
        #increaseIndentationBy(6)
        #writeBox('' '' '')
        #writeTextElement('Left' '')
        #decreaseIndentationBy(6)
        #setControlFooterAggregationLabelTextData()
        <textFieldExpression><![CDATA[$textcdata]]></textFieldExpression>
    </textField>
    <textField
        pattern="$pattern"
        isBlankWhenNull="true"
        isStretchWithOverflow="false"
        evaluationTime="Now"
        hyperlinkType="None"
        hyperlinkTarget="Self">
        <reportElement
            style="gf${styleNumber}text2"
            stretchType="RelativeToBandHeight"
            x="$reportElementWidth1"
            y="$topPosition"
            width="$reportElementWidth2"
            height="$footerLineHeight"
            key="textField"/>
        #increaseIndentationBy(6)
        #writeBox('' '' '')
        #writeTextElement('Left' '')
        #decreaseIndentationBy(6)
        <textFieldExpression class="$javaClassName"><![CDATA[$fieldExpression]]></textFieldExpression>
    </textField>
#end##writeControlFooterAggregationLabel

#macro(setControlFooterAggregationLabelTextData)
    #set($bundleKey = "tipo_agregacion.$aggregation.nameTag.toLowerCase()")
    #set($bundleKey = """${bundleKey}""")
    #set($fee = "JRBundleEnums.getString($locale, $bundleKey).toLowerCase()")
    #set($faa = """ / """)
    #set($field = $group.field)
    #setFieldLabelTextData()
    #if($controlFooterAggregationField)
        #set($field = $controlFooterAggregationField)
    #end
##  #set($textcdata = "$fee + $faa + StringUtils.capitalize($textcdata)")
    #set($textcdata = "$fee + $faa + $textcdata")
#end##setControlFooterAggregationLabelTextData

#macro(writeControlFooterField)
    <textField
        pattern="$pattern"
        isBlankWhenNull="true"
        isStretchWithOverflow="true"
        evaluationTime="Now"
        hyperlinkType="None"
        hyperlinkTarget="Self">
        <reportElement
            style="dx-text1"
            stretchType="RelativeToBandHeight"
            x="$x"
            y="$topPosition"
            width="$w"
            height="$lineHeight"
            key="textField"/>
        #increaseIndentationBy(5)
        #writeBox('' '' '')
        #writeTextElement($textAlignment 'Top')
        #decreaseIndentationBy(5)
        <textFieldExpression class="$javaClassName"><![CDATA[$groupVariableExpression]]></textFieldExpression>
    </textField>
#end##writeControlFooterField

#macro(writeDetailGroup)
    <group name="detailGroup"
        isReprintHeaderOnEachPage="$isReprintHeaderOnEachPage"
        isStartNewPage="$isStartNewPage"
        minHeightToStartNewPage="$minHeightToStartNewPage">
        <groupExpression><![CDATA[]]></groupExpression>
        <groupHeader>
            <band height="$headerHeight" splitType="Prevent">
                <printWhenExpression><![CDATA[${BOP}es_informe_resumido${EOP}==0]]></printWhenExpression>
                <frame>
                    <reportElement
                        style="ch-band1"
                        x="0"
                        y="0"
                        width="$columnWidth0101"
                        height="$headerHeight"
                        key="frame"/>
                    #set($x = 0)
                    #set($y = 0)
                    #set($z = $report.interFieldGapWidth)
                    #set($topPosition = 0)
                    #set($lineHeight  = $detailHeaderLineHeight)
                    #foreach($field in $group.fields)
                        #setReportFieldVariables()
                        #set($y = $x + $w)
                        #if($w > 0 && $y <= $columnWidth0101)
                            #setFieldShortLabelTextData()
                            #writeDetailHeaderField()
                            #set($x = $y + $z)
                        #end
                    #end##foreach-field
                </frame>
            </band>
        </groupHeader>
#*
        <groupFooter>
            <band height="0" splitType="Prevent">
                <printWhenExpression><![CDATA[${BOP}es_informe_resumido${EOP}==0]]></printWhenExpression>
            </band>
        </groupFooter>
*###
    </group>
#end##writeDetailGroup

#macro(writeDetailHeaderField)
    <textField
        isBlankWhenNull="true"
        isStretchWithOverflow="true"
        evaluationTime="Report">
        <reportElement
            style="ch-text1"
            stretchType="RelativeToBandHeight"
            x="$x"
            y="$topPosition"
            width="$w"
            height="$lineHeight"
            key="textField"/>
        #increaseIndentationBy(6)
        #writeBox('' '' '')
        #writeTextElement($textAlignment '')
        #decreaseIndentationBy(6)
        <textFieldExpression><![CDATA[$textcdata]]></textFieldExpression>
    </textField>
#end##writeDetailHeaderField

#macro(writeDetail)
    <detail>
        <band height="$detailLineHeight" splitType="Stretch">
            <printWhenExpression><![CDATA[${BOP}es_informe_resumido${EOP}==0]]></printWhenExpression>
            <frame>
                <reportElement
                    style="dx-band1"
                    x="0"
                    y="0"
                    width="$columnWidth0101"
                    height="$detailLineHeight"
                    key="frame"/>
                #set($x = 0)
                #set($y = 0)
                #set($z = $report.interFieldGapWidth)
                #set($topPosition = 0)
                #foreach($field in $report.detailGroup.fields)
                    #setReportFieldVariables()
                    #set($y = $x + $w)
                    #if($w > 0 && $y <= $columnWidth0101)
                        #writeDetailField()
                        #set($x = $y + $z)
                    #end
                #end##foreach-field
            </frame>
        </band>
    </detail>
#end##writeDetail

#macro(writeDetailField)
    <textField
        pattern="$pattern"
        isBlankWhenNull="true"
        isStretchWithOverflow="true"
        evaluationTime="Now"
        hyperlinkType="None"
        hyperlinkTarget="Self">
        <reportElement
            style="dx-text1"
            stretchType="RelativeToBandHeight"
            x="$x"
            y="$topPosition"
            width="$w"
            height="$detailLineHeight"
            key="textField"/>
        #increaseIndentationBy(5)
        #writeBox('' '' '')
        #writeTextElement($textAlignment 'Top')
        #decreaseIndentationBy(5)
        <textFieldExpression class="$javaClassName"><![CDATA[$fieldExpression]]></textFieldExpression>
    </textField>
#end##writeDetailField

#macro(writePageFooter)
    <pageFooter>
        <band height="$pageFooterHeight" splitType="Stretch">
            <frame>
                <reportElement
                    style="pf-band1"
                    x="0"
                    y="0"
                    width="$columnWidth0101"
                    height="$pageFooterHeight"
                    key="frame"/>
                <textField
                    isBlankWhenNull="true"
                    isStretchWithOverflow="true"
                    evaluationTime="Report"
                    pattern="dd/MM/yyyy"
                    hyperlinkType="None"
                    hyperlinkTarget="Self">
                    <reportElement
                        style="pf-text2"
                        stretchType="RelativeToBandHeight"
                        x="0"
                        y="0"
                        width="$columnWidth0103"
                        height="20"
                        key="textField"/>
                    #increaseIndentationBy(5)
                    #writeBox('' '' '')
                    #writeTextElement('Left' '')
                    #decreaseIndentationBy(5)
                    <textFieldExpression class="java.util.Date"><![CDATA[new Date()]]></textFieldExpression>
                </textField>
                <textField
                    isBlankWhenNull="true"
                    isStretchWithOverflow="true"
                    evaluationTime="Page"
                    hyperlinkType="None"
                    hyperlinkTarget="Self">
                    <reportElement
                        style="pf-text2"
                        stretchType="RelativeToBandHeight"
                        x="$columnWidth0103"
                        y="0"
                        width="$columnWidth0106"
                        height="20"
                        key="textField"/>
                    #increaseIndentationBy(5)
                    #writeBox('' '' '')
                    #writeTextElement('Right' '')
                    #decreaseIndentationBy(5)
                    #if($pagenumber1 == '')
                        #set($textcdata = "$pagenumberv")
                    #else
                        #set($textcdata = "$pagenumber1 + "" "" + $pagenumberv")
                    #end
                    <textFieldExpression class="java.lang.String"><![CDATA[$textcdata]]></textFieldExpression>
                </textField>
                <textField
                    isBlankWhenNull="true"
                    isStretchWithOverflow="true"
                    evaluationTime="Report"
                    hyperlinkType="None"
                    hyperlinkTarget="Self">
                    <reportElement
                        style="pf-text2"
                        stretchType="RelativeToBandHeight"
                        x="$columnWidth0102"
                        y="0"
                        width="$columnWidth0106"
                        height="20"
                        key="textField"/>
                    #increaseIndentationBy(5)
                    #writeBox('' '' '')
                    #writeTextElement('Left' '')
                    #decreaseIndentationBy(5)
                    #if($pagenumber2 == '')
                        #set($textcdata = """/ "" + $pagenumberv")
                    #else
                        #set($textcdata = "$pagenumber2 + "" "" + $pagenumberv")
                    #end
                    <textFieldExpression class="java.lang.String"><![CDATA[$textcdata]]></textFieldExpression>
                </textField>
                <textField
                    isBlankWhenNull="true"
                    isStretchWithOverflow="true"
                    evaluationTime="Report"
                    hyperlinkType="None"
                    hyperlinkTarget="Self">
                    <reportElement
                        style="pf-text2"
                        stretchType="RelativeToBandHeight"
                        x="$columnWidth0203"
                        y="0"
                        width="$columnWidth0103"
                        height="20"
                        key="textField"/>
                    #increaseIndentationBy(5)
                    #writeBox('' '' '')
                    #writeTextElement('Right' '')
                    #decreaseIndentationBy(5)
                    <textFieldExpression class="java.lang.String"><![CDATA[$textcdataF1]]></textFieldExpression>
                </textField>
            </frame>
        </band>
    </pageFooter>
#end##writePageFooter

#macro(writeSummary)
    #set($footerLineHeight = $controlFooterLineHeightArray.get(0))
##  #set($footerHeight = $footerLineHeight * $repAggCount * 3)
    #set($footerHeight = $footerLineHeight * $repAggCount + $detailLineHeight * $repAggCount * 2)
    <summary>
        <band height="$footerHeight" splitType="Prevent">
            <printWhenExpression><![CDATA[Boolean.TRUE]]></printWhenExpression>
            <frame>
                <reportElement
                    style="rf-band1"
                    x="0"
                    y="0"
                    width="$columnWidth0101"
                    height="$footerHeight"
                    key="frame"/>
                #set($topPosition = 0)
                #foreach($aggregation in $report.aggregations)
                    #set($calculation = "$aggregation.name().toLowerCase()")
                    #writeSummaryAggregationLabel()
                    #set($topPosition = $topPosition + $footerLineHeight)
##                  #set($lineHeight  = $footerLineHeight)
                    #set($lineHeight  = $detailLineHeight)
                    #set($x = 0)
                    #set($y = 0)
                    #set($z = $report.interFieldGapWidth)
                    #foreach($field in $report.detailGroup.fields)
                        #setReportFieldVariables()
                        #set($y = $x + $w)
                        #if($w > 0 && $y <= $columnWidth0101)
                            #if($field.aggregationAtHand($aggregation))
                                #setFieldLabelTextData()
                                #writeDetailHeaderField()
                            #end
                            #set($x = $y + $z)
                        #end
                    #end##foreach-field
                    #set($topPosition = $topPosition + $lineHeight)
##                  #set($lineHeight  = $footerLineHeight)
                    #set($lineHeight  = $detailLineHeight)
                    #set($x = 0)
                    #set($y = 0)
                    #set($z = $report.interFieldGapWidth)
                    #foreach($field in $report.detailGroup.fields)
                        #setReportFieldVariables()
                        #if("$calculation" == 'count')
                            #set($pattern = '#,##0;-#,##0')
                        #end
                        #set($y = $x + $w)
                        #if($w > 0 && $y <= $columnWidth0101)
                            #if($field.aggregationAtHand($aggregation))
                                #writeSummaryField()
                            #end
                            #set($x = $y + $z)
                        #end
                    #end##foreach-field
                    #set($topPosition = $topPosition + $lineHeight)
                #end##foreach-aggregation
            </frame>
        </band>
    </summary>
#end##writeSummary

#macro(writeSummaryAggregationLabel)
    <textField
        isBlankWhenNull="true"
        isStretchWithOverflow="false"
        evaluationTime="Report">
        <reportElement
            style="rf-text1"
            stretchType="RelativeToBandHeight"
            x="0"
            y="$topPosition"
            width="$columnWidth0101"
            height="$footerLineHeight"
            key="textField"/>
        #increaseIndentationBy(6)
        #writeBox('' '' '')
        #writeTextElement('Left' '')
        #decreaseIndentationBy(6)
        #setSummaryAggregationLabelTextData()
        <textFieldExpression><![CDATA[$textcdata]]></textFieldExpression>
    </textField>
#end##writeSummaryAggregationLabel

#macro(setSummaryAggregationLabelTextData)
    #set($bundleKey = "tipo_agregacion.$aggregation.nameTag.toLowerCase()")
    #set($bundleKey = """${bundleKey}""")
    #set($textcdata = "JRBundleEnums.getString($locale, $bundleKey).trim()")
#end##setSummaryAggregationLabelTextData

#macro(writeSummaryField)
    <textField
        pattern="$pattern"
        isBlankWhenNull="true"
        isStretchWithOverflow="true"
        evaluationTime="Now"
        hyperlinkType="None"
        hyperlinkTarget="Self">
        <reportElement
            style="dx-text1"
            stretchType="RelativeToBandHeight"
            x="$x"
            y="$topPosition"
            width="$w"
            height="$lineHeight"
            key="textField"/>
        #increaseIndentationBy(5)
        #writeBox('' '' '')
        #writeTextElement($textAlignment 'Top')
        #decreaseIndentationBy(5)
        <textFieldExpression class="$javaClassName"><![CDATA[$summaryVariableExpression]]></textFieldExpression>
    </textField>
#end##writeSummaryField

#macro(writeBox $lineWidth $lineStyle $lineColor)
#end##writeBox

## -----------------------------------------------------------------------------
## writeBox jasperreports-3.x.x
## -----------------------------------------------------------------------------
$tab<box>
    #increaseIndentation()
    #writePen($lineWidth $lineStyle $lineColor)
    #decreaseIndentation()
$tab</box>
## -----------------------------------------------------------------------------

#macro(writeGraphicElement $lineWidth $lineStyle $lineColor)
$tab<graphicElement>
    #increaseIndentation()
    #writePen($lineWidth $lineStyle $lineColor)
    #decreaseIndentation()
$tab</graphicElement>
#end##writeGraphicElement

#macro(writePen $lineWidth $lineStyle $lineColor)
#set($lw = '0.0')
#set($ls = 'Solid')
#set($lc = '#000000')
#if($!lineWidth != '')
    #set($lw = $lineWidth)
#end
#if($!lineStyle != '')
    #set($ls = $lineStyle)
#end
#if($!lineColor != '')
    #set($lc = $lineColor)
#end
$tab<pen lineWidth="$lw" lineStyle="$ls" lineColor="$lc"/>
#end##writePen

#macro(writeTextElement $horizontalAlignment $verticalAlignment)
#set($ha = 'Left')
#set($va = 'Middle')
#if($!horizontalAlignment != '')
    #set($ha = $horizontalAlignment)
#end
#if($!verticalAlignment != '')
    #set($va = $verticalAlignment)
#end
$tab<textElement textAlignment="$ha" verticalAlignment="$va"/>
#end##writeTextElement

## -----------------------------------------------------------------------------
## writeTextElement jasperreports-3.x.x
## -----------------------------------------------------------------------------
$tab<textElement textAlignment="$ha" verticalAlignment="$va">
$tab    <font fontName="$fn" size="$fs" isBold="$fb" isItalic="$fi" isUnderline="$fu" isStrikeThrough="$fx" isPdfEmbedded="true"/>
$tab</textElement>
## -----------------------------------------------------------------------------

#macro(setReportFieldVariables)
    #set($dataClassName = "$!field.dataClassName")
    #set($javaClassName = "$!field.javaClassName")
    #set($fieldExpression = "$BOF$field.name$EOF")
    #set($groupVariableExpression = "$BOV$!{aggregation.name().toLowerCase()}__${field.name}__${group.name}$EOV")
    #set($summaryVariableExpression = "$BOV$!{aggregation.name().toLowerCase()}__${field.name}$EOV")
    #set($w = $field.pixels)
    #if($w < 0)
        #set($w = 0)
    #end
    #if("$dataClassName" == 'BigDecimalData')
        #set($fieldPrecision = $VelocityAid.coalesce($field.property.precision, 16))
        #set($fieldScale = $VelocityAid.coalesce($field.property.scale, 0))
        #set($fieldMaxIntegerDigits = $fieldPrecision - $fieldScale)
        #if($fieldScale > 0)
            #set($decLess = '#,##0')
            #set($dotZero = ".$StringUtils.repeat('0', $fieldScale)")
            #set($pattern = "${decLess}${dotZero};-${decLess}${dotZero}")
        #else
            #set($pattern = '#,##0;-#,##0')
        #end
        #set($textAlignment='Right')
    #elseif("$dataClassName" == 'BigIntegerData' || "$dataClassName" == 'LongData')
        #set($pattern = '#,##0;-#,##0')
        #set($textAlignment='Right')
    #elseif("$dataClassName" == 'BooleanData')
        #set($javaClassName = 'java.lang.String')
        #set($fieldExpression = "EnumBit.valueOf($BOF$field.name$EOF).getLabel()")
        #set($fieldExpression = "JRBundleWebui.getBooleanLabel($locale, $BOF$field.name$EOF)")
        #set($pattern = '')
        #set($textAlignment='Center')
    #elseif("$dataClassName" == 'ByteData' || "$dataClassName" == 'ShortData' || "$dataClassName" == 'IntegerData')
        #set($pattern = '#,##0;-#,##0')
        #set($textAlignment='Right')
    #elseif("$dataClassName" == 'CharacterData' || "$dataClassName" == 'StringData')
        #set($pattern = '')
        #set($textAlignment='Left')
    #elseif("$dataClassName" == 'DateData')
        #set($pattern = 'dd/MM/yyyy')
        #set($textAlignment='Center')
    #elseif("$dataClassName" == 'TimeData')
        #set($pattern = 'hh:mm aa')
        #set($textAlignment='Center')
    #elseif("$dataClassName" == 'TimestampData')
        #set($pattern = 'dd/MM/yyyy hh:mm aa')
        #set($textAlignment='Center')
    #elseif("$dataClassName" == 'DoubleData' || "$dataClassName" == 'FloatData')
        #set($pattern = '0.0##############E0;-0.0##############E0')
        #set($textAlignment='Right')
    #else
        #set($w = 0)
        #set($pattern = '')
        #set($textAlignment='Left')
    #end
#end##setReportFieldVariables

#macro(setFieldLabelTextData)
    #set($bundleKey = "${report.view.entity.wrapper.sqlSchemaQualifiedShortName}")
    #set($bundleKey = "${bundleKey}.${report.view.wrapper.sqlName}")
    #set($bundleKey = "${bundleKey}.$StrUtils.getLowerHumplessCase(${field.property.partialName})")
    #set($bundleKey = """${bundleKey}""")
    #set($coalesce1 = "JRBundleParametros.getTrimmedToNullLabel($locale, $bundleKey)")
    #set($bundleKey = "${field.property.declaringEntityRoot.wrapper.sqlSchemaQualifiedShortName}")
    #set($bundleKey = "${bundleKey}.${field.property.wrapper.sqlName}")
    #set($bundleKey = """${bundleKey}""")
    #set($coalesce2 = "JRBundleParametros.getTrimmedToNullLabel($locale, $bundleKey)")
    #set($coalesce3 = """${field.property.wrapper.wordyAlias}""")
    #set($textcdata = "StrUtils.coalesce($coalesce1, $coalesce2, $coalesce3)")
#end##setFieldLabelTextData

#macro(setFieldShortLabelTextData)
    #set($bundleKey = "${report.view.entity.wrapper.sqlSchemaQualifiedShortName}")
    #set($bundleKey = "${bundleKey}.${report.view.wrapper.sqlName}")
    #set($bundleKey = "${bundleKey}.$StrUtils.getLowerHumplessCase(${field.property.partialName})")
    #set($bundleKey = """${bundleKey}""")
    #set($coalesce1 = "JRBundleParametros.getTrimmedToNullShortLabel($locale, $bundleKey)")
    #set($bundleKey = "${field.property.declaringEntityRoot.wrapper.sqlSchemaQualifiedShortName}")
    #set($bundleKey = "${bundleKey}.${field.property.wrapper.sqlName}")
    #set($bundleKey = """${bundleKey}""")
    #set($coalesce2 = "JRBundleParametros.getTrimmedToNullShortLabel($locale, $bundleKey)")
    #set($coalesce3 = """${field.property.wrapper.wordyAlias}""")
    #set($textcdata = "StrUtils.coalesce($coalesce1, $coalesce2, $coalesce3)")
#end##setFieldShortLabelTextData
