#parsePropertiesMacros()
#setPropertiesVariables()
#writePropertiesLicense()
#writePropertiesAuthor('Jorge Campins')
locale.language.tag=$project.locale.toLanguageTag()

#set($entities = $ColUtils.filter($project.entitiesList, $isPersistentEntity))
#set($entities = $ColUtils.sort($entities, $byEntityName))
#foreach($entity in $entities)
    #set($atleast1 = $FALSE)
    #set($entity_name = $entity.wrapper.sqlName)
    #foreach($operation in $entity.operationsList)
        #set($TIPO_OPERACION = '')
        #set($operation_type = "$!operation.operationType")
        #if($operation_type == 'CRUD')
        #elseif($operation_type == 'EXPORT')
            #set($TIPO_OPERACION = 'ARCHIVO')
        #elseif($operation_type == 'REPORT')
            #set($TIPO_OPERACION = 'INFORME')
        #elseif($operation_type == 'PROCEDURE')
            #set($TIPO_OPERACION = 'PROCEDIMIENTO')
        #elseif($operation_type == 'PROCESS')
            #set($TIPO_OPERACION = 'PROCESO')
        #end
        #if($TIPO_OPERACION != '')
            #set($atleast1 = $TRUE)
            #set($operation_name = $operation.wrapper.sqlName)
            #writeBundleFuncionesOperation()
        #end
    #end##foreach-operation
#if($atleast1)

#end
#end##foreach-entity
#set($groups = $project.processingGroups)
#if(!$groups.isEmpty())
    #foreach($group in $groups)
        #writeBundleFuncionesProcessingGroup()
    #end##foreach-group
#end
#break

#macro(writeBundleFuncionesOperation)
${entity_name}.${operation_name}=$operation.wrapper.bundleValidDefaultShortLabel
${entity_name}.${operation_name}.label=$operation.wrapper.bundleValidDefaultLabel
${entity_name}.${operation_name}.short_label=$operation.wrapper.bundleValidDefaultShortLabel
${entity_name}.${operation_name}.tooltip=$operation.wrapper.bundleValidDefaultTooltip
${entity_name}.${operation_name}.inline_help=$operation.wrapper.bundleValidDefaultShortDescription
#end##writeBundleFuncionesOperation

#macro(writeBundleFuncionesProcessingGroup)
${group}.label=$StrUtils.getWordyString($group)
#end##writeBundleFuncionesProcessingGroup
