#parsePostgreSQLMacros()
#setPostgreSQLVariables()
#writePostgreSQLLicense()
#writePostgreSQLAuthor('Jorge Campins')
#set($view = "informe_${entity.wrapper.sqlName}")
#set($query = $entity.queryTable)
#set($statement = $query.getSqlSelectStatement())
#set($discriminatorTable  = '')
#set($discriminatorColumn = '')
#set($discriminatorValues = '')
#set($strategy = "$!entity.inheritanceMappingStrategy")
#if($strategy == 'SINGLE_TABLE' || $strategy == 'JOINED')
    #if($entity.discriminatorProperty)
        #set($discriminatorTable  = "$!entity.discriminatorProperty.declaringFieldPersistentEntityRoot.wrapper.sqlTableName")
        #set($discriminatorColumn = "$!entity.discriminatorProperty.wrapper.sqlName")
        #set($discriminatorValues = $entity.wrapper.sqlDiscriminatorValues)
    #end
#end
#writeCreateViewStatement()
#break

#macro(writeCreateViewStatement)
drop view if exists $view cascade;
create view $view as
$statement.replace("$EOL", "$EOL    ")
#set($pdqName = $entity.wrapper.sqlName)
#if($discriminatorTable != '' && $discriminatorTable != $pdqName && $discriminatorColumn != '' && !$discriminatorValues.isEmpty())
    #set($discriminatorSentence = "where")
    #set($discriminatorOrClause = "")
    #set($discriminatorFullName = "${discriminatorTable}.${discriminatorColumn}")
    #set($discriminatorWithNull = $discriminatorValues.remove('null'))
    #if($discriminatorWithNull)
        #set($discriminatorSentence = "$discriminatorSentence $discriminatorFullName is null")
        #set($discriminatorOrClause = " or")
    #end
    #if($discriminatorValues.size() > 0)
        #set($discriminatorSentence = "$discriminatorSentence$discriminatorOrClause $discriminatorFullName")
        #set($discriminatorValueStr = "$StringUtils.join($discriminatorValues, ', ')")
        #if($discriminatorValues.size() > 1)
            #set($discriminatorSentence = "$discriminatorSentence in ($discriminatorValueStr)")
        #else
            #set($discriminatorSentence = "$discriminatorSentence = $discriminatorValueStr")
        #end
    #end
$discriminatorSentence
#end
;
#end##writeCreateViewStatement
