#if($upperEntity)
    #set($lowerEntity = $lowerStack.push($lowerEntity))
    #set($upperEntity = $upperStack.push($upperEntity))
    #set($lowerEntity = $upperEntity)
    #set($upperEntity = $VelocityAid.coalesce($upperEntity.baseTableRoot, $FALSE))
    #if($upperEntity)
        #parse($template)
    #end
    #set($lowerEntity = $lowerStack.pop())
    #set($upperEntity = $upperStack.pop())
    #set($upperEntityTabName = $upperEntity.wrapper.sqlName)
    #set($upperEntityTabName = $upperEntity.wrapper.sqlSchemaQualifiedShortName)
    #set($upperEntityKeyName = $upperEntity.primaryKeyProperty.wrapper.sqlName)
    #set($upperEntityColumns = $upperEntity.getMatchingColumnsList($lowerEntity.propertiesList))
    #raiseNotice()
....${tab}update $upperEntityTabName
....${tab}set #foreach($upperEntityColumn in $upperEntityColumns)$upperEntityColumn.wrapper.sqlName = new.$upperEntityColumn.wrapper.sqlName#if($foreach.last)$EOL#else, #end#end
....${tab}where ${upperEntityKeyName} = old.${upperEntityKeyName};
....${tab}/**/
#end
#break

#macro(raiseNotice)
#if($raiseNotices)
....${tab}raise notice 'update $upperEntityTabName (${upperEntityKeyName} = %)', old.${upperEntityKeyName};
....${tab}raise notice 'update $upperEntityTabName (#upperEntityColumnPattern())', #upperEntityColumnNames('new.');
#end
#end##raiseNotice
