#break

#macro(setEntityVariables)
    #set($entityClassName = "$!page.entity.wrapper.javaClassName")
    #set($entityConstantName = "$!page.entity.wrapper.javaConstantName")
    #set($entityVariableName = "$!page.entity.wrapper.javaVariableName")
    #set($entityStatesMap = $page.entity.statesMap)
#end##setEntityVariables

#macro(setOperationVariables)
    #set($operationQualifier = "X$foreach.count")
    #set($operationQualifier = "$operation.wrapper.javaClassName")
    #set($operationName = "$operation.wrapper.javaVariableName")
    #set($operationClassName = "$operation.wrapper.javaClassName")
    #set($operationConstantName = "$operation.wrapper.javaConstantName")
    #set($operationVariableName = "$operation.wrapper.javaVariableName")
    #set($operationType = "$!operation.operationType")
    #if($operationType == 'CRUD')
        #set($tipoOperacion = '')
    #elseif($operationType == 'EXPORT')
        #set($tipoOperacion = 'ARCHIVO')
    #elseif($operationType == 'REPORT')
        #set($tipoOperacion = 'INFORME')
    #elseif($operationType == 'PROCEDURE')
        #set($tipoOperacion = 'PROCEDIMIENTO')
    #elseif($operationType == 'PROCESS')
        #set($tipoOperacion = 'PROCESO')
    #else
        #set($tipoOperacion = '')
    #end
    #set($operationNumberConstantName = "${entityClassName}Constants.FUNCION_${operation.operationType}_${operationConstantName}")
    #set($operationExportConstantName = "${entityClassName}Constants.ARCHIVO_FUNCION_${operationConstantName}")
    #set($operationReportConstantName = "${entityClassName}Constants.INFORME_FUNCION_${operationConstantName}")
    #set($operationProcedureConstantName = "${entityClassName}Constants.PROCEDIMIENTO_FUNCION_${operationConstantName}")
    #set($operationProcessConstantName = "${entityClassName}Constants.PROCESO_FUNCION_${operationConstantName}")
    #set($operationStringConstantName = '')
    #if($operationType == 'CRUD')
    #elseif($operationType == 'EXPORT')
        #set($operationStringConstantName = $operationExportConstantName)
    #elseif($operationType == 'REPORT')
        #set($operationStringConstantName = $operationReportConstantName)
    #elseif($operationType == 'PROCEDURE')
        #set($operationStringConstantName = $operationProcedureConstantName)
    #elseif($operationType == 'PROCESS')
        #set($operationStringConstantName = $operationProcessConstantName)
    #end
    #if($operationStringConstantName == '')
        #set($operationLabelConstantName = '')
    #else
        #set($operationLabelConstantName = "${entityClassName}Constants.ETIQUETA_FUNCION_${operation.operationType}_${operationConstantName}")
    #end
    #if("$!operation.operationKind" == 'CLASS')
        #set($classOperation = $TRUE)
    #else
        #set($classOperation = $FALSE)
    #end
    #if("$!operation.operationKind" == 'INSTANCE')
        #set($instanceOperation = $TRUE)
        #set($operationInstanceParameter = $operation.instanceParameter)
    #else
        #set($instanceOperation = $FALSE)
        #set($operationInstanceParameter = $FALSE)
    #end
    #set($operationEntity = $operation.declaringEntity)
    #set($operationEntityConstants = "${operationEntity.wrapper.javaClassName}Constants")
    #if($tipoOperacion == '')
        #set($operationNumberConstant = '')
        #set($operationLabelConstant  = '')
        #set($operationStringConstant = '')
    #else
        #set($operationNumberConstant = "${operationEntityConstants}.FUNCION_${operationType}_${operationConstantName}")
        #set($operationLabelConstant  = "${operationEntityConstants}.ETIQUETA_FUNCION_${operationType}_${operationConstantName}")
        #set($operationStringConstant = "${operationEntityConstants}.${tipoOperacion}_FUNCION_${operationConstantName}")
    #end
    #set($parameters = $operation.parametersList)
    #set($operationChecklist = $operation.checksList)
    #set($operationStatelist = $operation.initialStatesList)
#end##setOperationVariables

#macro(setParameterVariables)
    #set($parameterClassName = $parameter.root.wrapper.javaClassName)
    #set($parameterConstantName = $parameter.root.wrapper.javaConstantName)
    #set($parameterVariableName = $parameter.root.wrapper.javaVariableName)
    #set($parameterBundleKey = "${operationEntity.wrapper.sqlName}.${operation.wrapper.sqlName}.${parameter.wrapper.sqlName}")
    #set($parameterJavaType = $parameter.wrapper.javaPrimitiveType)
    #set($fieldClassName = "${parameter.wrapper.javaClassName}")
    #set($fieldVariableName = "${parameter.wrapper.javaVariableName}")
    #set($fieldFirstName = "${operationQualifier}${fieldClassName}1")
    #set($fieldMiddleName = "${operationQualifier}${fieldClassName}2")
    #set($fieldLastName = "${operationQualifier}${fieldClassName}3")
    #set($fieldSearchType = "$!parameter.searchType")
    #set($fieldSearchDisplayMode = "$!parameter.searchDisplayMode")
    #set($fieldSearchListStyle = "$!parameter.listStyle")
    #set($fieldSqlName = "${parameter.wrapper.sqlName}")
    #if($parameter.businessKeyProperty)
        #set($fieldForeignCode = $parameter.businessKeyProperty)
        #set($fieldForeignCodeSqlName = "${fieldForeignCode.wrapper.sqlName}")
        #set($fieldForeignCodeVariableName = "${fieldForeignCode.wrapper.javaVariableName}")
    #else
        #set($fieldForeignCode = $FALSE)
        #set($fieldForeignCodeSqlName = '')
        #set($fieldForeignCodeVariableName = '')
    #end
    #if($parameter.nameProperty)
        #set($fieldForeignName = $parameter.nameProperty)
        #set($fieldForeignNameSqlName = "${fieldForeignName.wrapper.sqlName}")
        #set($fieldForeignNameVariableName = "${fieldForeignName.wrapper.javaVariableName}")
    #else
        #set($fieldForeignName = $FALSE)
        #set($fieldForeignNameSqlName = '')
        #set($fieldForeignNameVariableName = '')
    #end
    #set($fieldRequired = $parameter.isRequiredParameter())
    #set($Campo1 = "Campo$fieldFirstName")
    #set($campo1 = "campo$fieldFirstName")
    #set($fieldBundleParametrosKey = "BundleParametros.${parameterBundleKey}")
    #set($referenceSelectFunctionConstantName = "FUNCION_SELECT_${parameter.root.wrapper.javaConstantName}")
    #set($referenceReadingTablePage  = $FALSE)
    #set($referenceWritingTablePage  = $FALSE)
    #set($referenceReadingDetailPage = $FALSE)
    #set($referenceWritingDetailPage = $FALSE)
    #set($referenceReadingTablePage  = $project.getReadingTableAlternativeTo( $page, $parameter.root))
    #set($referenceWritingTablePage  = $project.getWritingTableAlternativeTo( $page, $parameter.root))
    #set($referenceReadingDetailPage = $project.getReadingDetailAlternativeTo($page, $parameter.root))
    #set($referenceWritingDetailPage = $project.getWritingDetailAlternativeTo($page, $parameter.root))
####
    #set($parameterObjUtilsMethod = '')
    #set($parameterValueExpression = 'null')
    #if($parameter.isEntity())
        #set($parameterObjUtilsMethod = "ObjUtils.to$!{parameter.primaryKeyProperty.dataType.simpleName}")
        #if($fieldSearchType == 'LIST')
            #set($parameterValueExpression = "${parameterObjUtilsMethod}(${campo1})")
        #elseif($fieldSearchType == 'DISPLAY')
            #set($parameterValueExpression = "${parameterObjUtilsMethod}(${parameterVariableName}${Campo1})")
        #else
            #set($parameterValueExpression = "${parameterObjUtilsMethod}(${campo1})")
        #end
    #elseif($parameter.isBinaryPrimitive())
        #set($parameterObjUtilsMethod = "ObjUtils.to$!{parameter.dataType.simpleName}")
        #set($parameterValueExpression = "${parameterObjUtilsMethod}(${campo1})")
    #elseif($parameter.isBooleanPrimitive())
        #set($parameterObjUtilsMethod = 'ObjUtils.toBoolean')
        #set($parameterValueExpression = "${parameterObjUtilsMethod}(${campo1})")
    #elseif($parameter.isCharacterPrimitive())
        #set($parameterObjUtilsMethod = "ObjUtils.to$!{parameter.dataType.simpleName}")
        #if($parameter.isFileReferenceField())
            #if("$!multipartUpload" == 'true')
                #set($parameterValueExpression = "${parameterObjUtilsMethod}(${campo1}MultiPart)")
            #else
                #set($parameterValueExpression = "${parameterObjUtilsMethod}(${campo1})")
            #end
        #elseif($parameter.isPassword())
            #set($parameterValueExpression = "${parameterObjUtilsMethod}(${campo1})")
            #set($parameterValueExpression = "Utils.Digest($parameterValueExpression)")
        #else
            #set($parameterValueExpression = "${parameterObjUtilsMethod}(${campo1})")
        #end
    #elseif($parameter.isNumericPrimitive())
        #set($parameterObjUtilsMethod = "ObjUtils.to$!{parameter.dataType.simpleName}")
        #set($parameterValueExpression = "${parameterObjUtilsMethod}(${campo1})")
    #elseif($parameter.isTemporalPrimitive())
        #set($parameterObjUtilsMethod = "ObjUtils.to$!{parameter.dataType.simpleName}")
        #set($parameterValueExpression = "${parameterObjUtilsMethod}(${campo1})")
    #end
    #set($parameterInitialValueExpression = "${operationName}_${parameter.wrapper.javaVariableName}_initialValue()")
    #set($parameterDefaultValueExpression = "${operationName}_${parameter.wrapper.javaVariableName}_defaultValue()")
    #set($parameterCoalesceToInitialValue = "ObjUtils.coalesceX($parameterValueExpression, $parameterInitialValueExpression)")
    #set($parameterCoalesceToDefaultValue = "ObjUtils.coalesceX($parameterValueExpression, $parameterDefaultValueExpression)")
#end##setParameterVariables
