usuario_no_existe=usuario {0} no est${backslash}u00e1 registrado
archivo_no_existe=archivo {0} no existe
informe_no_existe=informe {0} no existe
funcion_no_existe=funci${backslash}u00f3n {0} no existe
funcion_no_autorizada=funci${backslash}u00f3n {0} no autorizada
funcion_no_disponible=no es posible ejecutar la funci${backslash}u00f3n {0}
grafico_no_disponible=no es posible generar gráficos en el formato especificado
usuario_no_propietario=usuario no es propietario del recurso
segmento_no_autorizado=segmento {0} no autorizado
recurso_no_autorizado=recurso {0} no autorizado
recurso_no_disponible=recurso {0} no disponible
recurso_no_existe=recurso {0} no existe
recurso_no_procesable={0} {1} no cumple con los requisitos para ejecutar esta funci${backslash}u00f3n {2}
recurso_no_referenciable={0} {1} no existe, no autorizado o no cumple con los requisitos para ejecutar esta funci${backslash}u00f3n {2}
recurso_inactivo=recurso {0} se encuentra inactivo
columna_no_autorizada=columna "{0}" no autorizada
columna_no_graficable=columna "{0}" no se puede graficar con "{1}"
vista_no_autorizada=vista "{0}" no autorizada
vista_no_disponible=vista "{0}" no disponible
vista_no_graficable=vista "{0}" no graficable

no_modificar_usuario_actual=no es posible modificar el usuario {0} porque es el usuario actual
no_modificar_usuario_especial=no es posible modificar el usuario {0} porque es un usuario especial
no_eliminar_usuario_actual=no es posible eliminar el usuario {0} porque es el usuario actual
no_eliminar_usuario_especial=no es posible eliminar el usuario {0} porque es un usuario especial

process_row_exception_0=debe confirmar o descartar los cambios antes de utilizar una nueva funci${backslash}u00f3n para procesar
process_row_exception_1=usuario no autorizado para procesar recursos con esta funci${backslash}u00f3n
process_row_exception_2=usuario no autorizado para procesar el recurso {0}
process_row_exception_3=no se permite procesar un recurso previamente agregado ${backslash}u00f3 modificado
process_row_exception_4=debe confirmar o descartar los cambios antes de procesar
process_none=ningun recurso seleccionado para ser procesado
process_confirm_message=los recursos seleccionados ser${backslash}u00e1n procesados ${backslash}u00bfdesea continuar?
upload_row_exception_1={0} tiene un tama${backslash}u00f1o menor que {1}
upload_row_exception_2={0} tiene un tama${backslash}u00f1o mayor que {1}
upload_row_exception_3={0} es de un tipo no permitido para esta funci${backslash}u00f3n ({1})
upload_row_exception_4=error al procesar la petici${backslash}u00f3n, vuelva a seleccionar el archivo e intente de nuevo
error_comando_select=error intentando establecer el comando de consulta
error_comando_select_vista_1=vista "{0}" no tiene origen
error_comando_select_vista_2=vista "{0}" no tiene columnas
error_comando_select_vista_3=vista "{0}" no tiene grupos
error_comando_select_vista_4=vista "{0}" no tiene agregaciones
error_comando_select_vista_5=vista "{0}" no tiene orden
opcion_valor_indeterminada=no es posible determinar la opci${backslash}u00f3n de valor
identificador_sql_invalido=identificador {0} inv${backslash}u00e1lido: debe comenzar con una letra y solo puede contener letras min${backslash}u00fasculas, n${backslash}u00fameros y el caracter especial "_"
identificador_archivo_invalido=identificador {0} inv${backslash}u00e1lido: solo puede contener letras min${backslash}u00fasculas, n${backslash}u00fameros y el caracter especial "_"
report_execution_request=generaci${backslash}u00f3n del informe {0} solicitada
report_execution_begin=generaci${backslash}u00f3n del informe {0} en progreso
report_execution_abend=generaci${backslash}u00f3n del informe {0} cancelada
report_execution_end=generaci${backslash}u00f3n del informe {0} finalizada
process_execution_request=ejecuci${backslash}u00f3n del proceso {0} solicitada
process_execution_begin=ejecuci${backslash}u00f3n del proceso {0} en progreso
process_execution_abend=ejecuci${backslash}u00f3n del proceso {0} cancelada
process_execution_end=ejecuci${backslash}u00f3n del proceso {0} finalizada
export_execution_request=generaci${backslash}u00f3n del archivo {0} solicitada
export_execution_begin=generaci${backslash}u00f3n del archivo {0} en progreso
export_execution_abend=generaci${backslash}u00f3n del archivo {0} cancelada
export_execution_end=generaci${backslash}u00f3n del archivo {0} finalizada
select_set_search_criteria=esta consulta tiene un limite de {0} filas; puede utilizar un criterio o filtro de b${backslash}u00fasqueda para acotar el conjunto de filas resultantes
select_filter_exception_1=usuario no autorizado para filtrar por {0}; criterio ignorado
select_row_exception_1=usuario no autorizado para consultar recursos con esta funci${backslash}u00f3n
select_row_exception_2=usuario no autorizado para consultar el recurso {0}
select_row_limit_reached=se alcanz${backslash}u00f3 el l${backslash}u00edmite de {0} filas; puede utilizar un criterio o filtro de b${backslash}u00fasqueda para acotar el conjunto de filas resultantes
select_row_empty_set=no existen filas que cumplan con los criterios de b${backslash}u00fasqueda de la consulta
insert_row_exception_0=debe confirmar o descartar los cambios antes de utilizar una nueva funci${backslash}u00f3n para agregar
insert_row_exception_1=usuario no autorizado para agregar recursos con esta funci${backslash}u00f3n
insert_row_exception_2=usuario no autorizado para agregar el recurso {0}
insert_row_exception_4=debe confirmar o descartar los cambios antes de agregar
update_row_exception_0=debe confirmar o descartar los cambios antes de utilizar una nueva funci${backslash}u00f3n para modificar
update_row_exception_1=usuario no autorizado para modificar recursos con esta funci${backslash}u00f3n
update_row_exception_2=usuario no autorizado para modificar el recurso {0}
update_row_exception_3=no se permite modificar un recurso previamente modificado
update_row_exception_4=debe confirmar o descartar los cambios antes de modificar
update_none=ningun recurso seleccionado para ser modificado
delete_row_exception_0=debe confirmar o descartar los cambios antes de utilizar una nueva funci${backslash}u00f3n para eliminar
delete_row_exception_1=usuario no autorizado para eliminar recursos con esta funci${backslash}u00f3n
delete_row_exception_2=usuario no autorizado para eliminar el recurso {0}
delete_row_exception_4=debe confirmar o descartar los cambios antes de eliminar
delete_row_count_1=un recurso eliminado
delete_row_count_2={0} recursos eliminados
delete_none=ningun recurso seleccionado para ser eliminado
delete_confirm_message=los recursos seleccionados ser${backslash}u00e1n eliminados ${backslash}u00bfdesea continuar?
check_changes_exception_0=han ocurrido uno o mas errores
check_changes_exception_1=no es posible determinar la funci${backslash}u00f3n utilizada para {0}
check_changes_exception_2=no es posible {0} el recurso {1}
check_changes_exception_3=recurso {0} modificado sin previa autorizaci${backslash}u00f3n (se descarta la modificaci${backslash}u00f3n)
check_changes_exception_4=Error de validaci${backslash}u00f3n: se produjo un error de conversi${backslash}u00f3n {0}
check_changes_exception_5=Error de validaci${backslash}u00f3n: valor fuera del rango {1} : {2}
check_changes_exception_6=Error de validaci${backslash}u00f3n: valor no cumple con el patr${backslash}u00f3n especificado
check_changes_exception_7=Error de validaci${backslash}u00f3n: valor no es m${backslash}u00faltiplo de {0}
check_changes_exception_8=Error de validaci${backslash}u00f3n: se necesita el valor de {0}
check_changes_exception_a=Error de validaci${backslash}u00f3n: valor mayor que {1}
check_changes_exception_b=Error de validaci${backslash}u00f3n: valor menor que {1}
check_changes_1=procesando el recurso {0}
check_changes_2=recurso {0} editado pero no modificado
check_changes_none=ningun recurso seleccionado para aplicar los cambios realizados
undo_changes_none=ningun recurso seleccionado para deshacer los cambios realizados
commit_changes_ok=cambios confirmados exitosamente
commit_changes_exception=han ocurrido uno o mas errores al intentar confirmar los cambios
commit_changes_command_ignored=no es posible confirmar uno o mas recursos debido a los errores anteriores
commit_changes_command_ignored_exception=no es posible confirmar el recurso {1} debido a los errores anteriores
commit_changes_unknown_exception={2}; no es posible {0} el recurso {1}
no_changes_to_commit=sin cambios que confirmar
changes_to_commit=cambios por confirmar: {0} recurso(s) agregado(s) ${backslash}u00f3 modificado(s) y {1} eliminado(s)
changes_to_revert=cambios por descartar: {0} recurso(s) agregado(s) ${backslash}u00f3 modificado(s) y {1} eliminado(s)
revert_changes_ok=cambios descartados exitosamente
database_not_null_constraint_violation=la columna "{2}" no admite valores nulos
not_null_constraint_violation={0} no admite valores nulos
hyperlink_exception_1=debe confirmar o descartar los cambios antes de ir a la p${backslash}u00e1gina seleccionada
