#parseJavaMacros()
#setJavaVariables()
#writeJavaLicense()
#writeJavaPackage()
#parse('templates/jee1/macros/macros-2.vm')
#parse('templates/jee1/lib/data/java/XDP0.java.vm')
#setVariablesRecurso($entity)
#setLocalVariables()
#addImports($imports)
#writeJavaImports($imports)
#writeJavaAuthor('Jorge Campins')
@Stateless
public class ${javaClassSimpleName}#writeJavaImplements()

#writeEJBs()
#foreach($operation in $operations)
    #writeProcessMethods()
#end##foreach-operation
#writeGetRastroFuncion()
#writeGrabarTarea()
#parse("$templatePath/blocks/so-on-and-so-forth.vm")
}
#break

#macro(setLocalVariables)
#set($entityNumber = "${entity.wrapper.javaClassName}Constants.ID_DOMINIO_RECURSO")
#set($entityClass = $entity.wrapper.javaClassName)
#set($entityVar   = 'instance')
#set($entityStatesMap = $entity.statesMap)
#set($entityTriggersList = $entity.triggersList)
#set($operations  = $ColUtils.filter($entity.businessOperationsList, $isProcessOperation))
#set($operations  = $ColUtils.sort($operations, $byOperationName))
#set($primaryGet  = "get$!{entity.primaryKeyProperty.wrapper.javaClassName}")
#set($primaryVar  = "$!{entity.primaryKeyProperty.wrapper.javaVariableName}")
#set($primaryVar  = 'id')
#setPersistentJavaType("$!{entity.primaryKeyProperty.wrapper.javaPrimitiveType}")
#set($primaryType = "$!persistentJavaType")
#if($esRecursoIdentificable)
    #set($id = "${entityVar}.getIdentificacionRecurso()")
#elseif($esRecursoEnumerable)
    #set($id = "ObjUtils.toLong(${entityVar}.getNumeroRecurso())")
#else
    #set($id = 'null')
#end
#if($esRecursoCodificable)
    #set($codigo = "${entityVar}.getCodigoRecurso()")
#else
    #set($codigo = 'null')
#end
#if($esRecursoNombrable)
    #set($nombre = "${entityVar}.getNombreRecurso()")
#else
    #set($nombre = 'null')
#end
#if($esRecursoPersonalizable)
    #set($propietario = "${entityVar}.getPropietarioRecurso()")
#else
    #set($propietario = 'null')
#end
#if($esRecursoSegmentable)
    #set($segmento = "${entityVar}.getSegmentoRecurso()")
#else
    #set($segmento = 'null')
#end
#set($facades = $VelocityAid.getNewLinkedHashSet())
#parse("$templatePath/blocks/set-variables.vm")
#setEntityVariables()
#end##setLocalVariables

#macro(addImports)
    #set($added = $interfaces.add("${entityClass}BusinessProcessLocal"))
    #set($added = $imports.add("${entityPackage}.TareaVirtual"))
    #set($added = $imports.add("${facadePackage}.TareaVirtualFacadeLocal"))
    #set($added = $imports.add("${entityPackage}.${entityClass}"))
    #set($added = $imports.add("${facadePackage}.${entityClass}FacadeLocal"))
    #set($added = $imports.add("${processLogicPackage}.${entityClass}BusinessProcessLogicLocal"))
    #foreach($operation in $operations)
        #set($message = "${entityClass}${operation.wrapper.javaClassName}Message")
        #set($added = $imports.add("${messagePackage}.${message}"))
        #foreach($parameter in $operation.parametersList)
            #if($parameter.isPersistentEntity())
                #set($added = $imports.add("${entityPackage}.${parameter.root.wrapper.javaClassName}"))
                #set($added = $imports.add("${facadePackage}.${parameter.root.wrapper.javaClassName}FacadeLocal"))
                #set($added = $facades.add($parameter.root))
            #end
        #end##foreach-parameter
    #end##foreach-operation
    #set($added = $imports.add("${project.rootPackageName}.lib.base.bundle.BundleDominios"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.bundle.BundleParametros"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.constant.CBM"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.entity.constant.${entityClass}Constants"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.entity.enumeration.CondicionEjeFunEnumeration"))
    #set($added = $imports.add("${project.rootPackageName}.lib.base.util.*"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.jms.message.AbstractMessage"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.app.TLC"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.control.Auditor"))
##  #set($added = $imports.add("${project.rootPackageName}.lib.core.control.RastroFuncion"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.util.EA"))
    #set($added = $imports.add("${project.rootPackageName}.ejb.core.control.AuditorLocal"))
    #set($added = $imports.add("${project.rootPackageName}.ejb.core.BeanLocator"))
    #set($added = $imports.add('java.util.ArrayList'))
    #set($added = $imports.add('java.util.List'))
    #set($added = $imports.add('javax.ejb.EJB'))
    #set($added = $imports.add('javax.ejb.EJBException'))
    #set($added = $imports.add('javax.ejb.Stateless'))
    #set($added = $imports.add('org.apache.commons.lang.StringUtils'))
#end##addImports

#macro(writeEJBs)
    // <editor-fold defaultstate="collapsed" desc="@EJB">
    @EJB
    private ${entityClass}FacadeLocal facade;

#foreach($facade in $facades)
    @EJB
    private ${facade.wrapper.javaClassName}FacadeLocal ${facade.wrapper.javaVariableName}Facade;

#end
    @EJB(beanName = "${entityClass}BusinessProcessLogicBean")
    private ${entityClass}BusinessProcessLogicLocal bean;

    @EJB
    private AuditorLocal auditor;

    @EJB
    private TareaVirtualFacadeLocal tareaVirtualFacade;
    // </editor-fold>

    private ${entityClass}BusinessProcessLogicLocal getLogician() {
        Object impl = BeanLocator.getBean(${entityClass}BusinessProcessLogicLocal.class);
        return impl instanceof ${entityClass}BusinessProcessLogicLocal ? (${entityClass}BusinessProcessLogicLocal) impl : bean;
    }

#end##writeEJBs

#macro(writeProcessMethods)
    #set($TYPE = "$!operation.operationType")
    #if($TYPE == 'PROCEDURE')
        #set($TIPO = 'PROCEDIMIENTO')
    #else
        #set($TIPO = 'PROCESO')
    #end
    #set($message = "${entityClass}${operation.wrapper.javaClassName}Message")
    #set($process = "${operation.wrapper.javaVariableName}")
    #writeOperationJavadocType1()
    @Override
    public ${message} ${process}(${message} message) {
        ${entityClass} ${entityVar} = null;
        try {
    #if("$!operation.operationKind" == 'INSTANCE')
            ${primaryType} ${primaryVar} = message.getArgumento${operation.instanceParameter.wrapper.javaClassName}();
            ${entityVar} = facade.find(${primaryVar}, true);
            if (${entityVar} == null) {
                message.setCondicion(CondicionEjeFunEnumeration.EJECUTADO_CON_ERRORES);
                message.setMensaje(TLC.getBitacora().error(CBM.RECURSO_NO_EXISTE, ${primaryVar}));
                grabarRastroFuncion(message);
            } else {
                message.setCondicion(CondicionEjeFunEnumeration.EJECUTADO_SIN_ERRORES);
                message.setMensaje(TLC.getBitacora().info(CBM.PROCESS_EXECUTION_END, message.getIdRastro()));
                getLogician().${process}(message, ${entityVar});
                facade.flush();
                auditor.grabarRastroProceso(message);
                grabarRastroFuncion(message, ${entityVar});
                grabarTareasUsuario(message, ${entityVar});
            }
    #else
            message.setCondicion(CondicionEjeFunEnumeration.EJECUTADO_SIN_ERRORES);
            message.setMensaje(TLC.getBitacora().info(CBM.PROCESS_EXECUTION_END, message.getIdRastro()));
            getLogician().${process}(message);
            facade.flush();
            auditor.grabarRastroProceso(message);
            grabarTareasUsuario(message);
            grabarRastroFuncion(message);
    #end
        } catch (Exception ex) {
            message.setCondicion(CondicionEjeFunEnumeration.EJECUCION_CANCELADA);
            message.setMensaje(ThrowableUtils.getString(ex));
            message.setThrowable(ex);
            Auditor.grabarRastroProceso(message, ex);
            grabarRastroFuncion(message, ${entityVar}, ex);
            TLC.getBitacora().fatal(message.getMensajeCorto());
            throw ex instanceof EJBException ? (EJBException) ex : new EJBException(ex);
        }
        return message;
    }

    private void grabarRastroFuncion(${message} message) {
        grabarRastroFuncion(message, null, null);
    }

#if("$!operation.operationKind" == 'INSTANCE')
    private void grabarRastroFuncion(${message} message, ${entityClass} ${entityVar}) {
        grabarRastroFuncion(message, ${entityVar}, null);
    }

#end
    private void grabarRastroFuncion(${message} message, ${entityClass} ${entityVar}, Throwable throwable) {
        if (message.isGrabarRastroFuncionPendiente()) {
            message.setGrabarRastroFuncionPendiente(false);
            if (message.isGrabarRastroFuncionDisponible()) {
                ${project.rootPackageName}.lib.core.control.RastroFuncion rastro = getRastroFuncion(message, ${entityVar});
#set($fee = '')
#set($foo = '')
#set($parameters = $operation.parametersList)
#foreach($parameter in $parameters)
    #if($parameter.isAuditable())
        #set($fee = "${message}.PARAMETRO_$!{parameter.wrapper.javaConstantName}")
        #set($foo = "StrUtils.getString(message.getArgumento$!{parameter.wrapper.javaClassName}())")
                rastro.addParametro(${fee},
                    ${foo});
    #end
#end##foreach-parameter
#if($fee != '')
                /**/
#end
                if (throwable == null) {
                    auditor.grabarRastroFuncion(rastro);
                } else {
                    Auditor.grabarRastroFuncion(rastro);
                }
            }
        }
    }

#if("$!operation.operationKind" == 'INSTANCE')
    private void grabarTareasUsuario(${message} message, ${entityClass} ${entityVar}) {
#else
    private void grabarTareasUsuario(${message} message) {
#end
        if (message.isGrabarTareasUsuarioPendiente()) {
            message.setGrabarTareasUsuarioPendiente(false);
#if("$!operation.operationKind" == 'INSTANCE')
    #flagOperationHasTransitionToStateAndTriggers()
    #if($operationHasTransitionToStateAndTriggers)
        #foreach($state in $finalStates)
            #if($foreach.first)
....            List<Long> funciones = new ArrayList<>();
            #end
            #set($initialStateBusinessOperationsList = $state.initialStateBusinessOperationsList)
            #if(!$initialStateBusinessOperationsList.isEmpty())
....            if (${state.wrapper.javaVariableName}(${entityVar})) {
                #foreach($isbop in $initialStateBusinessOperationsList)
                    #set($funcion = "${entityClass}Constants.FUNCION_${isbop.operationType}_${isbop.wrapper.javaConstantName}")
....                add($funcion, funciones);
                #end##foreach-isbop
                #foreach($trigger in $entityTriggersList)
                    #set($funcion = "${entityClass}Constants.FUNCION_${trigger.operation.operationType}_${trigger.operation.wrapper.javaConstantName}")
                    #if("$!trigger.operation.operationKind" == 'INSTANCE')
                        #set($instanceOperation = $TRUE)
                    #else
                        #set($instanceOperation = $FALSE)
                    #end
                    #if($trigger.state == $state)
##......//              trigger: $trigger.name ($trigger.state.name, $trigger.operation.name)
........                grabarTarea(${funcion}#if($instanceOperation), ${entityVar}#end);
                    #end
                #end##foreach-trigger
....            }
            #end
        #end##foreach-state
        #if(!$finalStates.isEmpty())
            grabarTarea(${entityVar}, funciones);
        #end
    #end
#end
        }
    }

#end##writeProcessMethods

#macro(flagOperationHasTransitionToState)
    #set($operationHasTransitionToState = $FALSE)
    #set($finalStates = $operation.finalStatesList)
    #if(!$finalStates.isEmpty())
        #set($operationHasTransitionToState = $TRUE)
    #end
#end##flagOperationHasTransitionToState

#macro(flagOperationHasTransitionToStateAndTriggers)
    #set($operationHasTransitionToStateAndTriggers = $FALSE)
    #if(!$entityTriggersList.isEmpty())
        #set($finalStates = $operation.finalStatesList)
        #if(!$finalStates.isEmpty())
            #set($operationHasTransitionToStateAndTriggers = $TRUE)
        #end
    #end
#end##flagOperationHasTransitionToStateAndTriggers

#macro(writeGetRastroFuncion)
    private ${project.rootPackageName}.lib.core.control.RastroFuncion getRastroFuncion(AbstractMessage message, ${entityClass} ${entityVar}) {
        ${project.rootPackageName}.lib.core.control.RastroFuncion rastro = Auditor.getRastroFuncion(message);
        if (${entityVar} == null) {
            return rastro;
        }
    #set($fee = ${entityVar})
    #if($esRecursoIdentificable)
        #set($faa = "get$!{entity.primaryKeyProperty.wrapper.javaClassName}()")
        #set($faa = 'getIdentificacionRecurso()')
        rastro.setIdRecurso(${fee}.${faa});
    #end
    #if($esRecursoVersionable)
        #set($faa = "get$!{entity.versionProperty.wrapper.javaClassName}()")
        #set($faa = 'getVersionRecurso()')
        rastro.setVersionRecurso(${fee}.${faa});
    #end
    #if($esRecursoCodificable)
        #set($faa = "get$!{entity.characterKeyProperty.wrapper.javaClassName}()")
        #set($faa = 'getCodigoRecurso()')
        rastro.setCodigoRecurso(${fee}.${faa});
    #end
    #if($esRecursoNombrable)
        #set($faa = "get$!{entity.nameProperty.wrapper.javaClassName}()")
        #set($faa = 'getNombreRecurso()')
        rastro.setNombreRecurso(${fee}.${faa});
    #end
    #if($esRecursoPersonalizable)
        #set($faa = "get$!{entity.ownerProperty.wrapper.javaClassName}()")
        #set($foo = "get$!{entity.ownerProperty.primaryKeyProperty.wrapper.javaClassName}()")
        #set($faa = 'getPropietarioRecurso()')
##      rastro.setIdPropietarioRecurso(${fee}.${faa}.${foo});
        rastro.setIdPropietarioRecurso(${fee}.${faa});
    #end
    #if($esRecursoSegmentable)
        #set($faa = "get$!{entity.segmentProperty.wrapper.javaClassName}()")
        #set($foo = "get$!{entity.segmentProperty.primaryKeyProperty.wrapper.javaClassName}()")
        #set($faa = 'getSegmentoRecurso()')
##      rastro.setIdSegmentoRecurso(${fee}.${faa}.${foo});
        rastro.setIdSegmentoRecurso(${fee}.${faa});
    #end
        return rastro;
    }

#end##writeGetRastroFuncion

#macro(writeGrabarTarea)
    private void add(Long element, List<Long> list) {
        if (element != null && !list.contains(element)) {
            list.add(element);
        }
    }

    private void grabarTarea(Long funcion) {
        grabarTarea(funcion, null);
    }

    private void grabarTarea(Long funcion, ${entityClass} ${entityVar}) {
        if (funcion == null) {
            return;
        }
        TareaVirtual tarea = new TareaVirtual();
        tarea.setId(LongUtils.getNewId());
        tarea.setIdFuncion(funcion);
        if (${entityVar} != null) {
            tarea.setIdClaseRecursoValor($entityNumber);
            tarea.setIdRecursoValor($id);
            tarea.setCodigoRecursoValor($codigo);
            tarea.setNombreRecursoValor($nombre);
            tarea.setIdPropietario($propietario);
            tarea.setIdSegmento($segmento);
        }
        tareaVirtualFacade.persist(tarea);
    }

    private void grabarTarea(${entityClass} ${entityVar}, List<Long> funciones) {
        if (${entityVar} == null) {
            return;
        }
        TareaVirtual tarea = new TareaVirtual();
        tarea.setId(LongUtils.getNewId());
        tarea.setIdFuncion(null);
        tarea.setIdClaseRecursoValor($entityNumber);
        tarea.setIdRecursoValor($id);
        tarea.setCodigoRecursoValor($codigo);
        tarea.setNombreRecursoValor($nombre);
        tarea.setIdPropietario($propietario);
        tarea.setIdSegmento($segmento);
        if (funciones == null || funciones.isEmpty()) {
            tarea.setListaFunciones(null);
        } else {
            tarea.setListaFunciones(StringUtils.join(funciones, ","));
        }
        tareaVirtualFacade.persist(tarea);
    }

#end##writeGrabarTarea
