#parseJavaMacros()
#setJavaVariables()
#writeJavaLicense()
#writeJavaPackage()
#setLocalVariables()
#addImports($imports)
#writeJavaImports($imports)
#writeJavaAuthor('Jorge Campins')
@Stateless
public class ${javaClassSimpleName}#writeJavaImplements()

#writeEJBs()
#foreach($operation in $operations)
    #writePrototypeMethods()
#end##foreach-operation
}
#break

#macro(setLocalVariables)
    #set($entityClass = $entity.wrapper.javaClassName)
    #set($entityVar   = $entity.wrapper.javaVariableName)
    #set($entityVar   = 'instance')
    #set($operations  = $ColUtils.filter($entity.businessOperationsList, $isProcessOperation))
    #set($operations  = $ColUtils.sort($operations, $byOperationName))
    #set($primaryGet  = "get$!{entity.primaryKeyProperty.wrapper.javaClassName}")
    #set($primaryVar  = "$!{entity.primaryKeyProperty.wrapper.javaVariableName}")
    #set($primaryVar  = 'id')
    #setPersistentJavaType("$!{entity.primaryKeyProperty.wrapper.javaPrimitiveType}")
    #set($primaryType = "$!persistentJavaType")
    #set($facades = $VelocityAid.getNewLinkedHashSet())
    #parse("$templatePath/blocks/set-variables.vm")
    #setEntityVariables()
#end##setLocalVariables

#macro(addImports)
    #set($entityClass = $entity.wrapper.javaClassName)
    #set($added = $imports.add("${processPackage}.${entityClass}BusinessProcessLocal"))
    #set($added = $imports.add("${processLogicPackage}.${entityClass}BusinessProcessLogicLocal"))
    #set($added = $interfaces.add("${entityClass}BusinessProcessLogicLocal"))
    #set($added = $imports.add("${entityPackage}.${entityClass}"))
    #foreach($operation in $operations)
        #set($message = "${entity.wrapper.javaClassName}${operation.wrapper.javaClassName}Message")
        #set($added = $imports.add("${messagePackage}.${message}"))
        #if($operation.checksList.isEmpty() && $operation.initialStatesList.isEmpty())
        #else
            #set($added = $imports.add("${project.rootPackageName}.lib.core.app.ExcepcionAplicacion"))
            #set($added = $imports.add("${project.rootPackageName}.lib.core.app.TLC"))
        #end
        #addParameterImports()
    #end##foreach-operation
    #set($added = $imports.add("${project.rootPackageName}.lib.base.util.*"))
    #set($added = $imports.add("${project.rootPackageName}.lib.core.app.TLC"))
    #set($added = $imports.add('javax.ejb.EJB'))
    #set($added = $imports.add('javax.ejb.Stateless'))
#end##addImports

#macro(addParameterImports)
    #foreach($parameter in $operation.parametersList)
        #if($parameter.linkedProperty)
            #if($parameter.isPersistentEntity())
                #set($added = $imports.add("${facadePackage}.${parameter.root.wrapper.javaClassName}FacadeLocal"))
                #set($added = $facades.add($parameter.root))
            #end
        #end
        #if($parameter.isFileReferenceField() && $parameter.joinProperty)
            #set($added = $imports.add("${project.rootPackageName}.lib.core.util.Utils"))
            #if($parameter.joinProperty.isPersistentEntity())
                #set($added = $imports.add("${facadePackage}.${parameter.joinProperty.root.wrapper.javaClassName}FacadeLocal"))
                #set($added = $facades.add($parameter.joinProperty.root))
            #end
        #end
    #end##foreach-parameter
    #if($operation.instanceParameter)
        #foreach($property in $operation.instanceParameter.propertiesList)
            #if($property.isPersistentEntity())
                #set($added = $imports.add("${facadePackage}.${property.root.wrapper.javaClassName}FacadeLocal"))
                #set($added = $facades.add($property.root))
            #end
        #end
    #end
#end##addParameterImports

#macro(writeEJBs)
#foreach($facade in $facades)
    @EJB
    private ${facade.wrapper.javaClassName}FacadeLocal ${facade.wrapper.javaVariableName}Facade;

#end
    @EJB
    private ${entityClass}BusinessProcessLocal processor;

    @EJB(beanName = "${entityClass}BusinessProcessLogicBean")
    private ${entityClass}BusinessProcessLogicLocal logician;

#end##writeEJBs

#macro(writeProcessMethods)
#end##writeProcessMethods

#macro(writePrototypeMethods)
    #set($message = "${entity.wrapper.javaClassName}${operation.wrapper.javaClassName}Message")
    #set($process = "${operation.wrapper.javaVariableName}")
    #writeOperationJavadocType1()
    @Override
    #if("$!operation.operationKind" == 'INSTANCE')
....    public void ${process}(${message} message, ${entityClass} ${entityVar}) throws Exception {
    #else
....    public void ${process}(${message} message) throws Exception {
    #end
        if (message == null) {
            throw new IllegalArgumentException(${message}.class.getSimpleName());
        }
    #if("$!operation.operationKind" == 'INSTANCE')
        if (${entityVar} == null) {
            throw new IllegalArgumentException(${entityClass}.class.getSimpleName());
        }
    #end
    #if($operation.checksList.isEmpty() && $operation.initialStatesList.isEmpty())
    #else
        #if("$!operation.operationKind" == 'INSTANCE')
....        boolean rejected = !processor.${process}Allowed(message, ${entityVar});
        #else
....        boolean rejected = !processor.${process}Allowed(message);
        #end
        if (rejected) {
            throw new ExcepcionAplicacion(TLC.getBitacora().getLogString());
        }
    #end
    #if("$!operation.operationKind" == 'INSTANCE')
        #writePrototypeSetters()
    #else
        logician.${process}(message);
    #end
    }

#end##writePrototypeMethods

#macro(writePrototypeSetters)
    #set($writeLinkedParametersSetters = $FALSE)
    #if("$!prototypeSetters" == 'true')
        #foreach($parameter in $operation.parametersList)
            #if($parameter.linkedProperty)
                #set($writeLinkedParametersSetters = $TRUE)
                #break
            #end
            #if($parameter.isFileReferenceField() && $parameter.joinProperty)
                #set($writeLinkedParametersSetters = $TRUE)
                #break
            #end
        #end##foreach-parameter
        #if($writeLinkedParametersSetters)
        #elseif($operation.instanceParameter)
            #foreach($property in $operation.instanceParameter.propertiesList)
                #set($currentValue = $VelocityAid.coalesce($property.wrapper.getSqlCurrentValue(), $FALSE))
                #if($currentValue)
                    #set($writeLinkedParametersSetters = $TRUE)
                    #break
                #end
            #end
        #end
    #end
    #if($writeLinkedParametersSetters)
//      logician.${process}(message, ${entityVar});
        #foreach($parameter in $operation.parametersList)
            #if($parameter.linkedProperty)
                #set($setter = "${entityVar}.set${parameter.linkedProperty.wrapper.javaClassName}")
                #set($getter = "message.getArgumento${parameter.wrapper.javaClassName}()")
                #set($object = $getter)
                #if($parameter.isPersistentEntity())
                    #set($facade = "${parameter.root.wrapper.javaVariableName}Facade")
                    #set($object = "${facade}.find($object)")
                #end
                #set($parameterDefaultValue = "$!parameter.wrapper.javaDefaultValue")
                #set($parameterDefaultValue = '')
                #if($parameterDefaultValue == '' || $parameterDefaultValue == 'null')
............        ${setter}($object);
                #else
............        ${setter}($getter == null ? $parameterDefaultValue : $object);
                #end
            #end
            #if($parameter.isFileReferenceField() && $parameter.joinProperty)
                #set($setter = "${entityVar}.set${parameter.joinProperty.wrapper.javaClassName}")
                #set($getter = "Utils.getLongAttachedFileSimpleName(message.getArgumento${parameter.wrapper.javaClassName}())")
                #set($object = $getter)
                #if($parameter.joinProperty.isPersistentEntity())
                    #set($facade = "${parameter.joinProperty.root.wrapper.javaVariableName}Facade")
                    #set($object = "${facade}.find($object)")
                #end
........        ${setter}($object);
            #end
        #end##foreach-parameter
        #if($operation.instanceParameter)
            #foreach($property in $operation.instanceParameter.propertiesList)
                #set($currentValue = $VelocityAid.coalesce($property.wrapper.getJavaCurrentValue(), $FALSE))
                #if($currentValue)
                    #set($setter = "${entityVar}.set${property.wrapper.javaClassName}")
                    #set($getter = $currentValue)
                    #set($object = $getter)
                    #if($property.isPersistentEntity())
                        #set($facade = "${property.root.wrapper.javaVariableName}Facade")
                        #set($object = "${facade}.find($object)")
                    #end
............        ${setter}($object);
                #end
            #end
        #end
    #else
        logician.${process}(message, ${entityVar});
    #end
#end##writePrototypeSetters
